cmb-common/cmb-ws-clients/wlnp-port-request-info-ws-client-1-0/src/main/resources/wsdls/PortRequestInformationService_v1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:shttp="http://soa.com/wsdl/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/RMO/ResourceMgmt/PortRequestInformationService_1"
                  xmlns:tns="http://xmlschema.tmi.telus.com/srv/RMO/ResourceMgmt/PortRequestInformationServiceRequestResponse_v1"
                  targetNamespace="http://telus.com/wsdl/RMO/ResourceMgmt/PortRequestInformationService_1"><!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v3_2.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_1.xsd
			--><wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/RMO/ResourceMgmt/PortRequestInformationService_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/RMO/ResourceMgmt/PortRequestInformationServiceRequestResponse_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/RMO/ResourceMgmt/PortRequestInformationServiceRequestResponse_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getCurrentPortRequests">
      <wsdl:part name="parameters" element="tns:getCurrentPortRequests"/>
   </wsdl:message>
   <wsdl:message name="getCurrentPortRequestsResponse">
      <wsdl:part name="result" element="tns:getCurrentPortRequestsResponse"/>
   </wsdl:message>
   <wsdl:message name="getPortReferenceData">
      <wsdl:part name="parameters" element="tns:getReferenceData"/>
   </wsdl:message>
   <wsdl:message name="getPortReferenceDataResponse">
      <wsdl:part name="result" element="tns:getReferenceDataResponse"/>
   </wsdl:message>
   <wsdl:message name="validatePortInRequest">
      <wsdl:part name="parameters" element="tns:validatePortInRequest"/>
   </wsdl:message>
   <wsdl:message name="validatePortInRequestResponse">
      <wsdl:part name="result" element="tns:validatePortInRequestResponse"/>
   </wsdl:message>
   <wsdl:message name="checkPortRequestStatus">
      <wsdl:part name="parameters" element="tns:checkPortRequestStatus"/>
   </wsdl:message>
   <wsdl:message name="checkPortRequestStatusResponse">
      <wsdl:part name="result" element="tns:checkPortRequestStatusResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:portType name="PortRequestInformationService_v1_0_PortType">
      <wsdl:operation name="getCurrentPortRequests">
         <wsdl:input message="iface:getCurrentPortRequests"/>
         <wsdl:output message="iface:getCurrentPortRequestsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getPortReferenceData">
         <wsdl:input message="iface:getPortReferenceData"/>
         <wsdl:output message="iface:getPortReferenceDataResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="validatePortInRequest">
         <wsdl:input message="iface:validatePortInRequest"/>
         <wsdl:output message="iface:validatePortInRequestResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="checkPortRequestStatus">
         <wsdl:input message="iface:checkPortRequestStatus"/>
         <wsdl:output message="iface:checkPortRequestStatusResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="PortRequestInformationService_v1_0_SOAP"
                 type="iface:PortRequestInformationService_v1_0_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getCurrentPortRequests">
         <wsdl:documentation>*** Get the Port Request Details based on either one of the inputs like smg Request Number/Request ID/TN/ban ID ***</wsdl:documentation>
         <soap:operation soapAction="getCurrentPortRequests"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getPortReferenceData">
         <wsdl:documentation>*** This method is used for fetching the reference master data for a given Category ID ***</wsdl:documentation>
         <soap:operation soapAction="getPortReferenceData"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="validatePortInRequest">
         <wsdl:documentation>*** This method validates the GUI Fields value entered before proceeding Port in ***</wsdl:documentation>
         <soap:operation soapAction="validatePortInRequest"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="checkPortRequestStatus">
         <wsdl:documentation>*** This method is used for checking the Port Request Status like ICP Fallout, ACTV_ACKD, ACTV_SENT,NPAC_CNFM,PORT_CNCL...etc ***</wsdl:documentation>
         <soap:operation soapAction="checkPortRequestStatus"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="PortRequestInformationService_v1_0">
      <wsdl:port name="PortRequestInformationServicePort"
                 binding="iface:PortRequestInformationService_v1_0_SOAP">
         <soap:address location="http://rmf-resourceordermgmt-dv103.tmi.telus.com/v1/rmo/resourcemgmt/resource/portrequestinformationservice-v1-0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>