cmb-common/cmb-ws-clients/communication-suite-mgmt-ws-client-1-0/src/main/resources/wsdls/CommunicationSuiteMgmtSvc_v1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:shttp="http://soa.com/wsdl/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/SubscriberProfileMgmt/CommunicationSuiteMgmtSvc_1"
                  xmlns:csms="http://xmlschema.tmi.telus.com/srv/CMO/SubscriberProfileMgmt/CommunicationSuiteMgmtSvcRequestResponse_v1"
                  targetNamespace="http://telus.com/wsdl/CMO/SubscriberProfileMgmt/CommunicationSuiteMgmtSvc_1"><!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v4_0.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_2.xsd
				--><wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/SubscriberProfileMgmt/CommunicationSuiteMgmtSvc_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/SubscriberProfileMgmt/CommunicationSuiteMgmtSvcRequestResponse_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/SubscriberProfileMgmt/CommunicationSuiteMgmtSvcRequestResponse_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getCommunicationSuiteByAccountNumber">
      <wsdl:part name="parameters" element="csms:getCommunicationSuiteByAccountNumber"/>
   </wsdl:message>
   <wsdl:message name="getCommunicationSuiteByAccountNumberResponse">
      <wsdl:part name="result" element="csms:getCommunicationSuiteByAccountNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="createCommunicationSuite">
      <wsdl:part name="parameters" element="csms:createCommunicationSuite"/>
   </wsdl:message>
   <wsdl:message name="createCommunicationSuiteResponse">
      <wsdl:part name="result" element="csms:createCommunicationSuiteResponse"/>
   </wsdl:message>
   <wsdl:message name="removeCommunicationSuite">
      <wsdl:part name="parameters" element="csms:removeCommunicationSuite"/>
   </wsdl:message>
   <wsdl:message name="removeCommunicationSuiteResponse">
      <wsdl:part name="result" element="csms:removeCommunicationSuiteResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:portType name="CommunicationSuiteMgmtSvc_v1_0_PortType">
      <wsdl:operation name="getCommunicationSuiteByAccountNumber">
         <wsdl:input message="iface:getCommunicationSuiteByAccountNumber"/>
         <wsdl:output message="iface:getCommunicationSuiteByAccountNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="createCommunicationSuite">
         <wsdl:input message="iface:createCommunicationSuite"/>
         <wsdl:output message="iface:createCommunicationSuiteResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="removeCommunicationSuite">
         <wsdl:input message="iface:removeCommunicationSuite"/>
         <wsdl:output message="iface:removeCommunicationSuiteResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="CommunicationSuiteMgmtSvc_v1_0_SOAP"
                 type="iface:CommunicationSuiteMgmtSvc_v1_0_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getCommunicationSuiteByAccountNumber">
         <wsdl:documentation>This operation retrieves communication suites consisting of one primary subscriber and all of its companion subscribers within the billing account.  The service only consider subscribers that contain the Single Number Husky SOC as a CommunicationSuiteSubscriber.</wsdl:documentation>
         <soap:operation soapAction="getCommunicationSuiteByAccountNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="createCommunicationSuite">
         <wsdl:documentation>This operation creates a communication suite which pairs the primary subscriber and the companion subscriber within the same billing account. The prerequisite for creating the new suite is that the companion subscriber must already have the Single Number Husky SOC on its service agreement.  If the primary subscriber does not have the Single number Husky SOC, this service will be added to the primary subscriber's service agreement.  If the primary subscriber already has a communication suite, then the companion subscriber will be added to this communication suite. In addition, companion subscriber's name will be updated as primary subscriber's 1st/last name + postfix </wsdl:documentation>
         <soap:operation soapAction="createCommunicationSuite"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="removeCommunicationSuite">
         <wsdl:documentation>This operation removes a communication suite pairing between the primary subscriber and a companion subscriber within the same billing account.  If there are other companion subscribers (siblings) in the communication suite, then only the specified companion is removed from the suite.  The companion subscriber (being removed) will become an orphan companion and if there are no other siblings in the suite, the primary subscriber will become an orphan primary.</wsdl:documentation>
         <soap:operation soapAction="removeCommunicationSuite"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="CommunicationSuiteMgmtSvc_v1_0">
      <wsdl:port name="CommunicationSuiteMgmtSvcPort"
                 binding="iface:CommunicationSuiteMgmtSvc_v1_0_SOAP">
         <soap:address location="http://smintegration-customer-dv103.tsl.telus.com/CMO/SubscriberProfileMgmt/CommunicationSuiteMgmt/CommunicationSuiteMgmtSvc_v1_0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>