cmb-common/cmb-ws-clients/service-detail-retrieval-ws-client-1-0/src/main/resources/wsdls/ServiceDetailRetrievalService_v1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/SMO/SpecificationMgmt/ServiceDetailRetrievalService_1"
                  xmlns:sdrs="http://xmlschema.tmi.telus.com/srv/SMO/SpecificationMgmt/ServiceDetailRetrievalServiceRequestResponse_v1"
                  name="ServiceDetailRetrievalService_v1_0.wsdl"
                  targetNamespace="http://telus.com/wsdl/SMO/SpecificationMgmt/ServiceDetailRetrievalService_1"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_6.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Implements functionality for retrieving service rate information.</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/SMO/SpecificationMgmt/ServiceDetailRetrievalService_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/SMO/SpecificationMgmt/ServiceDetailRetrievalServiceRequestResponse_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/SMO/SpecificationMgmt/ServiceDetailRetrievalRequestResponse_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getDataServiceRateScheduleForServiceCodeList">
      <wsdl:part name="parameters" element="sdrs:getDataServiceRateScheduleForServiceCodeList"/>
   </wsdl:message>
   <wsdl:message name="getDataServiceRateScheduleForServiceCodeListResponse">
      <wsdl:part name="result"
                 element="sdrs:getDataServiceRateScheduleForServiceCodeListResponse"/>
   </wsdl:message>
   <wsdl:message name="getDataMarketLevelServiceRateSchedule">
      <wsdl:part name="parameters" element="sdrs:getDataMarketLevelServiceRateSchedule"/>
   </wsdl:message>
   <wsdl:message name="getDataMarketLevelServiceRateScheduleResponse">
      <wsdl:part name="result" element="sdrs:getDataMarketLevelServiceRateScheduleResponse"/>
   </wsdl:message>
   <wsdl:message name="getVoiceMarketLevelServiceRateSchedule">
      <wsdl:part name="parameters" element="sdrs:getVoiceMarketLevelServiceRateSchedule"/>
   </wsdl:message>
   <wsdl:message name="getVoiceMarketLevelServiceRateScheduleResponse">
      <wsdl:part name="result" element="sdrs:getVoiceMarketLevelServiceRateScheduleResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="ServiceDetailRetrievalServicePortType">
      <wsdl:operation name="getDataServiceRateScheduleForServiceCodeList">
         <wsdl:input message="iface:getDataServiceRateScheduleForServiceCodeList"/>
         <wsdl:output message="iface:getDataServiceRateScheduleForServiceCodeListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getDataMarketLevelServiceRateSchedule">
         <wsdl:input message="iface:getDataMarketLevelServiceRateSchedule"/>
         <wsdl:output message="iface:getDataMarketLevelServiceRateScheduleResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getVoiceMarketLevelServiceRateSchedule">
         <wsdl:input message="iface:getVoiceMarketLevelServiceRateSchedule"/>
         <wsdl:output message="iface:getVoiceMarketLevelServiceRateScheduleResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="ServiceDetailRetrievalServiceSOAP"
                 type="iface:ServiceDetailRetrievalServicePortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getDataServiceRateScheduleForServiceCodeList">
         <wsdl:documentation>This is the operation to return the service rate schedule for the input services list.</wsdl:documentation>
         <soap:operation soapAction="getDataServiceRateScheduleForServiceCodeList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getDataMarketLevelServiceRateSchedule">
         <wsdl:documentation>This is the operation to return the Data market level service rate schedule for the input brand for all the available services under that brand.</wsdl:documentation>
         <soap:operation soapAction="getDataMarketLevelServiceRateSchedule"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getVoiceMarketLevelServiceRateSchedule">
         <wsdl:documentation>This is the operation to return the Voice market level service rate schedule for the input brand for all the available services under that brand.</wsdl:documentation>
         <soap:operation soapAction="getVoiceMarketLevelServiceRateSchedule"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="ServiceDetailRetrievalService_v1_0">
      <wsdl:port name="ServiceDetailRetrievalServicePort"
                 binding="iface:ServiceDetailRetrievalServiceSOAP">
         <soap:address location="http://smosr-servicespecmgmt-dv103.tmi.telus.com/SMO/SpecificationMgmt/ServiceDetailRetrievalService_v1_0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>