cmb-ait/cmb-ws-clients/src/main/resources/wsdls/WirelessAccountLifecycleMgmtService/WirelessAccountLifecycleMgmtService_v1_3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/OrderMgmt/WirelessAccountLifecycleMgmtService_1"
                  xmlns:wlsalc="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WirelessAccountLifecycleMgmtServiceRequestResponse_v1"
                  name="WirelessAccountLifecycleMgmtService_v1_3.wsdl"
                  targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/WirelessAccountLifecycleMgmtService_1"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Manages wireless account life-cycle processes in KB.</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/WirelessAccountLifecycleMgmtService_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WirelessAccountLifecycleMgmtServiceRequestResponse_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WirelessAccountLifecycleMgmtServiceRequestResponse_v1_3.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="createPostpaidAccount">
      <wsdl:part name="parameters" element="wlsalc:createPostpaidAccount"/>
      <wsdl:part name="createPostpaidAccountInSoapHdr" element="wlsalc:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="createPostpaidAccountResponse">
      <wsdl:part name="result" element="wlsalc:createPostpaidAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="createPrepaidAccount">
      <wsdl:part name="parameters" element="wlsalc:createPrepaidAccount"/>
      <wsdl:part name="createPrepaidAccountInSoapHdr" element="wlsalc:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="createPrepaidAccountResponse">
      <wsdl:part name="result" element="wlsalc:createPrepaidAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="restoreAccountFromPayment">
      <wsdl:part name="parameters" element="wlsalc:restoreAccountFromPayment"/>
      <wsdl:part name="restoreAccountFromPaymentInSoapHdr" element="wlsalc:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="restoreAccountFromPaymentResponse">
      <wsdl:part name="result" element="wlsalc:restoreAccountFromPaymentResponse"/>
   </wsdl:message>
   <wsdl:message name="applyPaymentNotification">
      <wsdl:part name="parameters" element="wlsalc:applyPaymentNotification"/>
   </wsdl:message>
   <wsdl:message name="applyPaymentNotificationResponse">
      <wsdl:part name="result" element="wlsalc:applyPaymentNotificationResponse"/>
   </wsdl:message>
   <wsdl:message name="checkPaymentArrangementEligibility">
      <wsdl:part name="parameters" element="wlsalc:checkPaymentArrangementEligibility"/>
   </wsdl:message>
   <wsdl:message name="checkPaymentArrangementEligibilityResponse">
      <wsdl:part name="result" element="wlsalc:checkPaymentArrangementEligibilityResponse"/>
   </wsdl:message>
   <wsdl:message name="applyPaymentArrangement">
      <wsdl:part name="parameters" element="wlsalc:applyPaymentArrangement"/>
   </wsdl:message>
   <wsdl:message name="applyPaymentArrangementResponse">
      <wsdl:part name="result" element="wlsalc:applyPaymentArrangementResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="WirelessAccountLifecycleMgmtService_v1_3_PortType">
      <wsdl:operation name="createPostpaidAccount">
         <wsdl:input message="iface:createPostpaidAccount"/>
         <wsdl:output message="iface:createPostpaidAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="createPrepaidAccount">
         <wsdl:input message="iface:createPrepaidAccount"/>
         <wsdl:output message="iface:createPrepaidAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="restoreAccountFromPayment">
         <wsdl:input message="iface:restoreAccountFromPayment"/>
         <wsdl:output message="iface:restoreAccountFromPaymentResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="applyPaymentNotification">
         <wsdl:input message="iface:applyPaymentNotification"/>
         <wsdl:output message="iface:applyPaymentNotificationResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="checkPaymentArrangementEligibility">
         <wsdl:input message="iface:checkPaymentArrangementEligibility"/>
         <wsdl:output message="iface:checkPaymentArrangementEligibilityResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="applyPaymentArrangement">
         <wsdl:input message="iface:applyPaymentArrangement"/>
         <wsdl:output message="iface:applyPaymentArrangementResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="WirelessAccountLifecycleMgmtService_v1_3_SOAP"
                 type="iface:WirelessAccountLifecycleMgmtService_v1_3_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="createPostpaidAccount">
         <wsdl:documentation>Creates a postpaid account.</wsdl:documentation>
         <soap:operation soapAction="createPostpaidAccount"/>
         <wsdl:input>
            <wsdl:documentation>User header allows input of customer ID and list of consuming application IDs.</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:createPostpaidAccount"
                         part="createPostpaidAccountInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="createPrepaidAccount">
         <wsdl:documentation>Creates a prepaid account.</wsdl:documentation>
         <soap:operation soapAction="createPrepaidAccount"/>
         <wsdl:input>
            <wsdl:documentation>User header allows input of customer ID and list of consuming application IDs.</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:createPrepaidAccount"
                         part="createPrepaidAccountInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="restoreAccountFromPayment">
         <wsdl:documentation>Restores a suspended account after payment has been made.</wsdl:documentation>
         <soap:operation soapAction="restoreAccountFromPayment"/>
         <wsdl:input>
            <wsdl:documentation>User header allows input of customer ID and list of consuming application IDs.</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:restoreAccountFromPayment"
                         part="restoreAccountFromPaymentInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="applyPaymentNotification">
         <wsdl:documentation>Processes account payment notification.</wsdl:documentation>
         <soap:operation soapAction="applyPaymentNotification"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="checkPaymentArrangementEligibility">
         <wsdl:documentation>Validates account payment arrangement eligibility.</wsdl:documentation>
         <soap:operation soapAction="checkPaymentArrangementEligibility"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="applyPaymentArrangement">
         <wsdl:documentation>Processes account payment arrangement.</wsdl:documentation>
         <soap:operation soapAction="applyPaymentArrangement"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="WirelessAccountLifecycleMgmtService_v1_3">
      <wsdl:port name="WirelessAccountLifecycleMgmtServicePort"
                 binding="iface:WirelessAccountLifecycleMgmtService_v1_3_SOAP">
         <soap:address location="http://cmf-ordermgmt-dv103.tmi.telus.com/CMO/OrderMgmt/WirelessAccountLifecycleMgmtService/WirelessAccountLifecycleMgmtService_v1_3"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>