cmb-common/cmb-ws-clients/summary-data-usage-ws-client-5-0/src/main/resources/wsdls/SummaryDataServicesUsageService_v5_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/BillingInquiryMgmt/SummaryDataServicesUsageService_5"
                  xmlns:CMOBInq="http://xmlschema.tmi.telus.com/srv/CMO/BillingInquiryMgmt/SummaryDataUsageServiceRequestResponse_v5"
                  name="SummaryDataServicesUsageService_v5_0.wsdl"
                  targetNamespace="http://telus.com/wsdl/CMO/BillingInquiryMgmt/SummaryDataServicesUsageService_5"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_6.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>This service exposes operations to query summarized data usage from 2ECMS, 3ECMS and/or Common IPDR database. 
</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/BillingInquiryMgmt/SummaryDataServicesUsageService_5">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/BillingInquiryMgmt/SummaryDataUsageServiceRequestResponse_v5"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/BillingInquiryMgmt/SummaryDataUsageServiceRequestResponse_v5_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getRatedUsageByServiceType">
      <wsdl:part name="parameters" element="CMOBInq:getRatedUsageByServiceType"/>
   </wsdl:message>
   <wsdl:message name="getRatedUsageByServiceTypeResponse">
      <wsdl:part name="result" element="CMOBInq:getRatedUsageByServiceTypeResponse"/>
   </wsdl:message>
   <wsdl:message name="getDailyRatedUsage">
      <wsdl:part name="parameters" element="CMOBInq:getDailyRatedUsage"/>
   </wsdl:message>
   <wsdl:message name="getDailyRatedUsageResponse">
      <wsdl:part name="result" element="CMOBInq:getDailyRatedUsageResponse"/>
   </wsdl:message>
   <wsdl:message name="getDailyDataUsage">
      <wsdl:part name="parameters" element="CMOBInq:getDailyDataUsage"/>
   </wsdl:message>
   <wsdl:message name="getDailyDataUsageResponse">
      <wsdl:part name="result" element="CMOBInq:getDailyDataUsageResponse"/>
   </wsdl:message>
   <wsdl:message name="getTotalOutstandingAmountByAccount">
      <wsdl:part name="parameters" element="CMOBInq:getTotalOutstandingAmountByAccount"/>
   </wsdl:message>
   <wsdl:message name="getTotalOutstandingAmountByAccountResponse">
      <wsdl:part name="result" element="CMOBInq:getTotalOutstandingAmountByAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="getTotalRatedUsage">
      <wsdl:part name="parameters" element="CMOBInq:getTotalRatedUsage"/>
   </wsdl:message>
   <wsdl:message name="getTotalRatedUsageResponse">
      <wsdl:part name="result" element="CMOBInq:getTotalRatedUsageResponse"/>
   </wsdl:message>
   <wsdl:message name="getTotalDataUsage">
      <wsdl:part name="parameters" element="CMOBInq:getTotalDataUsage"/>
   </wsdl:message>
   <wsdl:message name="getTotalDataUsageResponse">
      <wsdl:part name="result" element="CMOBInq:getTotalDataUsageResponse"/>
   </wsdl:message>
   <wsdl:message name="getTotalUnbilledAmountByAccount">
      <wsdl:part name="parameters" element="CMOBInq:getTotalUnbilledAmountByAccount"/>
   </wsdl:message>
   <wsdl:message name="getTotalUnbilledAmountByAccountResponse">
      <wsdl:part name="result" element="CMOBInq:getTotalUnbilledAmountByAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="SummaryDataServicesUsageServicePortType">
      <wsdl:operation name="getRatedUsageByServiceType">
         <wsdl:input message="iface:getRatedUsageByServiceType"/>
         <wsdl:output message="iface:getRatedUsageByServiceTypeResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getDailyRatedUsage">
         <wsdl:input message="iface:getDailyRatedUsage"/>
         <wsdl:output message="iface:getDailyRatedUsageResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getDailyDataUsage">
         <wsdl:input message="iface:getDailyDataUsage"/>
         <wsdl:output message="iface:getDailyDataUsageResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getTotalOutstandingAmountByAccount">
         <wsdl:input message="iface:getTotalOutstandingAmountByAccount"/>
         <wsdl:output message="iface:getTotalOutstandingAmountByAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getTotalRatedUsage">
         <wsdl:input message="iface:getTotalRatedUsage"/>
         <wsdl:output message="iface:getTotalRatedUsageResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getTotalDataUsage">
         <wsdl:input message="iface:getTotalDataUsage"/>
         <wsdl:output message="iface:getTotalDataUsageResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getTotalUnbilledAmountByAccount">
         <wsdl:input message="iface:getTotalUnbilledAmountByAccount"/>
         <wsdl:output message="iface:getTotalUnbilledAmountByAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SummaryDataServicesUsageServiceSOAP"
                 type="iface:SummaryDataServicesUsageServicePortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getRatedUsageByServiceType">
         <wsdl:documentation/>
         <soap:operation soapAction="getRatedUsageByServiceType"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getDailyRatedUsage">
         <wsdl:documentation/>
         <soap:operation soapAction="getDailyRatedUsage"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getDailyDataUsage">
         <wsdl:documentation/>
         <soap:operation soapAction="getDailyDataUsage"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getTotalOutstandingAmountByAccount">
         <wsdl:documentation/>
         <soap:operation soapAction="getTotalOutstandingAmountByAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getTotalRatedUsage">
         <wsdl:documentation/>
         <soap:operation soapAction="getTotalRatedUsage"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getTotalDataUsage">
         <wsdl:documentation/>
         <soap:operation soapAction="getTotalDataUsage"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getTotalUnbilledAmountByAccount">
         <wsdl:documentation/>
         <soap:operation soapAction="getTotalUnbilledAmountByAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="SummaryDataServicesUsageService_v5_0">
      <wsdl:port name="SummaryDataServicesUsageServicePort"
                 binding="iface:SummaryDataServicesUsageServiceSOAP">
         <soap:address location="http://cmbilling-billinginquiry-dv103.tmi.telus.com/CMO/BillingInquiryMgmt/DSUsageServiceSummary/SummaryDataServicesUsageService_v5_0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>