cmb-ait/cmb-ws-clients/src/main/resources/wsdls/ServiceOrderReferenceService/ServiceOrderReferenceService_v5_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:shttp="http://soa.com/wsdl/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/SMO/OrderMgmt/ServiceOrderReferenceService_5"
                  xmlns:sor="http://xmlschema.tmi.telus.com/srv/SMO/OrderMgmt/ServiceOrderReferenceServiceRequestResponse_v5"
                  targetNamespace="http://telus.com/wsdl/SMO/OrderMgmt/ServiceOrderReferenceService_5"><!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v3_2.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_1.xsd
			--><wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/SMO/OrderMgmt/ServiceOrderReferenceService_5">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/SMO/OrderMgmt/ServiceOrderReferenceServiceRequestResponse_v5"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/SMO/OrderMgmt/ServiceOrderReferenceServiceRequestResponse_v5_1.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getCommitmentReasonList">
      <wsdl:part name="parameters" element="sor:getCommitmentReasonList"/>
   </wsdl:message>
   <wsdl:message name="getCommitmentReasonListResponse">
      <wsdl:part name="result" element="sor:getCommitmentReasonListResponse"/>
   </wsdl:message>
   <wsdl:message name="getCommitmentReason">
      <wsdl:part name="parameters" element="sor:getCommitmentReason"/>
   </wsdl:message>
   <wsdl:message name="getCommitmentReasonResponse">
      <wsdl:part name="result" element="sor:getCommitmentReasonResponse"/>
   </wsdl:message>
   <wsdl:message name="getPoolingGroupList">
      <wsdl:part name="parameters" element="sor:getPoolingGroupList"/>
   </wsdl:message>
   <wsdl:message name="getPoolingGroupListResponse">
      <wsdl:part name="result" element="sor:getPoolingGroupListResponse"/>
   </wsdl:message>
   <wsdl:message name="getPoolingGroup">
      <wsdl:part name="parameters" element="sor:getPoolingGroup"/>
   </wsdl:message>
   <wsdl:message name="getPoolingGroupResponse">
      <wsdl:part name="result" element="sor:getPoolingGroupResponse"/>
   </wsdl:message>
   <wsdl:message name="getFeatureList">
      <wsdl:part name="parameters" element="sor:getFeatureList"/>
   </wsdl:message>
   <wsdl:message name="getFeatureListResponse">
      <wsdl:part name="result" element="sor:getFeatureListResponse"/>
   </wsdl:message>
   <wsdl:message name="getFeature">
      <wsdl:part name="parameters" element="sor:getFeature"/>
   </wsdl:message>
   <wsdl:message name="getFeatureResponse">
      <wsdl:part name="result" element="sor:getFeatureResponse"/>
   </wsdl:message>
   <wsdl:message name="getRegularServiceList">
      <wsdl:part name="parameters" element="sor:getRegularServiceList"/>
   </wsdl:message>
   <wsdl:message name="getRegularServiceListResponse">
      <wsdl:part name="result" element="sor:getRegularServiceListResponse"/>
   </wsdl:message>
   <wsdl:message name="getRegularService">
      <wsdl:part name="parameters" element="sor:getRegularService"/>
   </wsdl:message>
   <wsdl:message name="getRegularServiceResponse">
      <wsdl:part name="result" element="sor:getRegularServiceResponse"/>
   </wsdl:message>
   <wsdl:message name="getPrepaidServiceList">
      <wsdl:part name="parameters" element="sor:getPrepaidServiceList"/>
   </wsdl:message>
   <wsdl:message name="getPrepaidServiceListResponse">
      <wsdl:part name="result" element="sor:getPrepaidServiceListResponse"/>
   </wsdl:message>
   <wsdl:message name="getPrepaidServiceListByEquipmentAndNetworkType">
      <wsdl:part name="parameters" element="sor:getPrepaidServiceListByEquipmentAndNetworkType"/>
   </wsdl:message>
   <wsdl:message name="getPrepaidServiceListByEquipmentAndNetworkTypeResponse">
      <wsdl:part name="result"
                 element="sor:getPrepaidServiceListByEquipmentAndNetworkTypeResponse"/>
   </wsdl:message>
   <wsdl:message name="getPrepaidService">
      <wsdl:part name="parameters" element="sor:getPrepaidService"/>
   </wsdl:message>
   <wsdl:message name="getPrepaidServiceResponse">
      <wsdl:part name="result" element="sor:getPrepaidServiceResponse"/>
   </wsdl:message>
   <wsdl:message name="getServiceListByFeatureCategory">
      <wsdl:part name="parameters" element="sor:getServiceListByFeatureCategory"/>
   </wsdl:message>
   <wsdl:message name="getServiceListByFeatureCategoryResponse">
      <wsdl:part name="result" element="sor:getServiceListByFeatureCategoryResponse"/>
   </wsdl:message>
   <wsdl:message name="getPricePlan">
      <wsdl:part name="parameters" element="sor:getPricePlan"/>
   </wsdl:message>
   <wsdl:message name="getPricePlanResponse">
      <wsdl:part name="result" element="sor:getPricePlanResponse"/>
   </wsdl:message>
   <wsdl:message name="getPricePlanSummaryListByPricePlanCodeList">
      <wsdl:part name="parameters" element="sor:getPricePlanSummaryListByPricePlanCodeList"/>
   </wsdl:message>
   <wsdl:message name="getPricePlanSummaryListByPricePlanCodeListResponse">
      <wsdl:part name="result" element="sor:getPricePlanSummaryListByPricePlanCodeListResponse"/>
   </wsdl:message>
   <wsdl:message name="getPricePlanByEquipmentAndAccountInfo">
      <wsdl:part name="parameters" element="sor:getPricePlanByEquipmentAndAccountInfo"/>
   </wsdl:message>
   <wsdl:message name="getPricePlanByEquipmentAndAccountInfoResponse">
      <wsdl:part name="result" element="sor:getPricePlanByEquipmentAndAccountInfoResponse"/>
   </wsdl:message>
   <wsdl:message name="getPricePlanList">
      <wsdl:part name="parameters" element="sor:getPricePlanList"/>
   </wsdl:message>
   <wsdl:message name="getPricePlanListResponse">
      <wsdl:part name="result" element="sor:getPricePlanListResponse"/>
   </wsdl:message>
   <wsdl:message name="checkServiceAssociation">
      <wsdl:part name="parameters" element="sor:checkServiceAssociation"/>
   </wsdl:message>
   <wsdl:message name="checkServiceAssociationResponse">
      <wsdl:part name="result" element="sor:checkServiceAssociationResponse"/>
   </wsdl:message>
   <wsdl:message name="getLogicalDate">
      <wsdl:part name="parameters" element="sor:getLogicalDate"/>
   </wsdl:message>
   <wsdl:message name="getLogicalDateResponse">
      <wsdl:part name="result" element="sor:getLogicalDateResponse"/>
   </wsdl:message>
   <wsdl:message name="getServiceExclusionGroupList">
      <wsdl:part name="parameters" element="sor:getServiceExclusionGroupList"/>
   </wsdl:message>
   <wsdl:message name="getServiceExclusionGroupListResponse">
      <wsdl:part name="result" element="sor:getServiceExclusionGroupListResponse"/>
   </wsdl:message>
   <wsdl:message name="getBrandList">
      <wsdl:part name="parameters" element="sor:getBrandList"/>
   </wsdl:message>
   <wsdl:message name="getBrandListResponse">
      <wsdl:part name="result" element="sor:getBrandListResponse"/>
   </wsdl:message>
   <wsdl:message name="getBrandByBrandId">
      <wsdl:part name="parameters" element="sor:getBrandByBrandId"/>
   </wsdl:message>
   <wsdl:message name="getBrandByBrandIdResponse">
      <wsdl:part name="result" element="sor:getBrandByBrandIdResponse"/>
   </wsdl:message>
   <wsdl:message name="checkServicePrivilege">
      <wsdl:part name="parameters" element="sor:checkServicePrivilege"/>
   </wsdl:message>
   <wsdl:message name="checkServicePrivilegeResponse">
      <wsdl:part name="result" element="sor:checkServicePrivilegeResponse"/>
   </wsdl:message>
   <wsdl:message name="checkPricePlanPrivilege">
      <wsdl:part name="parameters" element="sor:checkPricePlanPrivilege"/>
   </wsdl:message>
   <wsdl:message name="checkPricePlanPrivilegeResponse">
      <wsdl:part name="result" element="sor:checkPricePlanPrivilegeResponse"/>
   </wsdl:message>
   <wsdl:message name="getServiceTerm">
      <wsdl:part name="parameters" element="sor:getServiceTerm"/>
   </wsdl:message>
   <wsdl:message name="getServiceTermResponse">
      <wsdl:part name="result" element="sor:getServiceTermResponse"/>
   </wsdl:message>
   <wsdl:message name="getDataSharingGroupList">
      <wsdl:part name="parameters" element="sor:getDataSharingGroupList"/>
   </wsdl:message>
   <wsdl:message name="getDataSharingGroupListResponse">
      <wsdl:part name="result" element="sor:getDataSharingGroupListResponse"/>
   </wsdl:message>
   <wsdl:message name="getDataSharingGroup">
      <wsdl:part name="parameters" element="sor:getDataSharingGroup"/>
   </wsdl:message>
   <wsdl:message name="getDataSharingGroupResponse">
      <wsdl:part name="result" element="sor:getDataSharingGroupResponse"/>
   </wsdl:message>
   <wsdl:message name="getAirTimeAllocationList">
      <wsdl:part name="parameters" element="sor:getAirTimeAllocationList"/>
   </wsdl:message>
   <wsdl:message name="getAirTimeAllocationListResponse">
      <wsdl:part name="result" element="sor:getAirTimeAllocationListResponse"/>
   </wsdl:message>
   <wsdl:message name="getCalculatedEffectiveAirTimeAllocationList">
      <wsdl:part name="parameters" element="sor:getCalculatedEffectiveAirTimeAllocationList"/>
   </wsdl:message>
   <wsdl:message name="getCalculatedEffectiveAirTimeAllocationListResponse">
      <wsdl:part name="result" element="sor:getCalculatedEffectiveAirTimeAllocationListResponse"/>
   </wsdl:message>
   <wsdl:message name="getPeriodList">
      <wsdl:part name="parameters" element="sor:getPeriodList"/>
   </wsdl:message>
   <wsdl:message name="getPeriodListResponse">
      <wsdl:part name="result" element="sor:getPeriodListResponse"/>
   </wsdl:message>
   <wsdl:message name="getServiceFeatureClassification">
      <wsdl:part name="parameters" element="sor:getServiceFeatureClassification"/>
   </wsdl:message>
   <wsdl:message name="getServiceFeatureClassificationResponse">
      <wsdl:part name="result" element="sor:getServiceFeatureClassificationResponse"/>
   </wsdl:message>
   <wsdl:message name="getSpecialNumber">
      <wsdl:part name="parameters" element="sor:getSpecialNumber"/>
   </wsdl:message>
   <wsdl:message name="getSpecialNumberResponse">
      <wsdl:part name="result" element="sor:getSpecialNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="getSpecialNumberList">
      <wsdl:part name="parameters" element="sor:getSpecialNumberList"/>
   </wsdl:message>
   <wsdl:message name="getSpecialNumberListResponse">
      <wsdl:part name="result" element="sor:getSpecialNumberListResponse"/>
   </wsdl:message>
   <wsdl:message name="getSpecialNumberRange">
      <wsdl:part name="parameters" element="sor:getSpecialNumberRange"/>
   </wsdl:message>
   <wsdl:message name="getSpecialNumberRangeResponse">
      <wsdl:part name="result" element="sor:getSpecialNumberRangeResponse"/>
   </wsdl:message>
   <wsdl:message name="getSpecialNumberRangeList">
      <wsdl:part name="parameters" element="sor:getSpecialNumberRangeList"/>
   </wsdl:message>
   <wsdl:message name="getSpecialNumberRangeListResponse">
      <wsdl:part name="result" element="sor:getSpecialNumberRangeListResponse"/>
   </wsdl:message>
   <wsdl:message name="getEquivalentService">
      <wsdl:part name="parameters" element="sor:getEquivalentService"/>
   </wsdl:message>
   <wsdl:message name="getEquivalentServiceResponse">
      <wsdl:part name="result" element="sor:getEquivalentServiceResponse"/>
   </wsdl:message>
   <wsdl:message name="getServiceRelation">
      <wsdl:part name="parameters" element="sor:getServiceRelation"/>
   </wsdl:message>
   <wsdl:message name="getServiceRelationResponse">
      <wsdl:part name="result" element="sor:getServiceRelationResponse"/>
   </wsdl:message>
   <wsdl:message name="getServiceListByServiceGroup">
      <wsdl:part name="parameters" element="sor:getServiceListByServiceGroup"/>
   </wsdl:message>
   <wsdl:message name="getServiceListByServiceGroupResponse">
      <wsdl:part name="result" element="sor:getServiceListByServiceGroupResponse"/>
   </wsdl:message>
   <wsdl:message name="getIncludedPromotionService">
      <wsdl:part name="parameters" element="sor:getIncludedPromotionService"/>
   </wsdl:message>
   <wsdl:message name="getIncludedPromotionServiceResponse">
      <wsdl:part name="result" element="sor:getIncludedPromotionServiceResponse"/>
   </wsdl:message>
   <wsdl:message name="getAlternateRecurringCharge">
      <wsdl:part name="parameters" element="sor:getAlternateRecurringCharge"/>
   </wsdl:message>
   <wsdl:message name="getAlternateRecurringChargeResponse">
      <wsdl:part name="result" element="sor:getAlternateRecurringChargeResponse"/>
   </wsdl:message>
   <wsdl:message name="getPricePlanByEquipmentAndAccountByBusinessRole">
      <wsdl:part name="parameters" element="sor:getPricePlanByEquipmentAndAccountByBusinessRole"/>
   </wsdl:message>
   <wsdl:message name="getPricePlanByEquipmentAndAccountByBusinessRoleResponse">
      <wsdl:part name="result"
                 element="sor:getPricePlanByEquipmentAndAccountByBusinessRoleResponse"/>
   </wsdl:message>
   <wsdl:message name="getPricePlanAndServiceCodeListByGroupCode">
      <wsdl:part name="parameters" element="sor:getPricePlanAndServiceCodeListByGroupCode"/>
   </wsdl:message>
   <wsdl:message name="getPricePlanAndServiceCodeListByGroupCodeResponse">
      <wsdl:part name="result" element="sor:getPricePlanAndServiceCodeListByGroupCodeResponse"/>
   </wsdl:message>
   <wsdl:message name="getMigrationTypeList">
      <wsdl:part name="parameters" element="sor:getMigrationTypeList"/>
   </wsdl:message>
   <wsdl:message name="getMigrationTypeListResponse">
      <wsdl:part name="result" element="sor:getMigrationTypeListResponse"/>
   </wsdl:message>
   <wsdl:message name="getSeatTypeList">
      <wsdl:part name="parameters" element="sor:getSeatTypeList"/>
   </wsdl:message>
   <wsdl:message name="getSeatTypeListResponse">
      <wsdl:part name="result" element="sor:getSeatTypeListResponse"/>
   </wsdl:message>
   <wsdl:message name="getAssociatedIncludedPromotion">
      <wsdl:part name="parameters" element="sor:getAssociatedIncludedPromotion"/>
   </wsdl:message>
   <wsdl:message name="getAssociatedIncludedPromotionResponse">
      <wsdl:part name="result" element="sor:getAssociatedIncludedPromotionResponse"/>
   </wsdl:message>
   <wsdl:message name="getOptionalServiceList">
      <wsdl:part name="parameters" element="sor:getOptionalServiceList"/>
   </wsdl:message>
   <wsdl:message name="getOptionalServiceListResponse">
      <wsdl:part name="result" element="sor:getOptionalServiceListResponse"/>
   </wsdl:message>
   <wsdl:message name="getMandatoryServiceList">
      <wsdl:part name="parameters" element="sor:getMandatoryServiceList"/>
   </wsdl:message>
   <wsdl:message name="getMandatoryServiceListResponse">
      <wsdl:part name="result" element="sor:getMandatoryServiceListResponse"/>
   </wsdl:message>
   <wsdl:message name="getServiceExtendedInfo">
      <wsdl:part name="parameters" element="sor:getServiceExtendedInfo"/>
   </wsdl:message>
   <wsdl:message name="getServiceExtendedInfoResponse">
      <wsdl:part name="result" element="sor:getServiceExtendedInfoResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:portType name="ServiceOrderReferenceService_v5_1_PortType">
      <wsdl:operation name="getCommitmentReasonList">
         <wsdl:input message="iface:getCommitmentReasonList"/>
         <wsdl:output message="iface:getCommitmentReasonListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getCommitmentReason">
         <wsdl:input message="iface:getCommitmentReason"/>
         <wsdl:output message="iface:getCommitmentReasonResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getPoolingGroupList">
         <wsdl:input message="iface:getPoolingGroupList"/>
         <wsdl:output message="iface:getPoolingGroupListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getPoolingGroup">
         <wsdl:input message="iface:getPoolingGroup"/>
         <wsdl:output message="iface:getPoolingGroupResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getFeatureList">
         <wsdl:input message="iface:getFeatureList"/>
         <wsdl:output message="iface:getFeatureListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getFeature">
         <wsdl:input message="iface:getFeature"/>
         <wsdl:output message="iface:getFeatureResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getRegularServiceList">
         <wsdl:input message="iface:getRegularServiceList"/>
         <wsdl:output message="iface:getRegularServiceListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getRegularService">
         <wsdl:input message="iface:getRegularService"/>
         <wsdl:output message="iface:getRegularServiceResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getPrepaidServiceList">
         <wsdl:input message="iface:getPrepaidServiceList"/>
         <wsdl:output message="iface:getPrepaidServiceListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getPrepaidServiceListByEquipmentAndNetworkType">
         <wsdl:input message="iface:getPrepaidServiceListByEquipmentAndNetworkType"/>
         <wsdl:output message="iface:getPrepaidServiceListByEquipmentAndNetworkTypeResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getPrepaidService">
         <wsdl:input message="iface:getPrepaidService"/>
         <wsdl:output message="iface:getPrepaidServiceResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getServiceListByFeatureCategory">
         <wsdl:input message="iface:getServiceListByFeatureCategory"/>
         <wsdl:output message="iface:getServiceListByFeatureCategoryResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getPricePlan">
         <wsdl:input message="iface:getPricePlan"/>
         <wsdl:output message="iface:getPricePlanResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getPricePlanSummaryListByPricePlanCodeList">
         <wsdl:input message="iface:getPricePlanSummaryListByPricePlanCodeList"/>
         <wsdl:output message="iface:getPricePlanSummaryListByPricePlanCodeListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getPricePlanByEquipmentAndAccountInfo">
         <wsdl:input message="iface:getPricePlanByEquipmentAndAccountInfo"/>
         <wsdl:output message="iface:getPricePlanByEquipmentAndAccountInfoResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getPricePlanList">
         <wsdl:input message="iface:getPricePlanList"/>
         <wsdl:output message="iface:getPricePlanListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="checkServiceAssociation">
         <wsdl:input message="iface:checkServiceAssociation"/>
         <wsdl:output message="iface:checkServiceAssociationResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getLogicalDate">
         <wsdl:input message="iface:getLogicalDate"/>
         <wsdl:output message="iface:getLogicalDateResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getServiceExclusionGroupList">
         <wsdl:input message="iface:getServiceExclusionGroupList"/>
         <wsdl:output message="iface:getServiceExclusionGroupListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getBrandList">
         <wsdl:input message="iface:getBrandList"/>
         <wsdl:output message="iface:getBrandListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getBrandByBrandId">
         <wsdl:input message="iface:getBrandByBrandId"/>
         <wsdl:output message="iface:getBrandByBrandIdResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="checkServicePrivilege">
         <wsdl:input message="iface:checkServicePrivilege"/>
         <wsdl:output message="iface:checkServicePrivilegeResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="checkPricePlanPrivilege">
         <wsdl:input message="iface:checkPricePlanPrivilege"/>
         <wsdl:output message="iface:checkPricePlanPrivilegeResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getServiceTerm">
         <wsdl:input message="iface:getServiceTerm"/>
         <wsdl:output message="iface:getServiceTermResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getDataSharingGroupList">
         <wsdl:input message="iface:getDataSharingGroupList"/>
         <wsdl:output message="iface:getDataSharingGroupListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getDataSharingGroup">
         <wsdl:input message="iface:getDataSharingGroup"/>
         <wsdl:output message="iface:getDataSharingGroupResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAirTimeAllocationList">
         <wsdl:input message="iface:getAirTimeAllocationList"/>
         <wsdl:output message="iface:getAirTimeAllocationListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getCalculatedEffectiveAirTimeAllocationList">
         <wsdl:input message="iface:getCalculatedEffectiveAirTimeAllocationList"/>
         <wsdl:output message="iface:getCalculatedEffectiveAirTimeAllocationListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getPeriodList">
         <wsdl:input message="iface:getPeriodList"/>
         <wsdl:output message="iface:getPeriodListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getServiceFeatureClassification">
         <wsdl:input message="iface:getServiceFeatureClassification"/>
         <wsdl:output message="iface:getServiceFeatureClassificationResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSpecialNumber">
         <wsdl:input message="iface:getSpecialNumber"/>
         <wsdl:output message="iface:getSpecialNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSpecialNumberList">
         <wsdl:input message="iface:getSpecialNumberList"/>
         <wsdl:output message="iface:getSpecialNumberListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSpecialNumberRange">
         <wsdl:input message="iface:getSpecialNumberRange"/>
         <wsdl:output message="iface:getSpecialNumberRangeResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSpecialNumberRangeList">
         <wsdl:input message="iface:getSpecialNumberRangeList"/>
         <wsdl:output message="iface:getSpecialNumberRangeListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getEquivalentService">
         <wsdl:input message="iface:getEquivalentService"/>
         <wsdl:output message="iface:getEquivalentServiceResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getServiceRelation">
         <wsdl:input message="iface:getServiceRelation"/>
         <wsdl:output message="iface:getServiceRelationResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getServiceListByServiceGroup">
         <wsdl:input message="iface:getServiceListByServiceGroup"/>
         <wsdl:output message="iface:getServiceListByServiceGroupResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getIncludedPromotionService">
         <wsdl:input message="iface:getIncludedPromotionService"/>
         <wsdl:output message="iface:getIncludedPromotionServiceResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAlternateRecurringCharge">
         <wsdl:input message="iface:getAlternateRecurringCharge"/>
         <wsdl:output message="iface:getAlternateRecurringChargeResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getPricePlanByEquipmentAndAccountByBusinessRole">
         <wsdl:input message="iface:getPricePlanByEquipmentAndAccountByBusinessRole"/>
         <wsdl:output message="iface:getPricePlanByEquipmentAndAccountByBusinessRoleResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getPricePlanAndServiceCodeListByGroupCode">
         <wsdl:input message="iface:getPricePlanAndServiceCodeListByGroupCode"/>
         <wsdl:output message="iface:getPricePlanAndServiceCodeListByGroupCodeResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getMigrationTypeList">
         <wsdl:input message="iface:getMigrationTypeList"/>
         <wsdl:output message="iface:getMigrationTypeListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSeatTypeList">
         <wsdl:input message="iface:getSeatTypeList"/>
         <wsdl:output message="iface:getSeatTypeListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAssociatedIncludedPromotion">
         <wsdl:input message="iface:getAssociatedIncludedPromotion"/>
         <wsdl:output message="iface:getAssociatedIncludedPromotionResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getOptionalServiceList">
         <wsdl:input message="iface:getOptionalServiceList"/>
         <wsdl:output message="iface:getOptionalServiceListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getMandatoryServiceList">
         <wsdl:input message="iface:getMandatoryServiceList"/>
         <wsdl:output message="iface:getMandatoryServiceListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getServiceExtendedInfo">
         <wsdl:input message="iface:getServiceExtendedInfo"/>
         <wsdl:output message="iface:getServiceExtendedInfoResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="ServiceOrderReferenceService_v5_1_SOAP"
                 type="iface:ServiceOrderReferenceService_v5_1_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getCommitmentReasonList">
         <wsdl:documentation>Retrieves Commitment Reason list.</wsdl:documentation>
         <soap:operation soapAction="getCommitmentReasonList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getCommitmentReason">
         <wsdl:documentation>Retrieves Commitment Reason.</wsdl:documentation>
         <soap:operation soapAction="getCommitmentReason"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getPoolingGroupList">
         <wsdl:documentation>Retrieves Pooling Group list.</wsdl:documentation>
         <soap:operation soapAction="getPoolingGroupList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getPoolingGroup">
         <wsdl:documentation>Retrieves Pooling Group.</wsdl:documentation>
         <soap:operation soapAction="getPoolingGroup"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getFeatureList">
         <wsdl:documentation>Retrieves Feature List.</wsdl:documentation>
         <soap:operation soapAction="getFeatureList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getFeature">
         <wsdl:documentation>Retrieves Feature.</wsdl:documentation>
         <soap:operation soapAction="getFeature"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getRegularServiceList">
         <wsdl:documentation>Retrieves Regular Service List.</wsdl:documentation>
         <soap:operation soapAction="getRegularServiceList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getRegularService">
         <wsdl:documentation>Retrieves Regular Service.</wsdl:documentation>
         <soap:operation soapAction="getRegularService"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getPrepaidServiceList">
         <wsdl:documentation>Retrieves Prepaid Service List.</wsdl:documentation>
         <soap:operation soapAction="getPrepaidServiceList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getPrepaidServiceListByEquipmentAndNetworkType">
         <wsdl:documentation>Retrieves Prepaid Service List By Equipment and Network Type.</wsdl:documentation>
         <soap:operation soapAction="getPrepaidServiceListByEquipmentAndNetworkType"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getPrepaidService">
         <wsdl:documentation>Retrieves Prepaid Service.</wsdl:documentation>
         <soap:operation soapAction="getPrepaidService"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getServiceListByFeatureCategory">
         <wsdl:documentation>Retrieves Service List By Feature Category.</wsdl:documentation>
         <soap:operation soapAction="getServiceListByFeatureCategory"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getPricePlan">
         <wsdl:documentation>Retrieves PricePlan.</wsdl:documentation>
         <soap:operation soapAction="getPricePlan"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getPricePlanSummaryListByPricePlanCodeList">
         <wsdl:documentation>Retrieves Price Plan Summary List By Price Plan Code List.</wsdl:documentation>
         <soap:operation soapAction="getPricePlanSummaryListByPricePlanCodeList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getPricePlanByEquipmentAndAccountInfo">
         <wsdl:documentation>Retrieves Price Plan By Equipment And Account Info.</wsdl:documentation>
         <soap:operation soapAction="getPricePlanByEquipmentAndAccountInfo"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getPricePlanList">
         <wsdl:documentation>Retrieves Price Plan List.</wsdl:documentation>
         <soap:operation soapAction="getPricePlanList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="checkServiceAssociation">
         <wsdl:documentation>Checks Service Association.</wsdl:documentation>
         <soap:operation soapAction="checkServiceAssociation"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getLogicalDate">
         <wsdl:documentation>Retrieves Logical Date.</wsdl:documentation>
         <soap:operation soapAction="getLogicalDate"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getServiceExclusionGroupList">
         <wsdl:documentation>Retrieves Service Exclusion Groups.</wsdl:documentation>
         <soap:operation soapAction="getServiceExclusionGroupList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getBrandList">
         <wsdl:documentation>Retrieves Brand List.</wsdl:documentation>
         <soap:operation soapAction="getBrandList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getBrandByBrandId">
         <wsdl:documentation>Retrieves Brand By Brand Id.</wsdl:documentation>
         <soap:operation soapAction="getBrandByBrandId"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="checkServicePrivilege">
         <wsdl:documentation>Check Service Privilege.</wsdl:documentation>
         <soap:operation soapAction="checkServicePrivilege"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="checkPricePlanPrivilege">
         <wsdl:documentation>Check Price Plan Privilege.</wsdl:documentation>
         <soap:operation soapAction="checkPricePlanPrivilege"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getServiceTerm">
         <wsdl:documentation>Retrieves Wireless Postpaid Service Term for Promotional and Auto-Expiry Services</wsdl:documentation>
         <soap:operation soapAction="getServiceTerm"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getDataSharingGroupList">
         <wsdl:documentation>Operation used to get the definition of all data sharing groups</wsdl:documentation>
         <soap:operation soapAction="getDataSharingGroupList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getDataSharingGroup">
         <wsdl:documentation>Operation used to get the definition of a specific data sharing group</wsdl:documentation>
         <soap:operation soapAction="getDataSharingGroup"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAirTimeAllocationList">
         <wsdl:documentation>Operation to retrieve the voice allocation information for each given service code as configured in database </wsdl:documentation>
         <soap:operation soapAction="getAirTimeAllocationList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getCalculatedEffectiveAirTimeAllocationList">
         <wsdl:documentation>Operation to retrieve the voice allocation information for each given service code as configured in database + calculating estimated effective and/or expiration date. 
		This operation has an extra logic to retrieve the voice allocation for the related service if the related service is not in the input list of service code. The related services here include promotional service, bounded and sequencially bounded service. However this operation does not deal with any mising included service. There is no logic of dropping confilicting service or incompatible service as it would have been done via contract save. </wsdl:documentation>
         <soap:operation soapAction="getCalculatedEffectiveAirTimeAllocationList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getPeriodList">
         <wsdl:documentation>Operation to retrieve period related reference data for a given service code</wsdl:documentation>
         <soap:operation soapAction="getPeriodList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getServiceFeatureClassification">
         <wsdl:documentation>Operation to retrieve service feature classification object which contains the descriptions for a given classification code</wsdl:documentation>
         <soap:operation soapAction="getServiceFeatureClassification"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSpecialNumber">
         <wsdl:documentation>Retrieval of Special Number definition</wsdl:documentation>
         <soap:operation soapAction="getSpecialNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSpecialNumberList">
         <wsdl:documentation>Retrieval all Special Number definitions</wsdl:documentation>
         <soap:operation soapAction="getSpecialNumberList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSpecialNumberRange">
         <wsdl:documentation>Retrieval of Special Number Range definition</wsdl:documentation>
         <soap:operation soapAction="getSpecialNumberRange"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSpecialNumberRangeList">
         <wsdl:documentation>Retrieval all Special Number Range definitions</wsdl:documentation>
         <soap:operation soapAction="getSpecialNumberRangeList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getEquivalentService">
         <wsdl:documentation>This operation returns the  "FIRST SERVICE" found for the provided ServiceCode that is the "Equivalent Service".  The Equivalent Service may exist in the input price plan either as included or optional</wsdl:documentation>
         <soap:operation soapAction="getEquivalentService"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getServiceRelation">
         <wsdl:documentation>This operation returns the bounded service(s) from the soc relation extension table for the given service.</wsdl:documentation>
         <soap:operation soapAction="getServiceRelation"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getServiceListByServiceGroup">
         <wsdl:documentation>This operation retrieves a list of services for a given service group code.</wsdl:documentation>
         <soap:operation soapAction="getServiceListByServiceGroup"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getIncludedPromotionService">
         <wsdl:documentation>This operation retrieves promotional services applicable for a given price plan and filtered by the input parameters.  This operation should be called on demand based on the indicator from getPricePlanByEquipmentAndAccountInfo.</wsdl:documentation>
         <soap:operation soapAction="getIncludedPromotionService"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAlternateRecurringCharge">
         <wsdl:documentation>Retrieves the alternate recurring charge (if any) for the given list of services.  This operation should only be called if the Service Object (returned from other operations)  has the alternateRecurringChargeInd to TRUE.  Note that the charges are retrieved from batch_pp_rc_rate table.</wsdl:documentation>
         <soap:operation soapAction="getAlternateRecurringCharge"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getPricePlanByEquipmentAndAccountByBusinessRole">
         <wsdl:documentation>This method retrieves the price plan by equipment type and account info.  Data is filtered by the Optional Services Indicator and on the Business Role and Privilege that is passed in.  All services are returned including included service and optioanal service, but based on input parms.</wsdl:documentation>
         <soap:operation soapAction="getPricePlanByEquipmentAndAccountByBusinessRole"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getPricePlanAndServiceCodeListByGroupCode">
         <wsdl:documentation>This operation returns a list of codes (includes priceplans and services) for the given group code</wsdl:documentation>
         <soap:operation soapAction="getPricePlanAndServiceCodeListByGroupCode"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getMigrationTypeList">
         <wsdl:documentation>This operation returns a list of codes for valid migration types.</wsdl:documentation>
         <soap:operation soapAction="getMigrationTypeList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSeatTypeList">
         <wsdl:documentation>This operation returns a list of valid seat types.</wsdl:documentation>
         <soap:operation soapAction="getSeatTypeList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAssociatedIncludedPromotion">
         <wsdl:documentation>This operation returns True / False if service is associated with included Promotion.</wsdl:documentation>
         <soap:operation soapAction="getAssociatedIncludedPromotion"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getOptionalServiceList">
         <wsdl:documentation>Retrieves optional services.</wsdl:documentation>
         <soap:operation soapAction="getOptionalServiceList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getMandatoryServiceList">
         <wsdl:documentation>Retrieves mandatory services for price plans that need - but do not automatically include - those services.</wsdl:documentation>
         <soap:operation soapAction="getMandatoryServiceList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getServiceExtendedInfo">
         <wsdl:documentation>Retrieves extended service info (including Province, Account Type/SubType, and Soc Groups) by Service Code List.</wsdl:documentation>
         <soap:operation soapAction="getServiceExtendedInfo"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="ServiceOrderReferenceService_v5_1">
      <wsdl:port name="ServiceOrderReferenceServicePort"
                 binding="iface:ServiceOrderReferenceService_v5_1_SOAP">
         <soap:address location="http://smf-serviceordermgmt-dv103.tmi.telus.com/v5-1/smo/ordermgmt/serviceorderreference/serviceorderreferenceservice-v5-1"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>