cmb-common/cmb-ws-clients/real-time-action-advisor-ws-client-2-1/src/main/resources/wsdls/RealTimeActionAdvisorService_v2_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:shttp="http://soa.com/wsdl/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/MSO/CampaignMgmt/RealTimeActionAdvisorService_2"
                  xmlns:rtaas="http://xmlschema.tmi.telus.com/srv/MSO/CampaignMgmt/RealTimeActionAdvisorServiceRequestResponse_v2"
                  targetNamespace="http://telus.com/wsdl/MSO/CampaignMgmt/RealTimeActionAdvisorService_2"><!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v3_2.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_1.xsd
			--><wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/MSO/CampaignMgmt/RealTimeActionAdvisorService_2">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/MSO/CampaignMgmt/RealTimeActionAdvisorServiceRequestResponse_v2"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/MSO/CampaignMgmt/RealTimeActionAdvisorServiceRequestResponse_v2_1.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getActionList">
      <wsdl:part name="parameters" element="rtaas:getActionList"/>
   </wsdl:message>
   <wsdl:message name="getActionListResponse">
      <wsdl:part name="result" element="rtaas:getActionListResponse"/>
   </wsdl:message>
   <wsdl:message name="setActionOutcomeList">
      <wsdl:part name="parameters" element="rtaas:setActionOutcomeList"/>
   </wsdl:message>
   <wsdl:message name="setActionOutcomeListResponse">
      <wsdl:part name="result" element="rtaas:setActionOutcomeListResponse"/>
   </wsdl:message>
   <wsdl:message name="getActionHistoryList">
      <wsdl:part name="parameters" element="rtaas:getActionHistoryList"/>
   </wsdl:message>
   <wsdl:message name="getActionHistoryListResponse">
      <wsdl:part name="result" element="rtaas:getActionHistoryListResponse"/>
   </wsdl:message>
   <wsdl:message name="setActionEvaluationData">
      <wsdl:part name="parameters" element="rtaas:setActionEvaluationData"/>
   </wsdl:message>
   <wsdl:message name="setActionEvaluationDataResponse">
      <wsdl:part name="result" element="rtaas:setActionEvaluationDataResponse"/>
   </wsdl:message>
   <wsdl:message name="abandonAction">
      <wsdl:part name="parameters" element="rtaas:abandonAction"/>
   </wsdl:message>
   <wsdl:message name="abandonActionResponse">
      <wsdl:part name="result" element="rtaas:abandonActionResponse"/>
   </wsdl:message>
   <wsdl:message name="performAction">
      <wsdl:part name="parameters" element="rtaas:performAction"/>
   </wsdl:message>
   <wsdl:message name="performActionResponse">
      <wsdl:part name="result" element="rtaas:performActionResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:portType name="RealTimeActionAdvisorService_v2_1_PortType">
      <wsdl:operation name="getActionList">
         <wsdl:input message="iface:getActionList"/>
         <wsdl:output message="iface:getActionListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="setActionOutcomeList">
         <wsdl:input message="iface:setActionOutcomeList"/>
         <wsdl:output message="iface:setActionOutcomeListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getActionHistoryList">
         <wsdl:input message="iface:getActionHistoryList"/>
         <wsdl:output message="iface:getActionHistoryListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="setActionEvaluationData">
         <wsdl:input message="iface:setActionEvaluationData"/>
         <wsdl:output message="iface:setActionEvaluationDataResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="abandonAction">
         <wsdl:input message="iface:abandonAction"/>
         <wsdl:output message="iface:abandonActionResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="performAction">
         <wsdl:input message="iface:performAction"/>
         <wsdl:output message="iface:performActionResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="RealTimeActionAdvisorService_v2_1_SOAP"
                 type="iface:RealTimeActionAdvisorService_v2_1_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getActionList">
         <wsdl:documentation>Retrieves the most beneficial action(s) from the backend marketing offer generation engine. The action recommendation can either be an offer or a message, and is based on customer journey data with TELUS to ensure the right recommendation provided at the right moment to the right customer.</wsdl:documentation>
         <soap:operation soapAction="getActionList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="setActionOutcomeList">
         <wsdl:documentation>Sets outcome(s) of the corresponding action(s) after presenting to customer.</wsdl:documentation>
         <soap:operation soapAction="setActionOutcomeList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getActionHistoryList">
         <wsdl:documentation>Retrieves action outcome history on a customer including recommended actions and corresponding outcomes performed by the customer.</wsdl:documentation>
         <soap:operation soapAction="getActionHistoryList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="setActionEvaluationData">
         <wsdl:documentation>Sets data for action evaluation.  It is typically the in-session transaction data that has not yet been captured in the customer profile, so that the backend engine can better recommend.</wsdl:documentation>
         <soap:operation soapAction="setActionEvaluationData"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="abandonAction">
         <wsdl:documentation>Stops further action recommendation, so further recommendation on the same customer will trigger a full refresh on the customer journey data in the backend recommendation engine.</wsdl:documentation>
         <soap:operation soapAction="abandonAction"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="performAction">
         <wsdl:documentation>Determines what to do on the customer based on input parameters.  It can either trigger an offer recommendation via SMS or apply a previously sent recommendation on the customer account.</wsdl:documentation>
         <soap:operation soapAction="performAction"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="RealTimeActionAdvisorService_v2_1">
      <wsdl:port name="RealTimeActionAdvisorServicePort"
                 binding="iface:RealTimeActionAdvisorService_v2_1_SOAP">
         <soap:address location="http://cmassurance-ccmgmt-dv103.tmi.telus.com/v2-1/mso/campaignmgmt/actionadvisor/realtimeactionadvisorservice-v2-1"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>