cmb-common/cmb-ws-clients/bill-notification-mgmt-ws-client-4-0/src/main/resources/wsdls/BillNotificationManagementService_v4_0.wsdl

<?xml version="1.0" encoding="UTF-8" ?> 
  <wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1" xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:shttp="http://soa.com/wsdl/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:iface="http://telus.com/wsdl/CMO/BillFormatMgmt/BillNotificationManagementSvc_4" xmlns:bnms="http://xmlschema.tmi.telus.com/srv/CMO/BillFormatMgmt/BillNotificationManagementSvcRequestResponse_v4" targetNamespace="http://telus.com/wsdl/CMO/BillFormatMgmt/BillNotificationManagementSvc_4">
  <!-- 
	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v4_0.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_2.xsd
				

  --> 
  <wsdl:types>
  <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/BillFormatMgmt/BillNotificationManagementSvc_4">
  <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/BillFormatMgmt/BillNotificationManagementSvcRequestResponse_v4" schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/BillFormatMgmt/BillNotificationManagementSvcRequestResponse_v4_0.xsd" /> 
  <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3" schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd" /> 
  <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1" schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd" /> 
  </xsd:schema>
  </wsdl:types>
  <wsdl:message name="activateBillMedium">
  <wsdl:part name="parameters" element="bnms:activateBillMedium" /> 
  </wsdl:message>
  <wsdl:message name="activateBillMediumResponse">
  <wsdl:part name="result" element="bnms:activateBillMediumResponse" /> 
  </wsdl:message>
  <wsdl:message name="getBillMediumInfo">
  <wsdl:part name="parameters" element="bnms:getBillMediumInfo" /> 
  </wsdl:message>
  <wsdl:message name="getBillMediumInfoResponse">
  <wsdl:part name="result" element="bnms:getBillMediumInfoResponse" /> 
  </wsdl:message>
  <wsdl:message name="deactivateBillMedium">
  <wsdl:part name="parameters" element="bnms:deactivateBillMedium" /> 
  </wsdl:message>
  <wsdl:message name="deactivateBillMediumResponse">
  <wsdl:part name="result" element="bnms:deactivateBillMediumResponse" /> 
  </wsdl:message>
  <wsdl:message name="processBillMedium">
  <wsdl:part name="parameters" element="bnms:processBillMedium" /> 
  </wsdl:message>
  <wsdl:message name="processBillMediumResponse">
  <wsdl:part name="result" element="bnms:processBillMediumResponse" /> 
  </wsdl:message>
  <wsdl:message name="registerBillNotificationAddress">
  <wsdl:part name="parameters" element="bnms:registerBillNotificationAddress" /> 
  </wsdl:message>
  <wsdl:message name="registerBillNotificationAddressResponse">
  <wsdl:part name="result" element="bnms:registerBillNotificationAddressResponse" /> 
  </wsdl:message>
  <wsdl:message name="getBillNotificationAddressInfo">
  <wsdl:part name="parameters" element="bnms:getBillNotificationAddressInfo" /> 
  </wsdl:message>
  <wsdl:message name="getBillNotificationAddressInfoResponse">
  <wsdl:part name="result" element="bnms:getBillNotificationAddressInfoResponse" /> 
  </wsdl:message>
  <wsdl:message name="expireBillNotificationAddress">
  <wsdl:part name="parameters" element="bnms:expireBillNotificationAddress" /> 
  </wsdl:message>
  <wsdl:message name="expireBillNotificationAddressResponse">
  <wsdl:part name="result" element="bnms:expireBillNotificationAddressResponse" /> 
  </wsdl:message>
  <wsdl:message name="processBillNotificationAddress">
  <wsdl:part name="parameters" element="bnms:processBillNotificationAddress" /> 
  </wsdl:message>
  <wsdl:message name="processBillNotificationAddressResponse">
  <wsdl:part name="result" element="bnms:processBillNotificationAddressResponse" /> 
  </wsdl:message>
  <wsdl:message name="getDeclineReasonList">
  <wsdl:part name="parameters" element="bnms:getDeclineReasonList" /> 
  </wsdl:message>
  <wsdl:message name="getDeclineReasonListResponse">
  <wsdl:part name="result" element="bnms:getDeclineReasonListResponse" /> 
  </wsdl:message>
  <wsdl:message name="ping">
  <wsdl:part name="parameters" element="ping:ping" /> 
  </wsdl:message>
  <wsdl:message name="pingResponse">
  <wsdl:part name="result" element="ping:pingResponse" /> 
  </wsdl:message>
  <wsdl:message name="ServiceException">
  <wsdl:part name="fault" element="ex:ServiceException" /> 
  </wsdl:message>
  <wsdl:portType name="BillNotificationManagementSvc_v4_0_PortType">
  <wsdl:operation name="activateBillMedium">
  <wsdl:input message="iface:activateBillMedium" /> 
  <wsdl:output message="iface:activateBillMediumResponse" /> 
  <wsdl:fault name="ServiceException" message="iface:ServiceException" /> 
  </wsdl:operation>
  <wsdl:operation name="getBillMediumInfo">
  <wsdl:input message="iface:getBillMediumInfo" /> 
  <wsdl:output message="iface:getBillMediumInfoResponse" /> 
  <wsdl:fault name="ServiceException" message="iface:ServiceException" /> 
  </wsdl:operation>
  <wsdl:operation name="deactivateBillMedium">
  <wsdl:input message="iface:deactivateBillMedium" /> 
  <wsdl:output message="iface:deactivateBillMediumResponse" /> 
  <wsdl:fault name="ServiceException" message="iface:ServiceException" /> 
  </wsdl:operation>
  <wsdl:operation name="processBillMedium">
  <wsdl:input message="iface:processBillMedium" /> 
  <wsdl:output message="iface:processBillMediumResponse" /> 
  <wsdl:fault name="ServiceException" message="iface:ServiceException" /> 
  </wsdl:operation>
  <wsdl:operation name="registerBillNotificationAddress">
  <wsdl:input message="iface:registerBillNotificationAddress" /> 
  <wsdl:output message="iface:registerBillNotificationAddressResponse" /> 
  <wsdl:fault name="ServiceException" message="iface:ServiceException" /> 
  </wsdl:operation>
  <wsdl:operation name="getBillNotificationAddressInfo">
  <wsdl:input message="iface:getBillNotificationAddressInfo" /> 
  <wsdl:output message="iface:getBillNotificationAddressInfoResponse" /> 
  <wsdl:fault name="ServiceException" message="iface:ServiceException" /> 
  </wsdl:operation>
  <wsdl:operation name="expireBillNotificationAddress">
  <wsdl:input message="iface:expireBillNotificationAddress" /> 
  <wsdl:output message="iface:expireBillNotificationAddressResponse" /> 
  <wsdl:fault name="ServiceException" message="iface:ServiceException" /> 
  </wsdl:operation>
  <wsdl:operation name="processBillNotificationAddress">
  <wsdl:input message="iface:processBillNotificationAddress" /> 
  <wsdl:output message="iface:processBillNotificationAddressResponse" /> 
  <wsdl:fault name="ServiceException" message="iface:ServiceException" /> 
  </wsdl:operation>
  <wsdl:operation name="getDeclineReasonList">
  <wsdl:input message="iface:getDeclineReasonList" /> 
  <wsdl:output message="iface:getDeclineReasonListResponse" /> 
  <wsdl:fault name="ServiceException" message="iface:ServiceException" /> 
  </wsdl:operation>
  <wsdl:operation name="ping">
  <wsdl:input message="iface:ping" /> 
  <wsdl:output message="iface:pingResponse" /> 
  <wsdl:fault name="ServiceException" message="iface:ServiceException" /> 
  </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BillNotificationManagementSvc_v4_0_SOAP" type="iface:BillNotificationManagementSvc_v4_0_PortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="activateBillMedium">
  <wsdl:documentation>This operation activates either one or many bill mediums for the specified account.</wsdl:documentation> 
  <soap:operation soapAction="activateBillMedium" /> 
  <wsdl:input>
  <soap:body use="literal" parts="parameters" /> 
  </wsdl:input>
  <wsdl:output>
  <soap:body use="literal" parts="result" /> 
  </wsdl:output>
  <wsdl:fault name="ServiceException">
  <soap:fault name="ServiceException" use="literal" /> 
  </wsdl:fault>
  </wsdl:operation>
  <wsdl:operation name="getBillMediumInfo">
  <wsdl:documentation>This operation retrieves a list of either effective or all bill medium information for the specified account.</wsdl:documentation> 
  <soap:operation soapAction="getBillMediumInfo" /> 
  <wsdl:input>
  <soap:body use="literal" parts="parameters" /> 
  </wsdl:input>
  <wsdl:output>
  <soap:body use="literal" parts="result" /> 
  </wsdl:output>
  <wsdl:fault name="ServiceException">
  <soap:fault name="ServiceException" use="literal" /> 
  </wsdl:fault>
  </wsdl:operation>
  <wsdl:operation name="deactivateBillMedium">
  <wsdl:documentation>This operation deactivates either one or many bill mediums for the specified account. Passing the empty bill medium type list deactivates all the active bill mediums for the specified account.</wsdl:documentation> 
  <soap:operation soapAction="deactivateBillMedium" /> 
  <wsdl:input>
  <soap:body use="literal" parts="parameters" /> 
  </wsdl:input>
  <wsdl:output>
  <soap:body use="literal" parts="result" /> 
  </wsdl:output>
  <wsdl:fault name="ServiceException">
  <soap:fault name="ServiceException" use="literal" /> 
  </wsdl:fault>
  </wsdl:operation>
  <wsdl:operation name="processBillMedium">
  <wsdl:documentation>This operation first deactivates and then activates either one or many bill mediums for the specified account. Passing the empty deactivation bill medium type list does not deactivate all the active bill mediums for the specified account.</wsdl:documentation> 
  <soap:operation soapAction="processBillMedium" /> 
  <wsdl:input>
  <soap:body use="literal" parts="parameters" /> 
  </wsdl:input>
  <wsdl:output>
  <soap:body use="literal" parts="result" /> 
  </wsdl:output>
  <wsdl:fault name="ServiceException">
  <soap:fault name="ServiceException" use="literal" /> 
  </wsdl:fault>
  </wsdl:operation>
  <wsdl:operation name="registerBillNotificationAddress">
  <wsdl:documentation>This operation registers either one or many bill notifications for the specified account. Also all the existing bill notification addresses will be migrated from the nagging to the regular with the client UUID provided, and their UUID updated to the specified one.</wsdl:documentation> 
  <soap:operation soapAction="registerBillNotificationAddress" /> 
  <wsdl:input>
  <soap:body use="literal" parts="parameters" /> 
  </wsdl:input>
  <wsdl:output>
  <soap:body use="literal" parts="result" /> 
  </wsdl:output>
  <wsdl:fault name="ServiceException">
  <soap:fault name="ServiceException" use="literal" /> 
  </wsdl:fault>
  </wsdl:operation>
  <wsdl:operation name="getBillNotificationAddressInfo">
  <wsdl:documentation>This operation retrieves a list of either effective or all bill notification addresses information for the specified account.</wsdl:documentation> 
  <soap:operation soapAction="getBillNotificationAddressInfo" /> 
  <wsdl:input>
  <soap:body use="literal" parts="parameters" /> 
  </wsdl:input>
  <wsdl:output>
  <soap:body use="literal" parts="result" /> 
  </wsdl:output>
  <wsdl:fault name="ServiceException">
  <soap:fault name="ServiceException" use="literal" /> 
  </wsdl:fault>
  </wsdl:operation>
  <wsdl:operation name="expireBillNotificationAddress">
  <wsdl:documentation>This operation expires either one or many bill notification addresses for the specified account. Passing the empty bill notification address list expires all the effective bill notification addresses for the specified account.</wsdl:documentation> 
  <soap:operation soapAction="expireBillNotificationAddress" /> 
  <wsdl:input>
  <soap:body use="literal" parts="parameters" /> 
  </wsdl:input>
  <wsdl:output>
  <soap:body use="literal" parts="result" /> 
  </wsdl:output>
  <wsdl:fault name="ServiceException">
  <soap:fault name="ServiceException" use="literal" /> 
  </wsdl:fault>
  </wsdl:operation>
  <wsdl:operation name="processBillNotificationAddress">
  <wsdl:documentation>This operation first expires and then registers either one or many bill notification addresses for the specified account. Also all the existing bill notification addresses will be migrated from the nagging to the regular with the client UUID provided, and their UUID updated to the specified one. Passing the empty expire bill notification address list does not expire all the effective bill notification addresses of the specified account.</wsdl:documentation> 
  <soap:operation soapAction="processBillNotificationAddress" /> 
  <wsdl:input>
  <soap:body use="literal" parts="parameters" /> 
  </wsdl:input>
  <wsdl:output>
  <soap:body use="literal" parts="result" /> 
  </wsdl:output>
  <wsdl:fault name="ServiceException">
  <soap:fault name="ServiceException" use="literal" /> 
  </wsdl:fault>
  </wsdl:operation>
  <wsdl:operation name="getDeclineReasonList">
  <wsdl:documentation>This operation provides the decline reason list for the paper bill medium, for the specified language. The “other” decline reason is the last item of the provided list.</wsdl:documentation> 
  <soap:operation soapAction="getDeclineReasonList" /> 
  <wsdl:input>
  <soap:body use="literal" parts="parameters" /> 
  </wsdl:input>
  <wsdl:output>
  <soap:body use="literal" parts="result" /> 
  </wsdl:output>
  <wsdl:fault name="ServiceException">
  <soap:fault name="ServiceException" use="literal" /> 
  </wsdl:fault>
  </wsdl:operation>
  <wsdl:operation name="ping">
  <wsdl:documentation /> 
  <soap:operation soapAction="ping" /> 
  <wsdl:input>
  <soap:body parts="parameters" use="literal" /> 
  </wsdl:input>
  <wsdl:output>
  <soap:body parts="result" use="literal" /> 
  </wsdl:output>
  <wsdl:fault name="ServiceException">
  <soap:fault name="ServiceException" use="literal" /> 
  </wsdl:fault>
  </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BillNotificationManagementSvc_v4_0">
  <wsdl:port name="BillNotificationManagementSvcPort" binding="iface:BillNotificationManagementSvc_v4_0_SOAP">
  <soap:address location="http://cmbilling-billformatting-dv103.tmi.telus.com/CMO/BillFormatMgmt/BillNotification/BillNotificationManagementSvc_v4_0" /> 
  </wsdl:port>
  </wsdl:service>
  </wsdl:definitions>