cmb-common/cmb-ws-clients/wrls-provisioning-ws-client-1-0/src/main/resources/wsdls/WirelessProvisioningService_v1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:shttp="http://soa.com/wsdl/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/SMO/Activation/WirelessProvisioningService_1"
                  xmlns:wps="http://xmlschema.tmi.telus.com/srv/SMO/Activation/WirelessProvisioningServiceRequestResponse_v1"
                  targetNamespace="http://telus.com/wsdl/SMO/Activation/WirelessProvisioningService_1"><!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v3_2.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_1.xsd
			--><wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/SMO/Activation/WirelessProvisioningService_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/SMO/Activation/WirelessProvisioningServiceRequestResponse_v1"
                      schemaLocation="http://xmlschema.tmi.telus.com/srv/SMO/Activation/WirelessProvisioningServiceRequestResponse_v1_0.xsd"/>
                      <!--                      schemaLocation="http://xmlschema.tmi.telus.com/srv/SMO/Activation/WirelessProvisioningServiceRequestResponse_v1_0.xsd"/> -->
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="submitProvisioningOrder">
      <wsdl:part name="parameters" element="wps:submitProvisioningOrder"/>
   </wsdl:message>
   <wsdl:message name="submitProvisioningOrderResponse">
      <wsdl:part name="result" element="wps:submitProvisioningOrderResponse"/>
   </wsdl:message>
   <wsdl:message name="getOrderStatusById">
      <wsdl:part name="parameters" element="wps:getOrderStatusById"/>
   </wsdl:message>
   <wsdl:message name="getOrderStatusByIdResponse">
      <wsdl:part name="result" element="wps:getOrderStatusByIdResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:portType name="WirelessProvisioningService_v1_0_PortType">
      <wsdl:operation name="submitProvisioningOrder">
         <wsdl:input message="iface:submitProvisioningOrder"/>
         <wsdl:output message="iface:submitProvisioningOrderResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getOrderStatusById">
         <wsdl:input message="iface:getOrderStatusById"/>
         <wsdl:output message="iface:getOrderStatusByIdResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="WirelessProvisioningService_v1_0_SOAP"
                 type="iface:WirelessProvisioningService_v1_0_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="submitProvisioningOrder">
         <wsdl:documentation>submit provisioning order</wsdl:documentation>
         <soap:operation soapAction="submitProvisioningOrder"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getOrderStatusById">
         <wsdl:documentation>get order status by Id</wsdl:documentation>
         <soap:operation soapAction="getOrderStatusById"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="WirelessProvisioningService_v1_0">
      <wsdl:port name="WirelessProvisioningServicePort"
                 binding="iface:WirelessProvisioningService_v1_0_SOAP">
         <soap:address location="https://wlprov-services-dv103.tmi.telus.com/v1/smo/activation/serviceactivationmgmt/wirelessprovisioningservice-v1-0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>