cmb-common/cmb-ws-clients/credit-profile-ws-client-3-0/src/main/resources/wsdls/CreditProfileSvc_v3_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/OrderMgmt/CreditProfileSvc_3"
                  xmlns:cp="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/CreditProfileSvcRequestResponse_v3"
                  name="CreditProfileSvc_v3_0.wsdl"
                  targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/CreditProfileSvc_3"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Assess the risk of a customer using ;ind accounts by customer profile (Duplicated Ban check), External Credit check and Subscriber eligibility check</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/CreditProfileSvc_3">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/CreditProfileSvcRequestResponse_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/CreditProfileSvcRequestResponse_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="findAccountsByCustomerProfile">
      <wsdl:part name="parameters" element="cp:findAccountsByCustomerProfile"/>
   </wsdl:message>
   <wsdl:message name="findAccountsByCustomerProfileResponse">
      <wsdl:part name="result" element="cp:findAccountsByCustomerProfileResponse"/>
   </wsdl:message>
   <wsdl:message name="performCreditCheck">
      <wsdl:part name="parameters" element="cp:performCreditCheck"/>
      <wsdl:part name="performCreditCheckInSoapHdr" element="cp:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="performCreditCheckResponse">
      <wsdl:part name="result" element="cp:performCreditCheckResponse"/>
   </wsdl:message>
   <wsdl:message name="performSubscriberEligibilityCheck">
      <wsdl:part name="parameters" element="cp:performSubscriberEligibilityCheck"/>
   </wsdl:message>
   <wsdl:message name="performSubscriberEligibilityCheckResponse">
      <wsdl:part name="result" element="cp:performSubscriberEligibilityCheckResponse"/>
   </wsdl:message>
   <wsdl:message name="performBusinessCreditCheck">
      <wsdl:part name="parameters" element="cp:performBusinessCreditCheck"/>
   </wsdl:message>
   <wsdl:message name="performBusinessCreditCheckResponse">
      <wsdl:part name="result" element="cp:performBusinessCreditCheckResponse"/>
   </wsdl:message>
   <wsdl:message name="retrieveCreditEvaluationBusinessList">
      <wsdl:part name="parameters" element="cp:retrieveCreditEvaluationBusinessList"/>
   </wsdl:message>
   <wsdl:message name="retrieveCreditEvaluationBusinessListResponse">
      <wsdl:part name="result" element="cp:retrieveCreditEvaluationBusinessListResponse"/>
   </wsdl:message>
   <wsdl:message name="getAccountCreditLimitForChangeToCLPCreditClass">
      <wsdl:part name="parameters" element="cp:getAccountCreditLimitForChangeToCLPCreditClass"/>
   </wsdl:message>
   <wsdl:message name="getAccountCreditLimitForChangeToCLPCreditClassResponse">
      <wsdl:part name="result"
                 element="cp:getAccountCreditLimitForChangeToCLPCreditClassResponse"/>
   </wsdl:message>
   <wsdl:message name="getCLPPricePlanLimitAmount">
      <wsdl:part name="parameters" element="cp:getCLPPricePlanLimitAmount"/>
   </wsdl:message>
   <wsdl:message name="getCLPPricePlanLimitAmountResponse">
      <wsdl:part name="result" element="cp:getCLPPricePlanLimitAmountResponse"/>
   </wsdl:message>
   <wsdl:message name="getCLPActivationOptionDetails">
      <wsdl:part name="parameters" element="cp:getCLPActivationOptionDetails"/>
   </wsdl:message>
   <wsdl:message name="getCLPActivationOptionDetailsResponse">
      <wsdl:part name="result" element="cp:getCLPActivationOptionDetailsResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="CreditProfileSvc_v3_0_PortType">
      <wsdl:operation name="findAccountsByCustomerProfile">
         <wsdl:input message="iface:findAccountsByCustomerProfile"/>
         <wsdl:output message="iface:findAccountsByCustomerProfileResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="performCreditCheck">
         <wsdl:input message="iface:performCreditCheck"/>
         <wsdl:output message="iface:performCreditCheckResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="performSubscriberEligibilityCheck">
         <wsdl:input message="iface:performSubscriberEligibilityCheck"/>
         <wsdl:output message="iface:performSubscriberEligibilityCheckResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="performBusinessCreditCheck">
         <wsdl:input message="iface:performBusinessCreditCheck"/>
         <wsdl:output message="iface:performBusinessCreditCheckResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="retrieveCreditEvaluationBusinessList">
         <wsdl:input message="iface:retrieveCreditEvaluationBusinessList"/>
         <wsdl:output message="iface:retrieveCreditEvaluationBusinessListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getAccountCreditLimitForChangeToCLPCreditClass">
         <wsdl:input message="iface:getAccountCreditLimitForChangeToCLPCreditClass"/>
         <wsdl:output message="iface:getAccountCreditLimitForChangeToCLPCreditClassResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getCLPPricePlanLimitAmount">
         <wsdl:input message="iface:getCLPPricePlanLimitAmount"/>
         <wsdl:output message="iface:getCLPPricePlanLimitAmountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getCLPActivationOptionDetails">
         <wsdl:input message="iface:getCLPActivationOptionDetails"/>
         <wsdl:output message="iface:getCLPActivationOptionDetailsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="CreditProfileSvc_v3_0_SOAP" type="iface:CreditProfileSvc_v3_0_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="findAccountsByCustomerProfile">
         <wsdl:documentation/>
         <soap:operation soapAction="findAccountsByCustomerProfile"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="performCreditCheck">
         <wsdl:documentation/>
         <soap:operation soapAction="performCreditCheck"/>
         <wsdl:input>
            <wsdl:documentation>Avalon user header for propagating originating user information</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:performCreditCheck"
                         part="performCreditCheckInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="performSubscriberEligibilityCheck">
         <wsdl:documentation/>
         <soap:operation soapAction="performSubscriberEligibilityCheck"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="performBusinessCreditCheck">
         <wsdl:documentation>Performs a credit check against the external bureau and returns the credit check result for business regular customer.</wsdl:documentation>
         <soap:operation soapAction="performBusinessCreditCheck"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="retrieveCreditEvaluationBusinessList">
         <wsdl:documentation>Performs search for commercial list  against the external bureau.</wsdl:documentation>
         <soap:operation soapAction="retrieveCreditEvaluationBusinessList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAccountCreditLimitForChangeToCLPCreditClass">
         <wsdl:documentation>Returns the credit limit value for the new CLP credit class when changing an account’s credit class  to a CLP credit class.  .</wsdl:documentation>
         <soap:operation soapAction="getAccountCreditLimitForChangeToCLPCreditClass"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getCLPPricePlanLimitAmount">
         <wsdl:documentation>returns the Rate/Price Plan Limit Amount for a given account  .</wsdl:documentation>
         <soap:operation soapAction="getCLPPricePlanLimitAmount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getCLPActivationOptionDetails">
         <wsdl:documentation> returns the CLP Activation option details that an accounts is qualified for .</wsdl:documentation>
         <soap:operation soapAction="getCLPActivationOptionDetails"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="CreditProfileSvc_v3_0">
   
      <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
      	<jaxws:class name="CreditProfileService30"/>
      </jaxws:bindings>
   
      <wsdl:port name="CreditProfileSvcPort" binding="iface:CreditProfileSvc_v3_0_SOAP">
         <soap:address location="http://cmf-ordermgmt-dv103.tmi.telus.com/CMO/OrderMgmt/CreditProfile/CreditProfileSvc_v3_0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>