cmb-common/cmb-ws-clients/prepaid-subscriber-ws-client-3-1/src/main/resources/wsdls/PrepaidSubscriberService_v3_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/SelfMgmt/PrepaidSubscriberService_3"
                  xmlns:ss="http://xmlschema.tmi.telus.com/srv/CMO/SelfMgmt/PrepaidSubscriberService_v3"
                  name="PrepaidSubscriberService_v3_1.wsdl"
                  targetNamespace="http://telus.com/wsdl/CMO/SelfMgmt/PrepaidSubscriberService_3"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>
				Support for retrive and maintenance of prepaid subscriber account and profile information. Detail information include the following, balance, credit expiry date, subscribed products, recharge registration and life cycle expiry date etc.
		</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/SelfMgmt/PrepaidSubscriberService_3">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/SelfMgmt/PrepaidSubscriberService_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/SelfMgmt/PrepaidSubscriberServiceRequestResponse_v3_1.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getSummary">
      <wsdl:part name="parameters" element="ss:getSummary"/>
   </wsdl:message>
   <wsdl:message name="getSummaryResponse">
      <wsdl:part name="result" element="ss:getSummaryResponse"/>
   </wsdl:message>
   <wsdl:message name="getDetail">
      <wsdl:part name="parameters" element="ss:getDetail"/>
   </wsdl:message>
   <wsdl:message name="getDetailResponse">
      <wsdl:part name="result" element="ss:getDetailResponse"/>
   </wsdl:message>
   <wsdl:message name="activateSubscriber">
      <wsdl:part name="parameters" element="ss:activateSubscriber"/>
      <wsdl:part name="activateSubscriberInSoapHdr" element="ss:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="activateSubscriberResponse">
      <wsdl:part name="result" element="ss:activateSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="updateSubscriber">
      <wsdl:part name="parameters" element="ss:updateSubscriber"/>
      <wsdl:part name="updateSubscriberInSoapHdr" element="ss:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="updateSubscriberResponse">
      <wsdl:part name="result" element="ss:updateSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="cancelSubscriber">
      <wsdl:part name="parameters" element="ss:cancelSubscriber"/>
      <wsdl:part name="cancelSubscriberInSoapHdr" element="ss:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="cancelSubscriberResponse">
      <wsdl:part name="result" element="ss:cancelSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="PrepaidSubscriberService_v3_1_PortType">
      <wsdl:operation name="getSummary">
         <wsdl:input message="iface:getSummary"/>
         <wsdl:output message="iface:getSummaryResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getDetail">
         <wsdl:input message="iface:getDetail"/>
         <wsdl:output message="iface:getDetailResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="activateSubscriber">
         <wsdl:input message="iface:activateSubscriber"/>
         <wsdl:output message="iface:activateSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="updateSubscriber">
         <wsdl:input message="iface:updateSubscriber"/>
         <wsdl:output message="iface:updateSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="cancelSubscriber">
         <wsdl:input message="iface:cancelSubscriber"/>
         <wsdl:output message="iface:cancelSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="PrepaidSubscriberService_v3_1_SOAP"
                 type="iface:PrepaidSubscriberService_v3_1_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getSummary">
         <wsdl:documentation>
			Used to get the summary of a subscriber account info like balance, expiry date etc.
		</wsdl:documentation>
         <soap:operation soapAction="getSummary"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getDetail">
         <wsdl:documentation>
	Used to get more detail additional info like balance recharge details
		</wsdl:documentation>
         <soap:operation soapAction="getDetail"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="activateSubscriber">
         <wsdl:documentation>
			Used to activate a subscriber profile.
		</wsdl:documentation>
         <soap:operation soapAction="activateSubscriber"/>
         <wsdl:input>
            <wsdl:documentation>User Header allows input of customer ID and list of consuming application IDs</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:activateSubscriber"
                         part="activateSubscriberInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateSubscriber">
         <wsdl:documentation>
			Used to update the subscriber account.
		</wsdl:documentation>
         <soap:operation soapAction="updateSubscriber"/>
         <wsdl:input>
            <wsdl:documentation>User Header allows input of customer ID and list of consuming application IDs</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:updateSubscriber" part="updateSubscriberInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="cancelSubscriber">
         <wsdl:documentation>
			Used to cancel or deactivate a subscriber account.
		</wsdl:documentation>
         <soap:operation soapAction="cancelSubscriber"/>
         <wsdl:input>
            <wsdl:documentation>User Header allows input of customer ID and list of consuming application IDs</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:cancelSubscriber" part="cancelSubscriberInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="PrepaidSubscriberService_v3_1">
      <wsdl:port name="PrepaidSubscriberServicePort"
                 binding="iface:PrepaidSubscriberService_v3_1_SOAP">
         <soap:address location="http://prepaidmgmtesb2-dv103.tmi.telus.com/CMO/SelfMgmt/PrepaidSubscriberService_v3_1"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>