cmb-ait/cmb-ws-clients/src/main/resources/wsdls/SubscriberInformationService/SubscriberInformationService_v3_4.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/InformationMgmt/SubscriberInformationService_3"
                  xmlns:csm="http://xmlschema.tmi.telus.com/srv/CMO/InformationMgmt/SubscriberInformationServiceRequestResponse_v3"
                  name="SubscriberInformationService_v3_4.wsdl"
                  targetNamespace="http://telus.com/wsdl/CMO/InformationMgmt/SubscriberInformationService_3"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Provides access to subscriber information operations.</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/InformationMgmt/SubscriberInformationService_3">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/InformationMgmt/SubscriberInformationServiceRequestResponse_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/InformationMgmt/SubscriberInformationServiceRequestResponse_v3_4.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="createMemo">
      <wsdl:part name="parameters" element="csm:createMemo"/>
   </wsdl:message>
   <wsdl:message name="createMemoResponse">
      <wsdl:part name="result" element="csm:createMemoResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberIdentifierByPhoneNumberAndAccountNumber">
      <wsdl:part name="parameters"
                 element="csm:getSubscriberIdentifierByPhoneNumberAndAccountNumber"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberIdentifierByPhoneNumberAndAccountNumberResponse">
      <wsdl:part name="result"
                 element="csm:getSubscriberIdentifierByPhoneNumberAndAccountNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberIdentifierListByAccountNumber">
      <wsdl:part name="parameters" element="csm:getSubscriberIdentifierListByAccountNumber"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberIdentifierListByAccountNumberResponse">
      <wsdl:part name="result" element="csm:getSubscriberIdentifierListByAccountNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberListByAccountNumber">
      <wsdl:part name="parameters" element="csm:getSubscriberListByAccountNumber"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberListByAccountNumberResponse">
      <wsdl:part name="result" element="csm:getSubscriberListByAccountNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberListByIMSI">
      <wsdl:part name="parameters" element="csm:getSubscriberListByIMSI"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberListByIMSIResponse">
      <wsdl:part name="result" element="csm:getSubscriberListByIMSIResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberListByPhoneNumber">
      <wsdl:part name="parameters" element="csm:getSubscriberListByPhoneNumber"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberListByPhoneNumberResponse">
      <wsdl:part name="result" element="csm:getSubscriberListByPhoneNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberByPhoneNumber">
      <wsdl:part name="parameters" element="csm:getSubscriberByPhoneNumber"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberByPhoneNumberResponse">
      <wsdl:part name="result" element="csm:getSubscriberByPhoneNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="updatePortInSubscriber">
      <wsdl:part name="parameters" element="csm:updatePortInSubscriber"/>
   </wsdl:message>
   <wsdl:message name="updatePortInSubscriberResponse">
      <wsdl:part name="result" element="csm:updatePortInSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="updateSnapbackPhoneNumber">
      <wsdl:part name="parameters" element="csm:updateSnapbackPhoneNumber"/>
   </wsdl:message>
   <wsdl:message name="updateSnapbackPhoneNumberResponse">
      <wsdl:part name="result" element="csm:updateSnapbackPhoneNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="checkPortOutEligibility">
      <wsdl:part name="parameters" element="csm:checkPortOutEligibility"/>
   </wsdl:message>
   <wsdl:message name="checkPortOutEligibilityResponse">
      <wsdl:part name="result" element="csm:checkPortOutEligibilityResponse"/>
   </wsdl:message>
   <wsdl:message name="updateEmailAddress">
      <wsdl:part name="parameters" element="csm:updateEmailAddress"/>
   </wsdl:message>
   <wsdl:message name="updateEmailAddressResponse">
      <wsdl:part name="result" element="csm:updateEmailAddressResponse"/>
   </wsdl:message>
   <wsdl:message name="getEmailAddress">
      <wsdl:part name="parameters" element="csm:getEmailAddress"/>
   </wsdl:message>
   <wsdl:message name="getEmailAddressResponse">
      <wsdl:part name="result" element="csm:getEmailAddressResponse"/>
   </wsdl:message>
   <wsdl:message name="getCallingCircleInformation">
      <wsdl:part name="parameters" element="csm:getCallingCircleInformation"/>
   </wsdl:message>
   <wsdl:message name="getCallingCircleInformationResponse">
      <wsdl:part name="result" element="csm:getCallingCircleInformationResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberListByDataSharingGroupList">
      <wsdl:part name="parameters" element="csm:getSubscriberListByDataSharingGroupList"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberListByDataSharingGroupListResponse">
      <wsdl:part name="result" element="csm:getSubscriberListByDataSharingGroupListResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberIdListByServiceGroupFamily">
      <wsdl:part name="parameters" element="csm:getSubscriberIdListByServiceGroupFamily"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberIdListByServiceGroupFamilyResponse">
      <wsdl:part name="result" element="csm:getSubscriberIdListByServiceGroupFamilyResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberBySubscriberId">
      <wsdl:part name="parameters" element="csm:getSubscriberBySubscriberId"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberBySubscriberIdResponse">
      <wsdl:part name="result" element="csm:getSubscriberBySubscriberIdResponse"/>
   </wsdl:message>
   <wsdl:message name="getLatestSubscriberByPhoneNumber">
      <wsdl:part name="parameters" element="csm:getLatestSubscriberByPhoneNumber"/>
   </wsdl:message>
   <wsdl:message name="getLatestSubscriberByPhoneNumberResponse">
      <wsdl:part name="result" element="csm:getLatestSubscriberByPhoneNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberIdentifierBySubscriptionId">
      <wsdl:part name="parameters" element="csm:getSubscriberIdentifierBySubscriptionId"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberIdentifierBySubscriptionIdResponse">
      <wsdl:part name="result" element="csm:getSubscriberIdentifierBySubscriptionIdResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberBySubscriptionId">
      <wsdl:part name="parameters" element="csm:getSubscriberBySubscriptionId"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberBySubscriptionIdResponse">
      <wsdl:part name="result" element="csm:getSubscriberBySubscriptionIdResponse"/>
   </wsdl:message>
   <wsdl:message name="getAirTimeAllocationList">
      <wsdl:part name="parameters" element="csm:getAirTimeAllocationList"/>
   </wsdl:message>
   <wsdl:message name="getAirTimeAllocationListResponse">
      <wsdl:part name="result" element="csm:getAirTimeAllocationListResponse"/>
   </wsdl:message>
   <wsdl:message name="updateSubscriberProfile">
      <wsdl:part name="parameters" element="csm:updateSubscriberProfile"/>
   </wsdl:message>
   <wsdl:message name="updateSubscriberProfileResponse">
      <wsdl:part name="result" element="csm:updateSubscriberProfileResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberDataSharingInfoList">
      <wsdl:part name="parameters" element="csm:getSubscriberDataSharingInfoList"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberDataSharingInfoListResponse">
      <wsdl:part name="result" element="csm:getSubscriberDataSharingInfoListResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="SubscriberInformationService_v3_4_PortType">
      <wsdl:operation name="createMemo">
         <wsdl:input message="iface:createMemo"/>
         <wsdl:output message="iface:createMemoResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberIdentifierByPhoneNumberAndAccountNumber">
         <wsdl:input message="iface:getSubscriberIdentifierByPhoneNumberAndAccountNumber"/>
         <wsdl:output message="iface:getSubscriberIdentifierByPhoneNumberAndAccountNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberIdentifierListByAccountNumber">
         <wsdl:input message="iface:getSubscriberIdentifierListByAccountNumber"/>
         <wsdl:output message="iface:getSubscriberIdentifierListByAccountNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberListByAccountNumber">
         <wsdl:input message="iface:getSubscriberListByAccountNumber"/>
         <wsdl:output message="iface:getSubscriberListByAccountNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberListByIMSI">
         <wsdl:input message="iface:getSubscriberListByIMSI"/>
         <wsdl:output message="iface:getSubscriberListByIMSIResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberListByPhoneNumber">
         <wsdl:input message="iface:getSubscriberListByPhoneNumber"/>
         <wsdl:output message="iface:getSubscriberListByPhoneNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberByPhoneNumber">
         <wsdl:input message="iface:getSubscriberByPhoneNumber"/>
         <wsdl:output message="iface:getSubscriberByPhoneNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="updatePortInSubscriber">
         <wsdl:input message="iface:updatePortInSubscriber"/>
         <wsdl:output message="iface:updatePortInSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="updateSnapbackPhoneNumber">
         <wsdl:input message="iface:updateSnapbackPhoneNumber"/>
         <wsdl:output message="iface:updateSnapbackPhoneNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="checkPortOutEligibility">
         <wsdl:input message="iface:checkPortOutEligibility"/>
         <wsdl:output message="iface:checkPortOutEligibilityResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="updateEmailAddress">
         <wsdl:input message="iface:updateEmailAddress"/>
         <wsdl:output message="iface:updateEmailAddressResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getEmailAddress">
         <wsdl:input message="iface:getEmailAddress"/>
         <wsdl:output message="iface:getEmailAddressResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getCallingCircleInformation">
         <wsdl:input message="iface:getCallingCircleInformation"/>
         <wsdl:output message="iface:getCallingCircleInformationResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberListByDataSharingGroupList">
         <wsdl:input message="iface:getSubscriberListByDataSharingGroupList"/>
         <wsdl:output message="iface:getSubscriberListByDataSharingGroupListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberIdListByServiceGroupFamily">
         <wsdl:input message="iface:getSubscriberIdListByServiceGroupFamily"/>
         <wsdl:output message="iface:getSubscriberIdListByServiceGroupFamilyResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberBySubscriberId">
         <wsdl:input message="iface:getSubscriberBySubscriberId"/>
         <wsdl:output message="iface:getSubscriberBySubscriberIdResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getLatestSubscriberByPhoneNumber">
         <wsdl:input message="iface:getLatestSubscriberByPhoneNumber"/>
         <wsdl:output message="iface:getLatestSubscriberByPhoneNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberIdentifierBySubscriptionId">
         <wsdl:input message="iface:getSubscriberIdentifierBySubscriptionId"/>
         <wsdl:output message="iface:getSubscriberIdentifierBySubscriptionIdResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberBySubscriptionId">
         <wsdl:input message="iface:getSubscriberBySubscriptionId"/>
         <wsdl:output message="iface:getSubscriberBySubscriptionIdResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getAirTimeAllocationList">
         <wsdl:input message="iface:getAirTimeAllocationList"/>
         <wsdl:output message="iface:getAirTimeAllocationListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="updateSubscriberProfile">
         <wsdl:input message="iface:updateSubscriberProfile"/>
         <wsdl:output message="iface:updateSubscriberProfileResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberDataSharingInfoList">
         <wsdl:input message="iface:getSubscriberDataSharingInfoList"/>
         <wsdl:output message="iface:getSubscriberDataSharingInfoListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SubscriberInformationService_v3_4_SOAP"
                 type="iface:SubscriberInformationService_v3_4_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="createMemo">
         <wsdl:documentation>Creation of memo for subscriber account.</wsdl:documentation>
         <soap:operation soapAction="createMemo"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberIdentifierByPhoneNumberAndAccountNumber">
         <wsdl:documentation>Retrieve subscriber identifiers by phone number and Account Number.</wsdl:documentation>
         <soap:operation soapAction="getSubscriberIdentifierByPhoneNumberAndAccountNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberIdentifierListByAccountNumber">
         <wsdl:documentation>Retrieve subscriber identifiers by Account Number.</wsdl:documentation>
         <soap:operation soapAction="getSubscriberIdentifierListByAccountNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberListByAccountNumber">
         <wsdl:documentation>Retrieve all subscribers associated with an account number.</wsdl:documentation>
         <soap:operation soapAction="getSubscriberListByAccountNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberListByIMSI">
         <wsdl:documentation>Retrieve all subscribers associated with an IMSI.</wsdl:documentation>
         <soap:operation soapAction="getSubscriberListByIMSI"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberListByPhoneNumber">
         <wsdl:documentation>Retrieve all subscribers associated with a phone number.</wsdl:documentation>
         <soap:operation soapAction="getSubscriberListByPhoneNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberByPhoneNumber">
         <wsdl:documentation>Retrieve single activer or suspended subscriber by phone number.</wsdl:documentation>
         <soap:operation soapAction="getSubscriberByPhoneNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updatePortInSubscriber">
         <wsdl:documentation>This operation updates the Subscriber entity to indicate that the "port-type" of this subscriber is a "port-in".</wsdl:documentation>
         <soap:operation soapAction="updatePortInSubscriber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateSnapbackPhoneNumber">
         <wsdl:documentation>Returns the phone number resource back into the Telus pool of numbers when the number is no longer being used after a port-out.</wsdl:documentation>
         <soap:operation soapAction="updateSnapbackPhoneNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="checkPortOutEligibility">
         <wsdl:documentation>Check to see if a phoneNumber is eligible for port out and if it is "transferable blocked".</wsdl:documentation>
         <soap:operation soapAction="checkPortOutEligibility"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateEmailAddress">
         <wsdl:documentation>Update email address as subscriber level.</wsdl:documentation>
         <soap:operation soapAction="updateEmailAddress"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getEmailAddress">
         <wsdl:documentation>Retrieve subscriber level email address.</wsdl:documentation>
         <soap:operation soapAction="getEmailAddress"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getCallingCircleInformation">
         <wsdl:documentation>Retrieve calling circle information.</wsdl:documentation>
         <soap:operation soapAction="getCallingCircleInformation"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberListByDataSharingGroupList">
         <wsdl:documentation>This operation returns a list of subscribers representing only active and suspended subscribers (Subscriber.status == SubscriberStatus.A || Subscriber.status == SubscriberStatus.S) on an account where the subscriber has a SOC that belongs in the given data sharing group codes</wsdl:documentation>
         <soap:operation soapAction="getSubscriberListByDataSharingGroupList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberIdListByServiceGroupFamily">
         <wsdl:documentation>This operation returns all subscriber Ids (both active and suspended subscribers) on the given billingAccountNumber where the subscriber has a SOC with a SOC group belonging to the specified familyType</wsdl:documentation>
         <soap:operation soapAction="getSubscriberIdListByServiceGroupFamily"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberBySubscriberId">
         <wsdl:documentation>This operation returns a Subscriber given a subscriberId</wsdl:documentation>
         <soap:operation soapAction="getSubscriberBySubscriberId"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getLatestSubscriberByPhoneNumber">
         <wsdl:documentation>This operation returns the latest subscriber that is associated with the phone number, including if the subscriber is in cancelled state. The only difference between this new operation and existing operation getSubscriberByPhoneNumber is that the new operation can return the subscriber currently in cancelled state but getSubscriberByPhoneNumber does not.</wsdl:documentation>
         <soap:operation soapAction="getLatestSubscriberByPhoneNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberIdentifierBySubscriptionId">
         <wsdl:documentation>This operation returns the subscriber identifier that is associated with the subscription id.</wsdl:documentation>
         <soap:operation soapAction="getSubscriberIdentifierBySubscriptionId"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberBySubscriptionId">
         <wsdl:documentation>This operation returns the latest subscriber that is associated with the subscription Id.  Including if the subscriber is in cancelled state.</wsdl:documentation>
         <soap:operation soapAction="getSubscriberBySubscriptionId"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAirTimeAllocationList">
         <wsdl:documentation>This operation returns the voice allocation information based on subscriber profile and/or the soc configuration data.    
- In the case of the input list of service code is provided, the operation will calculate estimated effective and/or expiration date. It has an extra logic to retrieve the voice allocation for the related service if the related service is not in the input list of service code. The related services include promotional service, bounded and sequentially bounded service. However this operation does not deal with any missing included service. There is no logic of dropping conflicting service or incompatible service as it would have been done via contract save.
		</wsdl:documentation>
         <soap:operation soapAction="getAirTimeAllocationList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateSubscriberProfile">
         <wsdl:documentation>This operation will update subscriber email, language, and name.
		</wsdl:documentation>
         <soap:operation soapAction="updateSubscriberProfile"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberDataSharingInfoList">
         <wsdl:documentation>This operation returns a list of subscribers data sharing info including only active and suspended subscribers. The data sharing info includes data sharing groups that the subscribers are contributing or participating in, the charge they are spending for contributing the data sharing SOCs, the rate plan and other non-data-sharing SOCs.</wsdl:documentation>
         <soap:operation soapAction="getSubscriberDataSharingInfoList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="SubscriberInformationService_v3_4">
      <wsdl:port name="SubscriberInformationServicePort"
                 binding="iface:SubscriberInformationService_v3_4_SOAP">
         <soap:address location="http://cmosr-custinfomgmt-dv103.tmi.telus.com/CMO/InformationMgmt/SubscriberInformationService/SubscriberInformationService_v3_4"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>