cmb-common/cmb-ws-clients/card-payment-ws-client-1-4/src/main/resources/wsdls/CardPaymentService_v1_4.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:iface="http://telus.com/wsdl/EO/FinancialMgmt/CardPaymentService_1"
                  xmlns:cps="http://xmlschema.tmi.telus.com/srv/EO/FinancialMgmt/CardPaymentSvcRequestResponse_v1"
                  name="CardPaymentService_v1_4.wsdl"
                  targetNamespace="http://telus.com/wsdl/EO/FinancialMgmt/CardPaymentService_1"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Processes Credit Card and Debit Card transactions</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/EO/FinancialMgmt/CardPaymentService_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/EO/FinancialMgmt/CardPaymentSvcRequestResponse_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/EO/FinancialMgmt/CardPaymentSvcRequestResponse_v1_4.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="processTransaction">
      <wsdl:part name="parameters" element="cps:ProcessTransaction"/>
   </wsdl:message>
   <wsdl:message name="processTransactionResponse">
      <wsdl:part name="result" element="cps:ProcessTransactionResponse"/>
   </wsdl:message>
   <wsdl:message name="findTransaction">
      <wsdl:part name="parameters" element="cps:FindTransaction"/>
   </wsdl:message>
   <wsdl:message name="findTransactionResponse">
      <wsdl:part name="result" element="cps:FindTransactionResponse"/>
   </wsdl:message>
   <wsdl:message name="reverseTimeoutTransaction">
      <wsdl:part name="parameters" element="cps:ReverseTimeoutTransaction"/>
   </wsdl:message>
   <wsdl:message name="reverseTimeoutTransactionResponse">
      <wsdl:part name="result" element="cps:ReverseTimeoutTransactionResponse"/>
   </wsdl:message>
   <wsdl:message name="reverseTransaction">
      <wsdl:part name="parameters" element="cps:ReverseTransaction"/>
   </wsdl:message>
   <wsdl:message name="reverseTransactionResponse">
      <wsdl:part name="result" element="cps:ReverseTransactionResponse"/>
   </wsdl:message>
   <wsdl:message name="acknowlege">
      <wsdl:part name="parameters" element="cps:Acknowlege"/>
   </wsdl:message>
   <wsdl:message name="acknowlegeResponse">
      <wsdl:part name="result" element="cps:AcknowlegeResponse"/>
   </wsdl:message>
   <wsdl:message name="macReversal">
      <wsdl:part name="parameters" element="cps:MacReversal"/>
   </wsdl:message>
   <wsdl:message name="macReversalResponse">
      <wsdl:part name="result" element="cps:MacReversalResponse"/>
   </wsdl:message>
   <wsdl:message name="decryptionReversal">
      <wsdl:part name="parameters" element="cps:DecryptionReversal"/>
   </wsdl:message>
   <wsdl:message name="decryptionReversalResponse">
      <wsdl:part name="result" element="cps:DecryptionReversalResponse"/>
   </wsdl:message>
   <wsdl:message name="getFraudRulesForApp">
      <wsdl:part name="parameters" element="cps:getFraudRulesForApp"/>
   </wsdl:message>
   <wsdl:message name="getFraudRulesForAppResponse">
      <wsdl:part name="result" element="cps:getFraudRulesForAppResponse"/>
   </wsdl:message>
   <wsdl:message name="refreshFraudRulesForApp">
      <wsdl:part name="parameters" element="cps:refreshFraudRulesForApp"/>
   </wsdl:message>
   <wsdl:message name="refreshFraudRulesForAppResponse">
      <wsdl:part name="result" element="cps:refreshFraudRulesForAppResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="CardPaymentService_v1_4_PortType">
      <wsdl:operation name="processTransaction">
         <wsdl:input message="iface:processTransaction"/>
         <wsdl:output message="iface:processTransactionResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="findTransaction">
         <wsdl:input message="iface:findTransaction"/>
         <wsdl:output message="iface:findTransactionResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="reverseTimeoutTransaction">
         <wsdl:input message="iface:reverseTimeoutTransaction"/>
         <wsdl:output message="iface:reverseTimeoutTransactionResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="reverseTransaction">
         <wsdl:input message="iface:reverseTransaction"/>
         <wsdl:output message="iface:reverseTransactionResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="acknowlege">
         <wsdl:input message="iface:acknowlege"/>
         <wsdl:output message="iface:acknowlegeResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="macReversal">
         <wsdl:input message="iface:macReversal"/>
         <wsdl:output message="iface:macReversalResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="decryptionReversal">
         <wsdl:input message="iface:decryptionReversal"/>
         <wsdl:output message="iface:decryptionReversalResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getFraudRulesForApp">
         <wsdl:input message="iface:getFraudRulesForApp"/>
         <wsdl:output message="iface:getFraudRulesForAppResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="refreshFraudRulesForApp">
         <wsdl:input message="iface:refreshFraudRulesForApp"/>
         <wsdl:output message="iface:refreshFraudRulesForAppResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="CardPaymentService_v1_4_SOAP"
                 type="iface:CardPaymentService_v1_4_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="processTransaction">
         <wsdl:documentation>
	   This operation is called for the following card payment transaction types:
				AUTHORIZATION_ONLY
				PURCHASE
				PAYMENT_VOID
				REFUND
				REFUND_VOID
				PRE_APPROVED_PURCHASE
				TEL_AUTH_PURCHASE 
	 Also, credit card fraud checks will be performed if an application is configured to carry out such checking.
	</wsdl:documentation>
         <soap:operation soapAction="processTransaction"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="findTransaction">
         <wsdl:documentation>This operation is called to find transaction information in TMPG of a previously submitted payment transaction. Client must pass mandatory information (application code, payment type and reference number) and CardPaymentService will return corresponding transaction information.</wsdl:documentation>
         <soap:operation soapAction="findTransaction"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="reverseTimeoutTransaction">
         <wsdl:documentation>If a transaction has been made but payment response is not received, call this method to trigger Concentrator Reversal and rollback the transaction.</wsdl:documentation>
         <soap:operation soapAction="reverseTimeoutTransaction"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="reverseTransaction">
         <wsdl:documentation>If a transaction has been made and payment response has been received, call this method to trigger Concentrator Reversal and rollback the transaction in case up-stream application cannot be communicated.
	  </wsdl:documentation>
         <soap:operation soapAction="reverseTransaction"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="acknowlege">
         <wsdl:documentation>Some of the applications call this function today to inform CardPaymentService that the payment response is received.
	  </wsdl:documentation>
         <soap:operation soapAction="acknowlege"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="macReversal">
         <wsdl:documentation>Used to trigger a debit card payment reversal in case, during a debit payment, a pinpad fails to validate itself against data coming from Global Payments. Currently used by POS only in case an incorrect or incorrectly set up pinpad device is attached to a Point-Of-Sale terminal.
	  </wsdl:documentation>
         <soap:operation soapAction="macReversal"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="decryptionReversal">
         <wsdl:documentation>Used to trigger a debit card payment reversal in case, during a debit payment, a pinpad fails to decrypt the account balance returned by Global Payments. Currently used by POS only in case an pinpad does not have the most up-to-date keys from Global Payments.
	  </wsdl:documentation>
         <soap:operation soapAction="decryptionReversal"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getFraudRulesForApp">
         <wsdl:documentation>retrieve fraud rules configuration for a specified application code 
	  </wsdl:documentation>
         <soap:operation soapAction="getFraudRulesForApp"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="refreshFraudRulesForApp">
         <wsdl:documentation>refresh fraud rule configurations for a specified application code 
	  </wsdl:documentation>
         <soap:operation soapAction="refreshFraudRulesForApp"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="CardPaymentService_v1_4">
      <wsdl:port name="CardPaymentServicePort"
                 binding="iface:CardPaymentService_v1_4_SOAP">
         <soap:address location="http://em-financialmgmt-dv103.tmi.telus.com/EO/FinancialMgmt/FinancialMgmt/CardPaymentService_v1_4"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
