cmb-tools/cmb-log-services/src/main/resources/wsdls/SubscriberInformationDataGridService_v1_7.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:shttp="http://soa.com/wsdl/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/SelfMgmt/SubscriberInformationDataGridService_1"
                  xmlns:sidgs="http://xmlschema.tmi.telus.com/srv/CMO/SelfMgmt/SubscriberInformationDataGridServiceRequestResponse_v1"
                  targetNamespace="http://telus.com/wsdl/CMO/SelfMgmt/SubscriberInformationDataGridService_1"><!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v3_3.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_2.xsd
				--><wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/SelfMgmt/SubscriberInformationDataGridService_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/SelfMgmt/SubscriberInformationDataGridServiceRequestResponse_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/SelfMgmt/SubscriberInformationDataGridServiceRequestResponse_v1_7.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getSubscriberByPhoneNumber">
      <wsdl:part name="parameters" element="sidgs:getSubscriberByPhoneNumber"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberByPhoneNumberResponse">
      <wsdl:part name="result" element="sidgs:getSubscriberByPhoneNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberBySubscriptionId">
      <wsdl:part name="parameters" element="sidgs:getSubscriberBySubscriptionId"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberBySubscriptionIdResponse">
      <wsdl:part name="result" element="sidgs:getSubscriberBySubscriptionIdResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberListByAccountNumber">
      <wsdl:part name="parameters" element="sidgs:getSubscriberListByAccountNumber"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberListByAccountNumberResponse">
      <wsdl:part name="result" element="sidgs:getSubscriberListByAccountNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="validatePhoneNumberAssociatedWithAccount">
      <wsdl:part name="parameters" element="sidgs:validatePhoneNumberAssociatedWithAccount"/>
   </wsdl:message>
   <wsdl:message name="validatePhoneNumberAssociatedWithAccountResponse">
      <wsdl:part name="result" element="sidgs:validatePhoneNumberAssociatedWithAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberListByAccountNumberList">
      <wsdl:part name="parameters" element="sidgs:getSubscriberListByAccountNumberList"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberListByAccountNumberListResponse">
      <wsdl:part name="result" element="sidgs:getSubscriberListByAccountNumberListResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberIdentifierListByAccountNumber">
      <wsdl:part name="parameters" element="sidgs:getSubscriberIdentifierListByAccountNumber"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberIdentifierListByAccountNumberResponse">
      <wsdl:part name="result"
                 element="sidgs:getSubscriberIdentifierListByAccountNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberIdentifierListByAccountNumberList">
      <wsdl:part name="parameters"
                 element="sidgs:getSubscriberIdentifierListByAccountNumberList"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberIdentifierListByAccountNumberListResponse">
      <wsdl:part name="result"
                 element="sidgs:getSubscriberIdentifierListByAccountNumberListResponse"/>
   </wsdl:message>
   <wsdl:message name="getLatestSubscriberListByPhoneNumberList">
      <wsdl:part name="parameters" element="sidgs:getLatestSubscriberListByPhoneNumberList"/>
   </wsdl:message>
   <wsdl:message name="getLatestSubscriberListByPhoneNumberListResponse">
      <wsdl:part name="result" element="sidgs:getLatestSubscriberListByPhoneNumberListResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberListBySubscriptionIdList">
      <wsdl:part name="parameters" element="sidgs:getSubscriberListBySubscriptionIdList"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberListBySubscriptionIdListResponse">
      <wsdl:part name="result" element="sidgs:getSubscriberListBySubscriptionIdListResponse"/>
   </wsdl:message>
   <wsdl:message name="searchSubscribers">
      <wsdl:part name="parameters" element="sidgs:searchSubscribers"/>
   </wsdl:message>
   <wsdl:message name="searchSubscribersResponse">
      <wsdl:part name="result" element="sidgs:searchSubscribersResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:portType name="SubscriberInformationDataGridService_v1_7_PortType">
      <wsdl:operation name="getSubscriberByPhoneNumber">
         <wsdl:input message="iface:getSubscriberByPhoneNumber"/>
         <wsdl:output message="iface:getSubscriberByPhoneNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberBySubscriptionId">
         <wsdl:input message="iface:getSubscriberBySubscriptionId"/>
         <wsdl:output message="iface:getSubscriberBySubscriptionIdResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberListByAccountNumber">
         <wsdl:input message="iface:getSubscriberListByAccountNumber"/>
         <wsdl:output message="iface:getSubscriberListByAccountNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="validatePhoneNumberAssociatedWithAccount">
         <wsdl:input message="iface:validatePhoneNumberAssociatedWithAccount"/>
         <wsdl:output message="iface:validatePhoneNumberAssociatedWithAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberListByAccountNumberList">
         <wsdl:input message="iface:getSubscriberListByAccountNumberList"/>
         <wsdl:output message="iface:getSubscriberListByAccountNumberListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberIdentifierListByAccountNumber">
         <wsdl:input message="iface:getSubscriberIdentifierListByAccountNumber"/>
         <wsdl:output message="iface:getSubscriberIdentifierListByAccountNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberIdentifierListByAccountNumberList">
         <wsdl:input message="iface:getSubscriberIdentifierListByAccountNumberList"/>
         <wsdl:output message="iface:getSubscriberIdentifierListByAccountNumberListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getLatestSubscriberListByPhoneNumberList">
         <wsdl:input message="iface:getLatestSubscriberListByPhoneNumberList"/>
         <wsdl:output message="iface:getLatestSubscriberListByPhoneNumberListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberListBySubscriptionIdList">
         <wsdl:input message="iface:getSubscriberListBySubscriptionIdList"/>
         <wsdl:output message="iface:getSubscriberListBySubscriptionIdListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="searchSubscribers">
         <wsdl:input message="iface:searchSubscribers"/>
         <wsdl:output message="iface:searchSubscribersResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SubscriberInformationDataGridService_v1_7_SOAP"
                 type="iface:SubscriberInformationDataGridService_v1_7_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getSubscriberByPhoneNumber">
         <wsdl:documentation>This getSubscriberByPhoneNumber operation returns the subscriber details using phone number as an input parameter. This response contains all the subscriber details includes Subscriber id , Price plan details, Subscriber level Email id, Contract details, Equipment serial number , consumer name and Subscriber level Address. This operation returns last updated subscriber with in the status Active, Suspended/Reserved and corresponding associated account.</wsdl:documentation>
         <soap:operation soapAction="getSubscriberByPhoneNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberBySubscriptionId">
         <wsdl:documentation>This getSubscriberBySubscriptionId operation returns the subscriber details using subscriptionId (External id) as an input parameter. This response contains all the subscriber details includes Subscriber id , Price plan details, Subscriber level Email id, Contract details, Equipment serial number , consumer name and Subscriber level Address. This operation returns latest subscriber and corresponding associated account.</wsdl:documentation>
         <soap:operation soapAction="getSubscriberBySubscriptionId"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberListByAccountNumber">
         <wsdl:documentation>This getSubscriberListByAccountNumber operation returns the subscribers list using billing account number as an input parameter. This response contains all the subscriber details includes Subscriber id , Price plan details, Subscriber level Email id, Contract details, Equipment serial number , consumer name and Subscriber level Address. This operation returns subscriber list associated with input parameter billing account number.</wsdl:documentation>
         <soap:operation soapAction="getSubscriberListByAccountNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="validatePhoneNumberAssociatedWithAccount">
         <wsdl:documentation>This validatePhoneNumberAssociatedWithAccount operation returns the boolean phoneNumberAssociatedWithAccountInd using the billing account number and phone number as an input parameter. This operation helps us to validate current phone number is associated with provided BAN or not. This response contains provided BAN/ Phone number and Validation indicator with true or false result.</wsdl:documentation>
         <soap:operation soapAction="validatePhoneNumberAssociatedWithAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberListByAccountNumberList">
         <wsdl:documentation>This getSubscriberListByAccountNumberList operation returns the subscribers list using the list of billing account numbers as an input parameter. This response contains all the subscriber details includes Subscriber id , Price plan details, Subscriber level Email id, Contract details, Equipment serial number , consumer name and Subscriber level Address. This operation returns subscriber list associated with input parameter billing account number.</wsdl:documentation>
         <soap:operation soapAction="getSubscriberListByAccountNumberList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberIdentifierListByAccountNumber">
         <wsdl:documentation>This getSubscriberIdentifierListByAccountNumber operation returns the list of subscriber Identifier using the billing account number as an input parameter. Also this operation has other boolean input parameters includeActiveInd, includeCancelledInd, includeSuspendedInd and includeReservedInd to filter the response. This response contains the billing account number, subscriber Id and subscription Id (External Id). </wsdl:documentation>
         <soap:operation soapAction="getSubscriberIdentifierListByAccountNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberIdentifierListByAccountNumberList">
         <wsdl:documentation>This getSubscriberIdentifierListByAccountNumberList operation returns the list of subscriber Identifier using the list of billing account numbers as an input parameter. Also this operation has other boolean input parameters includeActiveInd, includeCancelledInd, includeSuspendedInd and includeReservedInd to filter the response. This response contains the billing account number, subscriber Id and subscription Id (External Id). </wsdl:documentation>
         <soap:operation soapAction="getSubscriberIdentifierListByAccountNumberList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getLatestSubscriberListByPhoneNumberList">
         <wsdl:documentation>This getLatestSubscriberListByPhoneNumberList operation returns the subscribers list using the list of phone numbers as an input parameter. This response contains all the subscriber details includes Subscriber id , Price plan details, Subscriber level Email id, Contract details, Equipment serial number , consumer name and Subscriber level address. This operation returns list of all subscribers  and corresponding associated account.</wsdl:documentation>
         <soap:operation soapAction="getLatestSubscriberListByPhoneNumberList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberListBySubscriptionIdList">
         <wsdl:documentation>This getSubscriberListBySubscriptionIdList operation returns the subscriber list using subscriptionId list (External id) as an input parameter. This response contains all the subscriber details includes Subscriber id , Price plan details, Subscriber level Email id, Contract details, Equipment serial number , consumer name and Subscriber level Address. This operation returns list of all the subscribers and corresponding associated account.</wsdl:documentation>
         <soap:operation soapAction="getSubscriberListBySubscriptionIdList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="searchSubscribers">
         <wsdl:documentation> This searchSubscribers operation consist of mandatory Business Account number, an optional partial phone numbers (at least 4 digits) and profile id as input parameters. This operation returns list of subscribers.</wsdl:documentation>
         <soap:operation soapAction="searchSubscribers"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="SubscriberInformationDataGridService_v1_7">
      <wsdl:port name="SubscriberInformationDataGridServicePort"
                 binding="iface:SubscriberInformationDataGridService_v1_7_SOAP">
         <soap:address location="http://datagridservices-dv103.tsl.telus.com/v1-7/cmo/selfmgmt/subscriberinformationdatagrid/subscriberinformationdatagridservice-v1-7"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>