cmb-common/cmb-ws-clients/equipment-info-ws-client-2-0/src/main/resources/wsdls/EquipmentInfoService_v2_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/RMO/ResourceMgmt/EquipmentInfoService_2"
                  xmlns:eis="http://xmlschema.tmi.telus.com/srv/RMO/ResourceMgmt/EquipmentInfoServiceRequestResponse_v2"
                  name="EquipmentInfoService_v2_0.wsdl"
                  targetNamespace="http://telus.com/wsdl/RMO/ResourceMgmt/EquipmentInfoService_2"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>EquipmentInfoService to retrieve equipment information.</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/RMO/ResourceMgmt/EquipmentInfoService_2">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/RMO/ResourceMgmt/EquipmentInfoServiceRequestResponse_v2"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/RMO/ResourceMgmt/EquipmentInfoServiceRequestResponse_v2_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getEquipmentClientStateDetailInformation">
      <wsdl:part name="parameters" element="eis:getEquipmentClientStateDetailInformation"/>
   </wsdl:message>
   <wsdl:message name="getEquipmentClientStateDetailInformationResponse">
      <wsdl:part name="result" element="eis:getEquipmentClientStateDetailInformationResponse"/>
   </wsdl:message>
   <wsdl:message name="getExpiredUsimSmartCardListByUsimSmartCardList">
      <wsdl:part name="parameters" element="eis:getExpiredUsimSmartCardListByUsimSmartCardList"/>
   </wsdl:message>
   <wsdl:message name="getExpiredUsimSmartCardListByUsimSmartCardListResponse">
      <wsdl:part name="result"
                 element="eis:getExpiredUsimSmartCardListByUsimSmartCardListResponse"/>
   </wsdl:message>
   <wsdl:message name="getEquipmentSummary">
      <wsdl:part name="parameters" element="eis:getEquipmentSummary"/>
   </wsdl:message>
   <wsdl:message name="getEquipmentSummaryResponse">
      <wsdl:part name="result" element="eis:getEquipmentSummaryResponse"/>
   </wsdl:message>
   <wsdl:message name="getEquipmentSummaryList">
      <wsdl:part name="parameters" element="eis:getEquipmentSummaryList"/>
   </wsdl:message>
   <wsdl:message name="getEquipmentSummaryListResponse">
      <wsdl:part name="result" element="eis:getEquipmentSummaryListResponse"/>
   </wsdl:message>
   <wsdl:message name="getEquipmentDetails">
      <wsdl:part name="parameters" element="eis:getEquipmentDetails"/>
   </wsdl:message>
   <wsdl:message name="getEquipmentDetailsResponse">
      <wsdl:part name="result" element="eis:getEquipmentDetailsResponse"/>
   </wsdl:message>
   <wsdl:message name="getHandsetDetails">
      <wsdl:part name="parameters" element="eis:getHandsetDetails"/>
   </wsdl:message>
   <wsdl:message name="getHandsetDetailsResponse">
      <wsdl:part name="result" element="eis:getHandsetDetailsResponse"/>
   </wsdl:message>
   <wsdl:message name="getSmartCardDetails">
      <wsdl:part name="parameters" element="eis:getSmartCardDetails"/>
   </wsdl:message>
   <wsdl:message name="getSmartCardDetailsResponse">
      <wsdl:part name="result" element="eis:getSmartCardDetailsResponse"/>
   </wsdl:message>
   <wsdl:message name="getPcsHandsetDetails">
      <wsdl:part name="parameters" element="eis:getPcsHandsetDetails"/>
   </wsdl:message>
   <wsdl:message name="getPcsHandsetDetailsResponse">
      <wsdl:part name="result" element="eis:getPcsHandsetDetailsResponse"/>
   </wsdl:message>
   <wsdl:message name="getIdenHandsetDetails">
      <wsdl:part name="parameters" element="eis:getIdenHandsetDetails"/>
   </wsdl:message>
   <wsdl:message name="getIdenHandsetDetailsResponse">
      <wsdl:part name="result" element="eis:getIdenHandsetDetailsResponse"/>
   </wsdl:message>
   <wsdl:message name="getLostOrStolenHandsetDetails">
      <wsdl:part name="parameters" element="eis:getLostOrStolenHandsetDetails"/>
   </wsdl:message>
   <wsdl:message name="getLostOrStolenHandsetDetailsResponse">
      <wsdl:part name="result" element="eis:getLostOrStolenHandsetDetailsResponse"/>
   </wsdl:message>
   <wsdl:message name="getUsimSmartCardDetailsByImsi">
      <wsdl:part name="parameters" element="eis:getUsimSmartCardDetailsByImsi"/>
   </wsdl:message>
   <wsdl:message name="getUsimSmartCardDetailsByImsiResponse">
      <wsdl:part name="result" element="eis:getUsimSmartCardDetailsByImsiResponse"/>
   </wsdl:message>
   <wsdl:message name="getSimSmartCardDetails">
      <wsdl:part name="parameters" element="eis:getSimSmartCardDetails"/>
   </wsdl:message>
   <wsdl:message name="getSimSmartCardDetailsResponse">
      <wsdl:part name="result" element="eis:getSimSmartCardDetailsResponse"/>
   </wsdl:message>
   <wsdl:message name="getUimSmartCardDetails">
      <wsdl:part name="parameters" element="eis:getUimSmartCardDetails"/>
   </wsdl:message>
   <wsdl:message name="getUimSmartCardDetailsResponse">
      <wsdl:part name="result" element="eis:getUimSmartCardDetailsResponse"/>
   </wsdl:message>
   <wsdl:message name="getAssociatedUsimSmartCardIdForHandset">
      <wsdl:part name="parameters" element="eis:getAssociatedUsimSmartCardIdForHandset"/>
   </wsdl:message>
   <wsdl:message name="getAssociatedUsimSmartCardIdForHandsetResponse">
      <wsdl:part name="result" element="eis:getAssociatedUsimSmartCardIdForHandsetResponse"/>
   </wsdl:message>
   <wsdl:message name="getWarrantySummary">
      <wsdl:part name="parameters" element="eis:getWarrantySummary"/>
   </wsdl:message>
   <wsdl:message name="getWarrantySummaryResponse">
      <wsdl:part name="result" element="eis:getWarrantySummaryResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="EquipmentInfoService_v2_0_PortType">
      <wsdl:operation name="getEquipmentClientStateDetailInformation">
         <wsdl:input message="iface:getEquipmentClientStateDetailInformation"/>
         <wsdl:output message="iface:getEquipmentClientStateDetailInformationResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getExpiredUsimSmartCardListByUsimSmartCardList">
         <wsdl:input message="iface:getExpiredUsimSmartCardListByUsimSmartCardList"/>
         <wsdl:output message="iface:getExpiredUsimSmartCardListByUsimSmartCardListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getEquipmentSummary">
         <wsdl:input message="iface:getEquipmentSummary"/>
         <wsdl:output message="iface:getEquipmentSummaryResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getEquipmentSummaryList">
         <wsdl:input message="iface:getEquipmentSummaryList"/>
         <wsdl:output message="iface:getEquipmentSummaryListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getEquipmentDetails">
         <wsdl:input message="iface:getEquipmentDetails"/>
         <wsdl:output message="iface:getEquipmentDetailsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getHandsetDetails">
         <wsdl:input message="iface:getHandsetDetails"/>
         <wsdl:output message="iface:getHandsetDetailsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getSmartCardDetails">
         <wsdl:input message="iface:getSmartCardDetails"/>
         <wsdl:output message="iface:getSmartCardDetailsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getPcsHandsetDetails">
         <wsdl:input message="iface:getPcsHandsetDetails"/>
         <wsdl:output message="iface:getPcsHandsetDetailsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getIdenHandsetDetails">
         <wsdl:input message="iface:getIdenHandsetDetails"/>
         <wsdl:output message="iface:getIdenHandsetDetailsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getLostOrStolenHandsetDetails">
         <wsdl:input message="iface:getLostOrStolenHandsetDetails"/>
         <wsdl:output message="iface:getLostOrStolenHandsetDetailsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getUsimSmartCardDetailsByImsi">
         <wsdl:input message="iface:getUsimSmartCardDetailsByImsi"/>
         <wsdl:output message="iface:getUsimSmartCardDetailsByImsiResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getSimSmartCardDetails">
         <wsdl:input message="iface:getSimSmartCardDetails"/>
         <wsdl:output message="iface:getSimSmartCardDetailsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getUimSmartCardDetails">
         <wsdl:input message="iface:getUimSmartCardDetails"/>
         <wsdl:output message="iface:getUimSmartCardDetailsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getAssociatedUsimSmartCardIdForHandset">
         <wsdl:input message="iface:getAssociatedUsimSmartCardIdForHandset"/>
         <wsdl:output message="iface:getAssociatedUsimSmartCardIdForHandsetResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getWarrantySummary">
         <wsdl:input message="iface:getWarrantySummary"/>
         <wsdl:output message="iface:getWarrantySummaryResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="EquipmentInfoService_v2_0_SOAP"
                 type="iface:EquipmentInfoService_v2_0_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getEquipmentClientStateDetailInformation">
         <wsdl:documentation>
			Description:
				This operation retrieved equipment Client State Detail Information
			Input:
				1). serialNumber
				2)  equipmentGroup
				3). languageCd
			Output: 
				1. status (success, failure)
				2. deviceFoundInd
				3. telusDeviceInd
				4. productId
				5. nonTelusDeviceInfo
				6. channelOutletId
				7. subscriberPhoneNumber
				8. forcingAsNonTelusDeviceInd
				9. subscriberBrandId 	Telus brand code applicable for the equipment viz. codes for KOODO, ROCKHOPPER, REDKNEE,PHOENIX etc. 
	    		10. fraudDetailInfoList 
	    		
			Process:
				
		</wsdl:documentation>
         <soap:operation soapAction="getEquipmentClientStateDetailInformation"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getExpiredUsimSmartCardListByUsimSmartCardList">
         <wsdl:documentation>
			Description:
				This operation retrieve expired Usim Smart Card List.
			Input:
				1. usimIdList List of usimId's
			Output: 
				1. status (success, failure)
				2. usimIdList List of Usim Id's
			Process:
				1. 
		</wsdl:documentation>
         <soap:operation soapAction="getExpiredUsimSmartCardListByUsimSmartCardList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getEquipmentSummary">
         <wsdl:documentation>
		Description:
				This operation retrieves equipment summary
			Input:
				1). serialNumber
			Output: 
				1. status (success, failure)
				2. EquipmentSummaryType
					a. handSetSummary
							serialNumber
							equipmentGroup
							browserVersion
							firmwareVersion
							productId
					b.	smartCardSummary	
							smartCardSerialNumber
							equipmentGroup
							productId
		</wsdl:documentation>
         <soap:operation soapAction="getEquipmentSummary"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getEquipmentSummaryList">
         <wsdl:documentation>
		Description:
				This operation retrieves equipment summary list.
			Input:
				1). serialNumberList List of Serial Numbers.
			Output: 
				1. status (success, failure)
				2. 	Input:
				1). serialNumber
			Output: 
				1. status (success, failure)
				2. EquipmentSummaryType List of EqupmentSummaryType
					a. handSetSummary
							serialNumber
							equipmentGroup
							browserVersion
							firmwareVersion
							productId
					b.	smartCardSummary	
							smartCardSerialNumber
							equipmentGroup
							productId
		</wsdl:documentation>
         <soap:operation soapAction="getEquipmentSummaryList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getEquipmentDetails">
         <wsdl:documentation>
		Description:
				This operation retrieves equipment details.
			Input:
				1. serialNumber
				2. candidateEquipmentGroupList
			Output: 
				1. status (success, failure)
				2. serialNumber
					candidateEquipmentGroupLis
		</wsdl:documentation>
         <soap:operation soapAction="getEquipmentDetails"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getHandsetDetails">
         <wsdl:documentation>
		Description:
				This operation retrieves Handset details
			Input:
				1. serialNumber
				2. candidateEquipmentGroupList
			Output: 
				1. status (success, failure)
				2. message (extending Enterprise Common Type's Response Message type)
		</wsdl:documentation>
         <soap:operation soapAction="getHandsetDetails"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSmartCardDetails">
         <wsdl:documentation>
		Description:
				This operation retrieves Smart Card details.
			Input:
				1. serialNumber
				2. candidateEquipmentGroupList
			Output: 
				1. status (success, failure)
				2. message (extending Enterprise Common Type's Response Message type)
		</wsdl:documentation>
         <soap:operation soapAction="getSmartCardDetails"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getPcsHandsetDetails">
         <wsdl:documentation>
		Description:
				This operation retrieves PCS Handset Details.
			Input:
				1. serialNumber
			Output: 
				1. status (success, failure)
				2. 	serialNumber
						productId
						browserVersion
						firmwareVersion
						masterSubsidyLockCode
						authenticationKey
						hexMeid
						pseudoEsn
						mipKey
						equipmentLifeCycleStates
						associatedSmartCardSummary
		</wsdl:documentation>
         <soap:operation soapAction="getPcsHandsetDetails"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getIdenHandsetDetails">
         <wsdl:documentation>
		Description:
				This operation retrieves Iden Handset Details.
			Input:
				1. serialNumber
			Output: 
				1. status (success, failure)
				2   serialNumber
					productId
					browserVersion
					firmwareVersion
					equipmentLifeCycleStates
					associatedSmartCardSummary
		</wsdl:documentation>
         <soap:operation soapAction="getIdenHandsetDetails"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getLostOrStolenHandsetDetails">
         <wsdl:documentation>
		Description:
				This operation retrieves Lost Or Stilen Handset details.
			Input:
				1. serialNumber
			Output: 
				1. status (success, failure)
				2. serialNumber
					productId
		</wsdl:documentation>
         <soap:operation soapAction="getLostOrStolenHandsetDetails"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getUsimSmartCardDetailsByImsi">
         <wsdl:documentation>
		Description:
				This operation retrieves Usim Smart Card Detail by Imsi.
			Input:
				1. imsi
			Output: 
				1. status (success, failure)
				2. usimId
					productId
					localImsi
					remoteImsi
					authenticationKey
					transportKey
					equipmentLifeCycleStates
					associatedHandsetSummary 
		</wsdl:documentation>
         <soap:operation soapAction="getUsimSmartCardDetailsByImsi"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSimSmartCardDetails">
         <wsdl:documentation>
		Description:
				This operation retrieves Sim card Details 
			Input:
				1. simId
			Output: 
				1. status (success, failure)
				2. simId
					productId
					imsi
					authenticationKey
					equipmentLifeCycleStates
					associatedHandsetSummary
		</wsdl:documentation>
         <soap:operation soapAction="getSimSmartCardDetails"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getUimSmartCardDetails">
         <wsdl:documentation>
		Description:
				This operation retrieves Uim smart Card details 
			Input:
				1. iccId
			Output: 
				1. status (success, failure)
				2. iccId
					productId
					localImsi
					remoteImsi
					equipmentLifeCycleStates
					associatedHandsetSummary
		</wsdl:documentation>
         <soap:operation soapAction="getUimSmartCardDetails"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAssociatedUsimSmartCardIdForHandset">
         <wsdl:documentation>
		Description:
				This operation retrieves associated usim smart cardId for handset.
			Input:
				1. serialNumber
				
			Output: 
				1. status (success, failure)
				2. usimId
		</wsdl:documentation>
         <soap:operation soapAction="getAssociatedUsimSmartCardIdForHandset"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getWarrantySummary">
         <wsdl:documentation>
		Description:
				This operation retrieves warranty summary
			Input:
				1. serialNumber
				2. equipmentGroup	
			Output: 
				1. status (success, failure)
				2. warrantyStartDate
					warrantyEndDate
					warrantyDoaDate
		</wsdl:documentation>
         <soap:operation soapAction="getWarrantySummary"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="EquipmentInfoService_v2_0">
      <wsdl:port name="EquipmentInfoServicePort" binding="iface:EquipmentInfoService_v2_0_SOAP">
         <soap:address location="http://rmosr-resrceinvmgmt-dv103.tmi.telus.com/RMO/ResourceMgmt/EquipmentInfoService_v2_0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>