cmb-common/cmb-ws-clients/ocssa-ws-client-3-2/src/main/resources/wsdls/OnlineChargingSubscriberAccountService_v3_2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:shttp="http://soa.com/wsdl/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/BillingInquiryMgmt/OnlineChargingSubscriberAccountService_3"
                  xmlns:CMOBAcct="http://xmlschema.tmi.telus.com/srv/CMO/BillingInquiryMgmt/OnlineChargingSubscriberAccountServiceRequestResponse_v3"
                  targetNamespace="http://telus.com/wsdl/CMO/BillingInquiryMgmt/OnlineChargingSubscriberAccountService_3"><!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v3_2.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_1.xsd
			--><wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/BillingInquiryMgmt/OnlineChargingSubscriberAccountService_3">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/BillingInquiryMgmt/OnlineChargingSubscriberAccountServiceRequestResponse_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/BillingInquiryMgmt/OnlineChargingSubscriberAccountServiceRequestResponse_v3_2.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getSubscriberAccount">
      <wsdl:part name="parameters" element="CMOBAcct:getSubscriberAccount"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberAccountResponse">
      <wsdl:part name="result" element="CMOBAcct:getSubscriberAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberAccountByBan">
      <wsdl:part name="parameters" element="CMOBAcct:getSubscriberAccountByBan"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberAccountByBanResponse">
      <wsdl:part name="result" element="CMOBAcct:getSubscriberAccountByBanResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberBlockStatus">
      <wsdl:part name="parameters" element="CMOBAcct:getSubscriberBlockStatus"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberBlockStatusResponse">
      <wsdl:part name="result" element="CMOBAcct:getSubscriberBlockStatusResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberNotificationThreshold">
      <wsdl:part name="parameters" element="CMOBAcct:getSubscriberNotificationThreshold"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberNotificationThresholdResponse">
      <wsdl:part name="result" element="CMOBAcct:getSubscriberNotificationThresholdResponse"/>
   </wsdl:message>
   <wsdl:message name="getDetailedMeterList">
      <wsdl:part name="parameters" element="CMOBAcct:getDetailedMeterList"/>
   </wsdl:message>
   <wsdl:message name="getDetailedMeterListResponse">
      <wsdl:part name="result" element="CMOBAcct:getDetailedMeterListResponse"/>
   </wsdl:message>
   <wsdl:message name="getSharedMeter">
      <wsdl:part name="parameters" element="CMOBAcct:getSharedMeter"/>
   </wsdl:message>
   <wsdl:message name="getSharedMeterResponse">
      <wsdl:part name="result" element="CMOBAcct:getSharedMeterResponse"/>
   </wsdl:message>
   <wsdl:message name="getMeter">
      <wsdl:part name="parameters" element="CMOBAcct:getMeter"/>
   </wsdl:message>
   <wsdl:message name="getMeterResponse">
      <wsdl:part name="result" element="CMOBAcct:getMeterResponse"/>
   </wsdl:message>
   <wsdl:message name="getBillCycleDetailList">
      <wsdl:part name="parameters" element="CMOBAcct:getBillCycleDetailList"/>
   </wsdl:message>
   <wsdl:message name="getBillCycleDetailListResponse">
      <wsdl:part name="result" element="CMOBAcct:getBillCycleDetailListResponse"/>
   </wsdl:message>
   <wsdl:message name="getReferenceDataList">
      <wsdl:part name="parameters" element="CMOBAcct:getReferenceDataList"/>
   </wsdl:message>
   <wsdl:message name="getReferenceDataListResponse">
      <wsdl:part name="result" element="CMOBAcct:getReferenceDataListResponse"/>
   </wsdl:message>
   <wsdl:message name="getAccountBlockStatus">
      <wsdl:part name="parameters" element="CMOBAcct:getAccountBlockStatus"/>
   </wsdl:message>
   <wsdl:message name="getAccountBlockStatusResponse">
      <wsdl:part name="result" element="CMOBAcct:getAccountBlockStatusResponse"/>
   </wsdl:message>
   <wsdl:message name="getAccountNotificationThreshold">
      <wsdl:part name="parameters" element="CMOBAcct:getAccountNotificationThreshold"/>
   </wsdl:message>
   <wsdl:message name="getAccountNotificationThresholdResponse">
      <wsdl:part name="result" element="CMOBAcct:getAccountNotificationThresholdResponse"/>
   </wsdl:message>
   <wsdl:message name="getSharingGroupByBillingAccount">
      <wsdl:part name="parameters" element="CMOBAcct:getSharingGroupByBillingAccount"/>
   </wsdl:message>
   <wsdl:message name="getSharingGroupByBillingAccountResponse">
      <wsdl:part name="result" element="CMOBAcct:getSharingGroupByBillingAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="getWccAccountTypeSubTypeList">
      <wsdl:part name="parameters" element="CMOBAcct:getWccAccountTypeSubTypeList"/>
   </wsdl:message>
   <wsdl:message name="getWccAccountTypeSubTypeListResponse">
      <wsdl:part name="result" element="CMOBAcct:getWccAccountTypeSubTypeListResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:portType name="OnlineChargingSubscriberAccountService_v3_2_PortType">
      <wsdl:operation name="getSubscriberAccount">
         <wsdl:input message="iface:getSubscriberAccount"/>
         <wsdl:output message="iface:getSubscriberAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberAccountByBan">
         <wsdl:input message="iface:getSubscriberAccountByBan"/>
         <wsdl:output message="iface:getSubscriberAccountByBanResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberBlockStatus">
         <wsdl:input message="iface:getSubscriberBlockStatus"/>
         <wsdl:output message="iface:getSubscriberBlockStatusResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberNotificationThreshold">
         <wsdl:input message="iface:getSubscriberNotificationThreshold"/>
         <wsdl:output message="iface:getSubscriberNotificationThresholdResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getDetailedMeterList">
         <wsdl:input message="iface:getDetailedMeterList"/>
         <wsdl:output message="iface:getDetailedMeterListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSharedMeter">
         <wsdl:input message="iface:getSharedMeter"/>
         <wsdl:output message="iface:getSharedMeterResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getMeter">
         <wsdl:input message="iface:getMeter"/>
         <wsdl:output message="iface:getMeterResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getBillCycleDetailList">
         <wsdl:input message="iface:getBillCycleDetailList"/>
         <wsdl:output message="iface:getBillCycleDetailListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getReferenceDataList">
         <wsdl:input message="iface:getReferenceDataList"/>
         <wsdl:output message="iface:getReferenceDataListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAccountBlockStatus">
         <wsdl:input message="iface:getAccountBlockStatus"/>
         <wsdl:output message="iface:getAccountBlockStatusResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAccountNotificationThreshold">
         <wsdl:input message="iface:getAccountNotificationThreshold"/>
         <wsdl:output message="iface:getAccountNotificationThresholdResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSharingGroupByBillingAccount">
         <wsdl:input message="iface:getSharingGroupByBillingAccount"/>
         <wsdl:output message="iface:getSharingGroupByBillingAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getWccAccountTypeSubTypeList">
         <wsdl:input message="iface:getWccAccountTypeSubTypeList"/>
         <wsdl:output message="iface:getWccAccountTypeSubTypeListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="OnlineChargingSubscriberAccountService_v3_2_SOAP"
                 type="iface:OnlineChargingSubscriberAccountService_v3_2_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getSubscriberAccount">
         <wsdl:documentation>Retrieve the subscriber account from SAP CC. An empty response will be returned in case of no data found for the searched criteria</wsdl:documentation>
         <soap:operation soapAction="getSubscriberAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberAccountByBan">
         <wsdl:documentation>Retrieve subscriber account data for each subscriber under the BAN.  An empty response will be returned in case of no data found for the searched criteria</wsdl:documentation>
         <soap:operation soapAction="getSubscriberAccountByBan"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberBlockStatus">
         <wsdl:documentation>Retrieve subscriber block status from SAP CC.  An empty response will be returned in case of no data found for the searched criteria</wsdl:documentation>
         <soap:operation soapAction="getSubscriberBlockStatus"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberNotificationThreshold">
         <wsdl:documentation>Retrieve subscriber notification threshold from SAP CC.  An empty response will be returned in case of no data found for the searched criteria</wsdl:documentation>
         <soap:operation soapAction="getSubscriberNotificationThreshold"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getDetailedMeterList">
         <wsdl:documentation>Retrieve Package report from SAP CC.  An empty response will be returned in case of no data found for the searched criteria</wsdl:documentation>
         <soap:operation soapAction="getDetailedMeterList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSharedMeter">
         <wsdl:documentation>Retrieve Shared Meter from SAP CC.  An empty response will be returned in case of no data found for the searched criteria</wsdl:documentation>
         <soap:operation soapAction="getSharedMeter"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getMeter">
         <wsdl:documentation>Retrieve data and message counters from SAP CC.  An empty response will be returned in case of no data found for the searched criteria</wsdl:documentation>
         <soap:operation soapAction="getMeter"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getBillCycleDetailList">
         <wsdl:documentation>Retrieve bill cycle cd and start date of cycle from SAP CC.  An empty response will be returned in case of no data found for the searched criteria</wsdl:documentation>
         <soap:operation soapAction="getBillCycleDetailList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getReferenceDataList">
         <wsdl:documentation>Retrieve's data from SAP CC Translation tables.  An empty response will be returned in case of no data found for the searched criteria</wsdl:documentation>
         <soap:operation soapAction="getReferenceDataList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAccountBlockStatus">
         <wsdl:documentation>Retrieve's account block status from SAP CC.  An empty response will be returned in case of no data found for the searched criteria</wsdl:documentation>
         <soap:operation soapAction="getAccountBlockStatus"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAccountNotificationThreshold">
         <wsdl:documentation>Retrieve account notification threshold from SAP CC.  An empty response will be returned in case of no data found for the searched criteria</wsdl:documentation>
         <soap:operation soapAction="getAccountNotificationThreshold"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSharingGroupByBillingAccount">
         <wsdl:documentation>Get sharing group details by billing account.  An empty response will be returned in case of no data found for the searched criteria</wsdl:documentation>
         <soap:operation soapAction="getSharingGroupByBillingAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getWccAccountTypeSubTypeList">
         <wsdl:documentation>Get Wcc Account Type and Sub Type List.  An empty response will be returned in case of no data found for the searched criteria</wsdl:documentation>
         <soap:operation soapAction="getWccAccountTypeSubTypeList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="OnlineChargingSubscriberAccountService_v3_2">
      <wsdl:port name="OnlineChargingSubscriberAccountServicePort"
                 binding="iface:OnlineChargingSubscriberAccountService_v3_2_SOAP">
         <soap:address location="http://rtr-ocsgateway-dv103.tmi.telus.com/v3-2/cmo/billinginquirymgmt/ocsservice/onlinechargingsubscriberaccountservice-v3-2"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>