cmb-ait/cmb-ws-clients/src/main/resources/wsdls/BillingInquiryService/BillingInquiryService_v1_7.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/BillingInquiryMgmt/BillingInquiryService_1"
                  xmlns:bis="http://xmlschema.tmi.telus.com/srv/CMO/BillingInquiryMgmt/BillingInquiryServiceRequestResponse_1"
                  name="BillingInquiryService_v1_7.wsdl"
                  targetNamespace="http://telus.com/wsdl/CMO/BillingInquiryMgmt/BillingInquiryService_1"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Provides the ability to retrieve and update deposits, credits and payments</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/BillingInquiryMgmt/BillingInquiryService_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/BillingInquiryMgmt/BillingInquiryServiceRequestResponse_1"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/BillingInquiryMgmt/BillingInquiryServiceRequestResponse_v1_7.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getPaymentHistory">
      <wsdl:part name="parameters" element="bis:getPaymentHistory"/>
   </wsdl:message>
   <wsdl:message name="getPaymentHistoryResponse">
      <wsdl:part name="result" element="bis:getPaymentHistoryResponse"/>
   </wsdl:message>
   <wsdl:message name="recordPayment">
      <wsdl:part name="parameters" element="bis:recordPayment"/>
   </wsdl:message>
   <wsdl:message name="recordPaymentResponse">
      <wsdl:part name="result" element="bis:recordPaymentResponse"/>
   </wsdl:message>
   <wsdl:message name="processCreditCard">
      <wsdl:part name="parameters" element="bis:processCreditCard"/>
      <wsdl:part name="processCreditCardInSoapHdr" element="bis:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="processCreditCardResponse">
      <wsdl:part name="result" element="bis:processCreditCardResponse"/>
   </wsdl:message>
   <wsdl:message name="getInvoiceHistory">
      <wsdl:part name="parameters" element="bis:getInvoiceHistory"/>
   </wsdl:message>
   <wsdl:message name="getInvoiceHistoryResponse">
      <wsdl:part name="result" element="bis:getInvoiceHistoryResponse"/>
   </wsdl:message>
   <wsdl:message name="createCreditBalanceTransfer">
      <wsdl:part name="parameters" element="bis:createCreditBalanceTransfer"/>
   </wsdl:message>
   <wsdl:message name="createCreditBalanceTransferResponse">
      <wsdl:part name="result" element="bis:createCreditBalanceTransferResponse"/>
   </wsdl:message>
   <wsdl:message name="getCreditBalanceTransferList">
      <wsdl:part name="parameters" element="bis:getCreditBalanceTransferList"/>
   </wsdl:message>
   <wsdl:message name="getCreditBalanceTransferListResponse">
      <wsdl:part name="result" element="bis:getCreditBalanceTransferListResponse"/>
   </wsdl:message>
   <wsdl:message name="cancelCreditBalanceTransfer">
      <wsdl:part name="parameters" element="bis:cancelCreditBalanceTransfer"/>
   </wsdl:message>
   <wsdl:message name="cancelCreditBalanceTransferResponse">
      <wsdl:part name="result" element="bis:cancelCreditBalanceTransferResponse"/>
   </wsdl:message>
   <wsdl:message name="getAllCharges">
      <wsdl:part name="parameters" element="bis:getAllCharges"/>
   </wsdl:message>
   <wsdl:message name="getAllChargesResponse">
      <wsdl:part name="result" element="bis:getAllChargesResponse"/>
   </wsdl:message>
   <wsdl:message name="applyChargeToAccount">
      <wsdl:part name="parameters" element="bis:applyChargeToAccount"/>
   </wsdl:message>
   <wsdl:message name="applyChargeToAccountResponse">
      <wsdl:part name="result" element="bis:applyChargeToAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="applyChargeToAccountForSubscriber">
      <wsdl:part name="parameters" element="bis:applyChargeToAccountForSubscriber"/>
   </wsdl:message>
   <wsdl:message name="applyChargeToAccountForSubscriberResponse">
      <wsdl:part name="result" element="bis:applyChargeToAccountForSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="adjustChargeToAccount">
      <wsdl:part name="parameters" element="bis:adjustChargeToAccount"/>
   </wsdl:message>
   <wsdl:message name="adjustChargeToAccountResponse">
      <wsdl:part name="result" element="bis:adjustChargeToAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="adjustChargeToAccountForSubscriber">
      <wsdl:part name="parameters" element="bis:adjustChargeToAccountForSubscriber"/>
   </wsdl:message>
   <wsdl:message name="adjustChargeToAccountForSubscriberResponse">
      <wsdl:part name="result" element="bis:adjustChargeToAccountForSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="applyChargesAndAdjustmentsToAccount">
      <wsdl:part name="parameters" element="bis:applyChargesAndAdjustmentsToAccount"/>
   </wsdl:message>
   <wsdl:message name="applyChargesAndAdjustmentsToAccountResponse">
      <wsdl:part name="result" element="bis:applyChargesAndAdjustmentsToAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="applyChargesAndAdjustmentsToAccountForSubscriber">
      <wsdl:part name="parameters"
                 element="bis:applyChargesAndAdjustmentsToAccountForSubscriber"/>
   </wsdl:message>
   <wsdl:message name="applyChargesAndAdjustmentsToAccountForSubscriberResponse">
      <wsdl:part name="result"
                 element="bis:applyChargesAndAdjustmentsToAccountForSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="applyChargesAndAdjustmentsToAccountWithTax">
      <wsdl:part name="parameters" element="bis:applyChargesAndAdjustmentsToAccountWithTax"/>
   </wsdl:message>
   <wsdl:message name="applyChargesAndAdjustmentsToAccountWithTaxResponse">
      <wsdl:part name="result" element="bis:applyChargesAndAdjustmentsToAccountWithTaxResponse"/>
   </wsdl:message>
   <wsdl:message name="applyChargesAndAdjustmentsToAccountForSubscriberWithTax">
      <wsdl:part name="parameters"
                 element="bis:applyChargesAndAdjustmentsToAccountForSubscriberWithTax"/>
   </wsdl:message>
   <wsdl:message name="applyChargesAndAdjustmentsToAccountForSubscriberWithTaxResponse">
      <wsdl:part name="result"
                 element="bis:applyChargesAndAdjustmentsToAccountForSubscriberWithTaxResponse"/>
   </wsdl:message>
   <wsdl:message name="applyCreditToAccount">
      <wsdl:part name="parameters" element="bis:applyCreditToAccount"/>
   </wsdl:message>
   <wsdl:message name="applyCreditToAccountResponse">
      <wsdl:part name="result" element="bis:applyCreditToAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="applyCreditToAccountForSubscriber">
      <wsdl:part name="parameters" element="bis:applyCreditToAccountForSubscriber"/>
   </wsdl:message>
   <wsdl:message name="applyCreditToAccountForSubscriberResponse">
      <wsdl:part name="result" element="bis:applyCreditToAccountForSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="reverseCreditToAccount">
      <wsdl:part name="parameters" element="bis:reverseCreditToAccount"/>
   </wsdl:message>
   <wsdl:message name="reverseCreditToAccountResponse">
      <wsdl:part name="result" element="bis:reverseCreditToAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="reverseCreditToAccountForSubscriber">
      <wsdl:part name="parameters" element="bis:reverseCreditToAccountForSubscriber"/>
   </wsdl:message>
   <wsdl:message name="reverseCreditToAccountForSubscriberResponse">
      <wsdl:part name="result" element="bis:reverseCreditToAccountForSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="getRelatedCreditListForCharge">
      <wsdl:part name="parameters" element="bis:getRelatedCreditListForCharge"/>
   </wsdl:message>
   <wsdl:message name="getRelatedCreditListForChargeResponse">
      <wsdl:part name="result" element="bis:getRelatedCreditListForChargeResponse"/>
   </wsdl:message>
   <wsdl:message name="adjustChargeToAccountForSubscriberReturn">
      <wsdl:part name="parameters" element="bis:adjustChargeToAccountForSubscriberReturn"/>
   </wsdl:message>
   <wsdl:message name="adjustChargeToAccountForSubscriberReturnResponse">
      <wsdl:part name="result" element="bis:adjustChargeToAccountForSubscriberReturnResponse"/>
   </wsdl:message>
   <wsdl:message name="getAllCredits">
      <wsdl:part name="parameters" element="bis:getAllCredits"/>
   </wsdl:message>
   <wsdl:message name="getAllCreditsResponse">
      <wsdl:part name="result" element="bis:getAllCreditsResponse"/>
   </wsdl:message>
   <wsdl:message name="applyDiscountToAccount">
      <wsdl:part name="parameters" element="bis:applyDiscountToAccount"/>
   </wsdl:message>
   <wsdl:message name="applyDiscountToAccountResponse">
      <wsdl:part name="result" element="bis:applyDiscountToAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="applyDiscountToAccountForSubscriber">
      <wsdl:part name="parameters" element="bis:applyDiscountToAccountForSubscriber"/>
   </wsdl:message>
   <wsdl:message name="applyDiscountToAccountForSubscriberResponse">
      <wsdl:part name="result" element="bis:applyDiscountToAccountForSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="getDiscountListForAccount">
      <wsdl:part name="parameters" element="bis:getDiscountListForAccount"/>
   </wsdl:message>
   <wsdl:message name="getDiscountListForAccountResponse">
      <wsdl:part name="result" element="bis:getDiscountListForAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="getDiscountListForSubscriber">
      <wsdl:part name="parameters" element="bis:getDiscountListForSubscriber"/>
   </wsdl:message>
   <wsdl:message name="getDiscountListForSubscriberResponse">
      <wsdl:part name="result" element="bis:getDiscountListForSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="expireDiscountForAccount">
      <wsdl:part name="parameters" element="bis:expireDiscountForAccount"/>
   </wsdl:message>
   <wsdl:message name="expireDiscountForAccountResponse">
      <wsdl:part name="result" element="bis:expireDiscountForAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="expireDiscountForSubscriber">
      <wsdl:part name="parameters" element="bis:expireDiscountForSubscriber"/>
   </wsdl:message>
   <wsdl:message name="expireDiscountForSubscriberResponse">
      <wsdl:part name="result" element="bis:expireDiscountForSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="createDeposit">
      <wsdl:part name="parameters" element="bis:createDeposit"/>
   </wsdl:message>
   <wsdl:message name="createDepositResponse">
      <wsdl:part name="result" element="bis:createDepositResponse"/>
   </wsdl:message>
   <wsdl:message name="processPayment">
      <wsdl:part name="parameters" element="bis:processPayment"/>
      <wsdl:part name="processPaymentInSoapHdr" element="bis:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="processPaymentResponse">
      <wsdl:part name="result" element="bis:processPaymentResponse"/>
   </wsdl:message>
   <wsdl:message name="processDeposit">
      <wsdl:part name="parameters" element="bis:processDeposit"/>
      <wsdl:part name="processDepositInSoapHdr" element="bis:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="processDepositResponse">
      <wsdl:part name="result" element="bis:processDepositResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="BillingInquiryService_v1_7_PortType">
      <wsdl:operation name="getPaymentHistory">
         <wsdl:input message="iface:getPaymentHistory"/>
         <wsdl:output message="iface:getPaymentHistoryResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="recordPayment">
         <wsdl:input message="iface:recordPayment"/>
         <wsdl:output message="iface:recordPaymentResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="processCreditCard">
         <wsdl:input message="iface:processCreditCard"/>
         <wsdl:output message="iface:processCreditCardResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getInvoiceHistory">
         <wsdl:input message="iface:getInvoiceHistory"/>
         <wsdl:output message="iface:getInvoiceHistoryResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="createCreditBalanceTransfer">
         <wsdl:input message="iface:createCreditBalanceTransfer"/>
         <wsdl:output message="iface:createCreditBalanceTransferResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getCreditBalanceTransferList">
         <wsdl:input message="iface:getCreditBalanceTransferList"/>
         <wsdl:output message="iface:getCreditBalanceTransferListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="cancelCreditBalanceTransfer">
         <wsdl:input message="iface:cancelCreditBalanceTransfer"/>
         <wsdl:output message="iface:cancelCreditBalanceTransferResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getAllCharges">
         <wsdl:input message="iface:getAllCharges"/>
         <wsdl:output message="iface:getAllChargesResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="applyChargeToAccount">
         <wsdl:input message="iface:applyChargeToAccount"/>
         <wsdl:output message="iface:applyChargeToAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="applyChargeToAccountForSubscriber">
         <wsdl:input message="iface:applyChargeToAccountForSubscriber"/>
         <wsdl:output message="iface:applyChargeToAccountForSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="adjustChargeToAccount">
         <wsdl:input message="iface:adjustChargeToAccount"/>
         <wsdl:output message="iface:adjustChargeToAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="adjustChargeToAccountForSubscriber">
         <wsdl:input message="iface:adjustChargeToAccountForSubscriber"/>
         <wsdl:output message="iface:adjustChargeToAccountForSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="applyChargesAndAdjustmentsToAccount">
         <wsdl:input message="iface:applyChargesAndAdjustmentsToAccount"/>
         <wsdl:output message="iface:applyChargesAndAdjustmentsToAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="applyChargesAndAdjustmentsToAccountForSubscriber">
         <wsdl:input message="iface:applyChargesAndAdjustmentsToAccountForSubscriber"/>
         <wsdl:output message="iface:applyChargesAndAdjustmentsToAccountForSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="applyChargesAndAdjustmentsToAccountWithTax">
         <wsdl:input message="iface:applyChargesAndAdjustmentsToAccountWithTax"/>
         <wsdl:output message="iface:applyChargesAndAdjustmentsToAccountWithTaxResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="applyChargesAndAdjustmentsToAccountForSubscriberWithTax">
         <wsdl:input message="iface:applyChargesAndAdjustmentsToAccountForSubscriberWithTax"/>
         <wsdl:output message="iface:applyChargesAndAdjustmentsToAccountForSubscriberWithTaxResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="applyCreditToAccount">
         <wsdl:input message="iface:applyCreditToAccount"/>
         <wsdl:output message="iface:applyCreditToAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="applyCreditToAccountForSubscriber">
         <wsdl:input message="iface:applyCreditToAccountForSubscriber"/>
         <wsdl:output message="iface:applyCreditToAccountForSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="reverseCreditToAccount">
         <wsdl:input message="iface:reverseCreditToAccount"/>
         <wsdl:output message="iface:reverseCreditToAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="reverseCreditToAccountForSubscriber">
         <wsdl:input message="iface:reverseCreditToAccountForSubscriber"/>
         <wsdl:output message="iface:reverseCreditToAccountForSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getRelatedCreditListForCharge">
         <wsdl:input message="iface:getRelatedCreditListForCharge"/>
         <wsdl:output message="iface:getRelatedCreditListForChargeResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="adjustChargeToAccountForSubscriberReturn">
         <wsdl:input message="iface:adjustChargeToAccountForSubscriberReturn"/>
         <wsdl:output message="iface:adjustChargeToAccountForSubscriberReturnResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getAllCredits">
         <wsdl:input message="iface:getAllCredits"/>
         <wsdl:output message="iface:getAllCreditsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="applyDiscountToAccount">
         <wsdl:input message="iface:applyDiscountToAccount"/>
         <wsdl:output message="iface:applyDiscountToAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="applyDiscountToAccountForSubscriber">
         <wsdl:input message="iface:applyDiscountToAccountForSubscriber"/>
         <wsdl:output message="iface:applyDiscountToAccountForSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getDiscountListForAccount">
         <wsdl:input message="iface:getDiscountListForAccount"/>
         <wsdl:output message="iface:getDiscountListForAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getDiscountListForSubscriber">
         <wsdl:input message="iface:getDiscountListForSubscriber"/>
         <wsdl:output message="iface:getDiscountListForSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="expireDiscountForAccount">
         <wsdl:input message="iface:expireDiscountForAccount"/>
         <wsdl:output message="iface:expireDiscountForAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="expireDiscountForSubscriber">
         <wsdl:input message="iface:expireDiscountForSubscriber"/>
         <wsdl:output message="iface:expireDiscountForSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="createDeposit">
         <wsdl:input message="iface:createDeposit"/>
         <wsdl:output message="iface:createDepositResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="processPayment">
         <wsdl:input message="iface:processPayment"/>
         <wsdl:output message="iface:processPaymentResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="processDeposit">
         <wsdl:input message="iface:processDeposit"/>
         <wsdl:output message="iface:processDepositResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="BillingInquiryService_v1_7_SOAP"
                 type="iface:BillingInquiryService_v1_7_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getPaymentHistory">
         <wsdl:documentation>Retrieves Payment History.</wsdl:documentation>
         <soap:operation soapAction="getPaymentHistory"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="recordPayment">
         <wsdl:documentation>Records Payment.</wsdl:documentation>
         <soap:operation soapAction="recordPayment"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="processCreditCard">
         <wsdl:documentation>Process CreditCard.</wsdl:documentation>
         <soap:operation soapAction="processCreditCard"/>
         <wsdl:input>
            <wsdl:documentation>User Header allows input of customer ID and list of consuming application IDs</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:processCreditCard"
                         part="processCreditCardInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getInvoiceHistory">
         <wsdl:documentation>Retrieve Invoice History</wsdl:documentation>
         <soap:operation soapAction="getInvoiceHistory"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="createCreditBalanceTransfer">
         <wsdl:documentation>Iniitate a credit balance trnasfer for account. Transfer will occur in kb, in batch.</wsdl:documentation>
         <soap:operation soapAction="createCreditBalanceTransfer"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getCreditBalanceTransferList">
         <wsdl:documentation>Retrieve all credit balance transfer requests, includes active and cancelled.</wsdl:documentation>
         <soap:operation soapAction="getCreditBalanceTransferList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="cancelCreditBalanceTransfer">
         <wsdl:documentation>Cancel the credit  balance transfer request</wsdl:documentation>
         <soap:operation soapAction="cancelCreditBalanceTransfer"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAllCharges">
         <wsdl:documentation>Retrieve all charges, including pending for a ban by a date range.</wsdl:documentation>
         <soap:operation soapAction="getAllCharges"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="applyChargeToAccount">
         <wsdl:documentation>Apply a one time charge associated to a ban.</wsdl:documentation>
         <soap:operation soapAction="applyChargeToAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="applyChargeToAccountForSubscriber">
         <wsdl:documentation>Apply a one time charge associated to a subscriber.</wsdl:documentation>
         <soap:operation soapAction="applyChargeToAccountForSubscriber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="adjustChargeToAccount">
         <wsdl:documentation>Apply an adjustment on an existing charge (billed or pending) associated with a ban.</wsdl:documentation>
         <soap:operation soapAction="adjustChargeToAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="adjustChargeToAccountForSubscriber">
         <wsdl:documentation>Apply an adjustment on an existing charge (billed or pending) associated to a subscriber.</wsdl:documentation>
         <soap:operation soapAction="adjustChargeToAccountForSubscriber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="applyChargesAndAdjustmentsToAccount">
         <wsdl:documentation>Apply a charge and adjust the charge for a ban.</wsdl:documentation>
         <soap:operation soapAction="applyChargesAndAdjustmentsToAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="applyChargesAndAdjustmentsToAccountForSubscriber">
         <wsdl:documentation>Apply a charge and adjust the charge associated to a subscriber.</wsdl:documentation>
         <soap:operation soapAction="applyChargesAndAdjustmentsToAccountForSubscriber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="applyChargesAndAdjustmentsToAccountWithTax">
         <wsdl:documentation>Apply a charge (with tax) and adjust the charge for a ban.</wsdl:documentation>
         <soap:operation soapAction="applyChargesAndAdjustmentsToAccountWithTax"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="applyChargesAndAdjustmentsToAccountForSubscriberWithTax">
         <wsdl:documentation>Apply a charge (with tax) and adjust the charge associated to a subscriber.</wsdl:documentation>
         <soap:operation soapAction="applyChargesAndAdjustmentsToAccountForSubscriberWithTax"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="applyCreditToAccount">
         <wsdl:documentation>Apply a credit or recurring credits to a BAN.</wsdl:documentation>
         <soap:operation soapAction="applyCreditToAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="applyCreditToAccountForSubscriber">
         <wsdl:documentation>Apply a credit or recurring credits associated to a subscriber.</wsdl:documentation>
         <soap:operation soapAction="applyCreditToAccountForSubscriber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="reverseCreditToAccount">
         <wsdl:documentation>Apply an adjustment reversal for a BAN.</wsdl:documentation>
         <soap:operation soapAction="reverseCreditToAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="reverseCreditToAccountForSubscriber">
         <wsdl:documentation>Apply an adjustment reversal associated to a subscriber.</wsdl:documentation>
         <soap:operation soapAction="reverseCreditToAccountForSubscriber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getRelatedCreditListForCharge">
         <wsdl:documentation>Retrieve related credits for a charge.</wsdl:documentation>
         <soap:operation soapAction="getRelatedCreditListForCharge"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="adjustChargeToAccountForSubscriberReturn">
         <wsdl:documentation>Search and apply a charge adjustment for a device return within given timeframe.</wsdl:documentation>
         <soap:operation soapAction="adjustChargeToAccountForSubscriberReturn"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAllCredits">
         <wsdl:documentation>Retrieve all credits for a ban by a date range.</wsdl:documentation>
         <soap:operation soapAction="getAllCredits"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="applyDiscountToAccount">
         <wsdl:documentation>This operation applies discount to an account.</wsdl:documentation>
         <soap:operation soapAction="applyDiscountToAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="applyDiscountToAccountForSubscriber">
         <wsdl:documentation>This operation applies discount to a subscriber (SUBSCRIBER level).  Discounts are applied on an account but can be linked to a subscriber.</wsdl:documentation>
         <soap:operation soapAction="applyDiscountToAccountForSubscriber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getDiscountListForAccount">
         <wsdl:documentation>This operation retrieves a list of discounts currently applied at the account level.</wsdl:documentation>
         <soap:operation soapAction="getDiscountListForAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getDiscountListForSubscriber">
         <wsdl:documentation>This operation retrieves a list of discounts currently applied at the subscriber level.</wsdl:documentation>
         <soap:operation soapAction="getDiscountListForSubscriber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="expireDiscountForAccount">
         <wsdl:documentation>Expires a discount on an account profile.</wsdl:documentation>
         <soap:operation soapAction="expireDiscountForAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="expireDiscountForSubscriber">
         <wsdl:documentation>Expires a discount on an account's profile.</wsdl:documentation>
         <soap:operation soapAction="expireDiscountForSubscriber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="createDeposit">
         <wsdl:documentation>Create deposit for a Subscriber</wsdl:documentation>
         <soap:operation soapAction="createDeposit"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="processPayment">
         <wsdl:documentation>Process payment and record it into KB. New in v 1.5</wsdl:documentation>
         <soap:operation soapAction="processPayment"/>
         <wsdl:input>
            <wsdl:documentation>User Header allows input of customer ID and list of consuming application IDs</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:processPayment" part="processPaymentInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="processDeposit">
         <wsdl:documentation>process deposit payment via credit card for a Subscriber</wsdl:documentation>
         <soap:operation soapAction="processDeposit"/>
         <wsdl:input>
            <wsdl:documentation>User Header allows input of customer ID and list of consuming application IDs</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:processDeposit" part="processDepositInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="BillingInquiryService_v1_7">
      <wsdl:port name="BillingInquiryServicePort"
                 binding="iface:BillingInquiryService_v1_7_SOAP">
         <soap:address location="http://cmbilling-billinginquiry-dv103.tmi.telus.com/CMO/BillingInquiryMgmt/BillingInquiry/BillingInquiryService_v1_7"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>