cmb-common/cmb-ws-clients/ent-address-validation-ws-client-1-0/src/main/resources/wsdls/EnterpriseAddressValidationService_v1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/BillingAccountMgmt/EnterpriseAddressValidationService_1"
                  xmlns:eavs="http://xmlschema.tmi.telus.com/srv/CMO/BillingAccountMgmt/EnterpriseAddressValidationServiceRequestResponse_v1"
                  name="EnterpriseAddressValidationService_v1_0.wsdl"
                  targetNamespace="http://telus.com/wsdl/CMO/BillingAccountMgmt/EnterpriseAddressValidationService_1"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_6.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Enterprise Address Validation Service - service to support verification and formatting of postal addresses.</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/BillingAccountMgmt/EnterpriseAddressValidationService_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/BillingAccountMgmt/EnterpriseAddressValidationServiceRequestResponse_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/BillingAccountMgmt/EnterpriseAddressValidationServiceRequestResponse_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="verifyCanadianPostalAddress">
      <wsdl:part name="parameters" element="eavs:verifyCanadianPostalAddress"/>
   </wsdl:message>
   <wsdl:message name="verifyCanadianPostalAddressResponse">
      <wsdl:part name="result" element="eavs:verifyCanadianPostalAddressResponse"/>
   </wsdl:message>
   <wsdl:message name="formatCanadianPostalAddress">
      <wsdl:part name="parameters" element="eavs:formatCanadianPostalAddress"/>
   </wsdl:message>
   <wsdl:message name="formatCanadianPostalAddressResponse">
      <wsdl:part name="result" element="eavs:formatCanadianPostalAddressResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="EnterpriseAddressValidationServicePortType">
      <wsdl:operation name="verifyCanadianPostalAddress">
         <wsdl:input message="iface:verifyCanadianPostalAddress"/>
         <wsdl:output message="iface:verifyCanadianPostalAddressResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="formatCanadianPostalAddress">
         <wsdl:input message="iface:formatCanadianPostalAddress"/>
         <wsdl:output message="iface:formatCanadianPostalAddressResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="EnterpriseAddressValidationServiceSOAP"
                 type="iface:EnterpriseAddressValidationServicePortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="verifyCanadianPostalAddress">
         <wsdl:documentation>to verify/validate a Canadian postal address and return a matching address. If many matches are found for the address data provided, all such addresses will appear in the returned value.
		The input address should be as per the input address layout.
		</wsdl:documentation>
         <soap:operation soapAction="verifyCanadianPostalAddress"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="formatCanadianPostalAddress">
         <wsdl:documentation>to format a Canadian postal address. The address is formatted according to the parameters defined in the "FormattingParameterSet". The returned address object contains the formatted address lines.
		</wsdl:documentation>
         <soap:operation soapAction="formatCanadianPostalAddress"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="EnterpriseAddressValidationService_v1_0">
      <wsdl:port name="EnterpriseAddressValidationServicePort"
                 binding="iface:EnterpriseAddressValidationServiceSOAP">
         <soap:address location="http://cmbilling-billingacctmgmt-dv103.tmi.telus.com/CMO/BillingAccountMgmt/EnterpriseAddressValidationService_v1_0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>