cmb-common/cmb-ws-clients/product-offering-ws-client-2-2/src/main/resources/wsdls/ProductOfferingService_v2_2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/SelfMgmt/ProductOfferingService_2"
                  xmlns:pos="http://xmlschema.tmi.telus.com/srv/CMO/SelfMgmt/ProductOfferingService_v2"
                  name="ProductOfferingService_v2_2.wsdl"
                  targetNamespace="http://telus.com/wsdl/CMO/SelfMgmt/ProductOfferingService_2"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Service supports retrieval of product offers, including product specifications, prices and characteristics.</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/SelfMgmt/ProductOfferingService_2">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/SelfMgmt/ProductOfferingService_v2"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/SelfMgmt/ProductOfferingServiceRequestResponse_v2_2.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getProductOfferings">
      <wsdl:part name="parameters" element="pos:getProductOfferings"/>
   </wsdl:message>
   <wsdl:message name="getProductOfferingsResponse">
      <wsdl:part name="result" element="pos:getProductOfferingsResponse"/>
   </wsdl:message>
   <wsdl:message name="getProductOffering">
      <wsdl:part name="parameters" element="pos:getProductOffering"/>
   </wsdl:message>
   <wsdl:message name="getProductOfferingResponse">
      <wsdl:part name="result" element="pos:getProductOfferingResponse"/>
   </wsdl:message>
   <wsdl:message name="getProductRelationships">
      <wsdl:part name="parameters" element="pos:getProductRelationships"/>
   </wsdl:message>
   <wsdl:message name="getProductRelationshipsResponse">
      <wsdl:part name="result" element="pos:getProductRelationshipsResponse"/>
   </wsdl:message>
   <wsdl:message name="getVoucherDetail">
      <wsdl:part name="parameters" element="pos:getVoucherDetail"/>
      <wsdl:part name="getVoucherDetailInSoapHdr" element="pos:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="getVoucherDetailResponse">
      <wsdl:part name="result" element="pos:getVoucherDetailResponse"/>
   </wsdl:message>
   <wsdl:message name="updateVoucherStatus">
      <wsdl:part name="parameters" element="pos:updateVoucherStatus"/>
      <wsdl:part name="updateVoucherStatusInSoapHdr" element="pos:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="updateVoucherStatusResponse">
      <wsdl:part name="result" element="pos:updateVoucherStatusResponse"/>
   </wsdl:message>
   <wsdl:message name="getBalanceThresholdRechargeDenominationList">
      <wsdl:part name="parameters" element="pos:getBalanceThresholdRechargeDenominationList"/>
   </wsdl:message>
   <wsdl:message name="getBalanceThresholdRechargeDenominationListResponse">
      <wsdl:part name="result" element="pos:getBalanceThresholdRechargeDenominationListResponse"/>
   </wsdl:message>
   <wsdl:message name="getBalanceRechargeDenominationList">
      <wsdl:part name="parameters" element="pos:getBalanceRechargeDenominationList"/>
   </wsdl:message>
   <wsdl:message name="getBalanceRechargeDenominationListResponse">
      <wsdl:part name="result" element="pos:getBalanceRechargeDenominationListResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="ProductOfferingService_v2_2_PortType">
      <wsdl:operation name="getProductOfferings">
         <wsdl:input message="iface:getProductOfferings"/>
         <wsdl:output message="iface:getProductOfferingsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getProductOffering">
         <wsdl:input message="iface:getProductOffering"/>
         <wsdl:output message="iface:getProductOfferingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getProductRelationships">
         <wsdl:input message="iface:getProductRelationships"/>
         <wsdl:output message="iface:getProductRelationshipsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getVoucherDetail">
         <wsdl:input message="iface:getVoucherDetail"/>
         <wsdl:output message="iface:getVoucherDetailResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="updateVoucherStatus">
         <wsdl:input message="iface:updateVoucherStatus"/>
         <wsdl:output message="iface:updateVoucherStatusResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getBalanceThresholdRechargeDenominationList">
         <wsdl:input message="iface:getBalanceThresholdRechargeDenominationList"/>
         <wsdl:output message="iface:getBalanceThresholdRechargeDenominationListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getBalanceRechargeDenominationList">
         <wsdl:input message="iface:getBalanceRechargeDenominationList"/>
         <wsdl:output message="iface:getBalanceRechargeDenominationListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="ProductOfferingService_v2_2_SOAP"
                 type="iface:ProductOfferingService_v2_2_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getProductOfferings">
         <wsdl:documentation>Retrieve a list of Product Offerings</wsdl:documentation>
         <soap:operation soapAction="getProductOfferings"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getProductOffering">
         <wsdl:documentation>Retrieves a Product Offering</wsdl:documentation>
         <soap:operation soapAction="getProductOffering"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getProductRelationships">
         <wsdl:documentation>Retrieve a list of Product Relationships and Mutual Exclusivity rules</wsdl:documentation>
         <soap:operation soapAction="getProductRelationships"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getVoucherDetail">
         <wsdl:documentation>Retrieve the detail information for a prepaid Voucher</wsdl:documentation>
         <soap:operation soapAction="getVoucherDetail"/>
         <wsdl:input>
            <wsdl:documentation>User Header allows input of customer ID and list of consuming application IDs</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:getVoucherDetail" part="getVoucherDetailInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateVoucherStatus">
         <wsdl:documentation>Update the status of a prepaid Voucher</wsdl:documentation>
         <soap:operation soapAction="updateVoucherStatus"/>
         <wsdl:input>
            <wsdl:documentation>User Header allows input of customer ID and list of consuming application IDs</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:updateVoucherStatus"
                         part="updateVoucherStatusInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getBalanceThresholdRechargeDenominationList">
         <wsdl:documentation>Retrieve balance threshold recharge denominations.</wsdl:documentation>
         <soap:operation soapAction="getBalanceThresholdRechargeDenominationList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getBalanceRechargeDenominationList">
         <wsdl:documentation>Retrieve balance recharge denominations.</wsdl:documentation>
         <soap:operation soapAction="getBalanceRechargeDenominationList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="ProductOfferingService_v2_2">
      <wsdl:port name="ProductOfferingServicePort"
                 binding="iface:ProductOfferingService_v2_2_SOAP">
         <soap:address location="http://prepaidmgmtesb2-dv103.tmi.telus.com/CMO/SelfMgmt/ProductOfferingService_v2_2"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>