cmb-common/cmb-ws-clients/wls-credit-assessment-proxy-ws-client-2-0/src/main/resources/wsdls/WLSCreditAssessmentProxySvc_v2_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:shttp="http://soa.com/wsdl/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/OrderMgmt/WLSCreditAssessmentProxySvc_2"
                  xmlns:wlscrdaproxy="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WLSCreditAssessmentProxySvcRequestResponse_v2"
                  targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/WLSCreditAssessmentProxySvc_2"><!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v4_0.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_2.xsd
				--><wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/WLSCreditAssessmentProxySvc_2">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WLSCreditAssessmentProxySvcRequestResponse_v2"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WLSCreditAssessmentProxySvcRequestResponse_v2_1.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="performCreditAssessment">
      <wsdl:part name="parameters" element="wlscrdaproxy:performCreditAssessment"/>
      <wsdl:part name="performCreditAssessmentInSoapHdr" element="wlscrdaproxy:userHeader"/>
   </wsdl:message>
   <wsdl:message name="performCreditAssessmentResponse">
      <wsdl:part name="result" element="wlscrdaproxy:performCreditAssessmentResponse"/>
   </wsdl:message>
   <wsdl:message name="getCreditAssessment">
      <wsdl:part name="parameters" element="wlscrdaproxy:getCreditAssessment"/>
   </wsdl:message>
   <wsdl:message name="getCreditAssessmentResponse">
      <wsdl:part name="result" element="wlscrdaproxy:getCreditAssessmentResponse"/>
   </wsdl:message>
   <wsdl:message name="searchCreditAssessments">
      <wsdl:part name="parameters" element="wlscrdaproxy:searchCreditAssessments"/>
   </wsdl:message>
   <wsdl:message name="searchCreditAssessmentsResponse">
      <wsdl:part name="result" element="wlscrdaproxy:searchCreditAssessmentsResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:portType name="WLSCreditAssessmentProxySvc_v2_0_PortType">
      <wsdl:operation name="performCreditAssessment">
         <wsdl:input message="iface:performCreditAssessment"/>
         <wsdl:output message="iface:performCreditAssessmentResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getCreditAssessment">
         <wsdl:input message="iface:getCreditAssessment"/>
         <wsdl:output message="iface:getCreditAssessmentResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="searchCreditAssessments">
         <wsdl:input message="iface:searchCreditAssessments"/>
         <wsdl:output message="iface:searchCreditAssessmentsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="WLSCreditAssessmentProxySvc_v2_0_SOAP"
                 type="iface:WLSCreditAssessmentProxySvc_v2_0_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="performCreditAssessment">
         <wsdl:documentation> The Operation enables performing wireless Credit Assessment for a wls credit mgmt database</wsdl:documentation>
         <soap:operation soapAction="performCreditAssessment"/>
         <wsdl:input>
            <wsdl:documentation>Avalon user header for propagating originating user information required as part of PCI requirement</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:performCreditAssessment"
                         part="performCreditAssessmentInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getCreditAssessment">
         <wsdl:documentation> The Operation enables retrieval of a wireless credit assessment from wls credit mgmt database</wsdl:documentation>
         <soap:operation soapAction="getCreditAssessment"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="searchCreditAssessments">
         <wsdl:documentation> The Operation enables searching for wireless credit assessments in wls credit mgmt database</wsdl:documentation>
         <soap:operation soapAction="searchCreditAssessments"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="WLSCreditAssessmentProxySvc_v2_0">
      <wsdl:port name="WLSCreditAssessmentProxySvcPort"
                 binding="iface:WLSCreditAssessmentProxySvc_v2_0_SOAP">
         <soap:address location="http://customermanagement2esb-dv01.tsl.telus.com/CMO/OrderMgmt/WLSCreditAssessmentProxy/WLSCreditAssessmentProxySvc_v2_0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>