cmb-ws/cmb-service-order-reference-ws-4-1/wsdl/src/main/resources/wsdls/ServiceOrderReferenceServiceRequestResponse_v4_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by TELUS COMMUNICATIONS (TELUS COMMUNICATIONS) -->
<xsd:schema xmlns:tns="http://xmlschema.tmi.telus.com/srv/SMO/OrderMgmt/ServiceOrderReferenceServiceRequestResponse_v4_1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ref="http://xmlschema.tmi.telus.com/xsd/Service/BaseTypes/ServiceOrderReferenceTypes_v4" xmlns:tpe="http://xmlschema.tmi.telus.com/xsd/Customer/BaseTypes/customer_information_reference_types_1_0" xmlns:cdt="http://xmlschema.tmi.telus.com/xsd/Customer/BaseTypes/common_domain_types_3" xmlns:common="http://xmlschema.tmi.telus.com/xsd/Customer/Customer/CustomerManagementCommonTypes_v4" xmlns:ns1="http://xmlschema.tmi.telus.com/srv/SMO/OrderMgmt/ServiceOrderReferenceServiceRequestResponse_v4" targetNamespace="http://xmlschema.tmi.telus.com/srv/SMO/OrderMgmt/ServiceOrderReferenceServiceRequestResponse_v4" elementFormDefault="qualified">
	<xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Service/BaseTypes/ServiceOrderReferenceTypes_v4" schemaLocation="http://xmlschema.tmi.telus.com/xsd/Service/BaseTypes/ServiceOrderReferenceTypes_v4_1.xsd"/>
	<xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Customer/BaseTypes/common_domain_types_3" schemaLocation="http://xmlschema.tmi.telus.com/xsd/Customer/BaseTypes/common_domain_types_3_0.xsd"/>
	<xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Customer/Customer/CustomerManagementCommonTypes_v4" schemaLocation="http://xmlschema.tmi.telus.com/xsd/Customer/Customer/CustomerManagementCommonTypes_v4_0.xsd"/>
	<xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Customer/BaseTypes/customer_information_reference_types_1_0" schemaLocation="http://xmlschema.tmi.telus.com/xsd/Customer/BaseTypes/CustomerInformationReferenceTypes_1_0.xsd"/>
	<xsd:element name="getCommitmentReasonList">
		<xsd:complexType>
			<xsd:sequence/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getCommitmentReasonListResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="commitmentReasonList" type="ref:CommitmentReason" minOccurs="0" maxOccurs="1000"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getCommitmentReason">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="commitmentReasonCode" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getCommitmentReasonResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="commitmentReason" type="ref:CommitmentReason" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPoolingGroupList">
		<xsd:complexType>
			<xsd:sequence/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPoolingGroupListResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="poolingGroupList" type="ref:PoolingGroup" minOccurs="0" maxOccurs="1000"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPoolingGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="poolingGroupCode" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPoolingGroupResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="poolingGroup" type="ref:PoolingGroup" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getFeatureList">
		<xsd:complexType>
			<xsd:sequence/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getFeatureListResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="featureList" type="ref:Feature" minOccurs="0" maxOccurs="1000"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getFeature">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="featureCode" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getFeatureResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="feature" type="ref:Feature" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getRegularServiceList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="regularServiceCode" type="xsd:string" maxOccurs="1000"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getRegularServiceListResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="serviceList" type="ref:Service" minOccurs="0" maxOccurs="1000"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getRegularService">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="regularServiceCode" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getRegularServiceResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="service" type="ref:Service" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPrepaidServiceList">
		<xsd:complexType>
			<xsd:sequence/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPrepaidServiceListResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="serviceList" type="ref:Service" minOccurs="0" maxOccurs="1000"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPrepaidServiceListByEquipmentAndNetworkType">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="equipmentType" type="common:EquipmentType"/>
				<xsd:element name="networkType" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>I: NETWORK TYPE IDEN
C: NETWORK TYPE CDMA
H: NETWORK TYPE HSPA
9: ALL NETWORK TYPES</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPrepaidServiceListByEquipmentAndNetworkTypeResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="serviceList" type="ref:Service" minOccurs="0" maxOccurs="1000"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPrepaidService">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="serviceCode" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPrepaidServiceResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="service" type="ref:Service" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getServiceListByFeatureCategory">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="featureCategory" type="xsd:string"/>
				<xsd:element name="productType" type="common:ProductType"/>
				<xsd:element name="currentInd" type="xsd:boolean"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getServiceListByFeatureCategoryResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="serviceList" type="ref:Service" minOccurs="0" maxOccurs="1000"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPricePlan">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="pricePlanCode" type="common:PricePlanCode"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPricePlanResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="pricePlanSummary" type="ref:PricePlanSummary" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPricePlanSummaryListByPricePlanCodeList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="pricePlanCode" type="common:PricePlanCode" maxOccurs="1000"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPricePlanSummaryListByPricePlanCodeListResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="pricePlanSummaryList" type="ref:PricePlanSummary" minOccurs="0" maxOccurs="1000"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPricePlanByEquipmentAndAccountInfo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="productType" type="common:ProductType"/>
				<xsd:element name="pricePlanCode" type="common:PricePlanCode"/>
				<xsd:element name="equipmentType" type="common:EquipmentType"/>
				<xsd:element name="provinceCode" type="common:ProvinceCode"/>
				<xsd:element name="accountType" type="xsd:string"/>
				<xsd:element name="accountSubType" type="xsd:string"/>
				<xsd:element name="brandId" type="cdt:BrandID"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPricePlanByEquipmentAndAccountInfoResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="pricePlan" type="ref:PricePlan" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPricePlanList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="productType" type="common:ProductType"/>
				<xsd:element name="equipmentType" type="common:EquipmentType"/>
				<xsd:element name="provinceCode" type="common:ProvinceCode"/>
				<xsd:element name="accountType" type="xsd:string"/>
				<xsd:element name="accountSubType" type="xsd:string"/>
				<xsd:element name="brandId" type="cdt:BrandID"/>
				<xsd:element name="activityCode" type="xsd:string"/>
				<xsd:element name="currentPlansOnlyInd" type="xsd:boolean" default="false"/>
				<xsd:element name="availableForActivationOnlyInd" type="xsd:boolean" default="false"/>
				<xsd:element name="activityReasonCode" type="xsd:string"/>
				<xsd:element name="term" type="common:ContractTerm"/>
				<xsd:element name="networkType" type="xsd:string"/>
				<xsd:element name="initialActivationInd" type="xsd:boolean" default="false"/>
				<xsd:element name="productPromoType" type="xsd:long" minOccurs="0" maxOccurs="1000"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPricePlanListResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="pricePlanSummaryList" type="ref:PricePlanSummary" minOccurs="0" maxOccurs="1000"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="checkServiceAssociation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="serviceCode" type="common:ServiceCode"/>
				<xsd:element name="pricePlanCode" type="common:PricePlanCode"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="checkServiceAssociationResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="associatedServiceInd" type="xsd:boolean" default="false"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getLogicalDate">
		<xsd:complexType>
			<xsd:sequence/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getLogicalDateResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="logicalDate" type="xsd:date"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getServiceExclusionGroupList">
		<xsd:complexType>
			<xsd:sequence/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getServiceExclusionGroupListResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="serviceExclusionGroupList" type="ref:ServiceExclusionGroups" minOccurs="0" maxOccurs="1000"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getBrandList">
		<xsd:complexType>
			<xsd:sequence/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getBrandListResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="brandList" type="ref:Brand" minOccurs="0" maxOccurs="1000"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getBrandByBrandId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="brandId" type="cdt:BrandID"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getBrandByBrandIdResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="brand" type="ref:Brand"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="checkServicePrivilege">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="serviceCode" type="common:ServiceCode" maxOccurs="1000"/>
				<xsd:element name="businessRole" type="common:BusinessRole"/>
				<xsd:element name="privilege" type="common:Privilege"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="checkServicePrivilegeResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="servicePolicy" type="ref:ServicePolicy" maxOccurs="1000"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getServiceTerm">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="serviceCode" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getServiceTermResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="serviceTerm" type="ref:ServiceTerm" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getDataSharingGroupList">
		<xsd:annotation>
			<xsd:documentation>Operation used to get the definition of all data sharing groups</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getDataSharingGroupListResponse">
		<xsd:annotation>
			<xsd:documentation>List of all data sharing group definitions</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="dataSharingGroupList" type="ref:DataSharingGroup" minOccurs="0" maxOccurs="1000"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getDataSharingGroup">
		<xsd:annotation>
			<xsd:documentation>Operation used to get the definition of a specific data sharing group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="dataSharingGroupCode" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getDataSharingGroupResponse">
		<xsd:annotation>
			<xsd:documentation>Return the data sharing group definition</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="dataSharingGroup" type="ref:DataSharingGroup"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getAirTimeAllocationList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="serviceCode" type="common:ServiceCode" maxOccurs="1000"/>
				<xsd:element name="effectiveRetrievalDate" type="xsd:date" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>It is the the effective date for retrieval.  Past effective date is not supported. If no date passed in, the current logical date will be used.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getAirTimeAllocationListResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="airTimeAllocation" type="ref:ServiceAirTimeAllocation" minOccurs="1" maxOccurs="1000"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getCalculatedEffectiveAirTimeAllocationList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="serviceCode" type="common:ServiceCode" maxOccurs="1000"/>
				<xsd:element name="effectiveDate" type="xsd:date">
					<xsd:annotation>
						<xsd:documentation>contract effective date.  Past effective date is not supported</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getCalculatedEffectiveAirTimeAllocationListResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="airTimeAllocationList" type="ref:ServiceAirTimeAllocation" minOccurs="1" maxOccurs="1000"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPeriodList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="serviceCode" type="common:ServiceCode"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPeriodListResponse">
		<xsd:annotation>
			<xsd:documentation> </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="periodList" type="ref:Period" minOccurs="0" maxOccurs="1000">
					<xsd:annotation>
						<xsd:documentation>Empty object means the serivce is not associated with period. not period based.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getServiceFeatureClassification">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="classificationCode" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getServiceFeatureClassificationResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="serviceFeatureClassification" type="ref:ServiceFeatureClassification" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>empty object indicate no mapping object found for the given code</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
