cmb-ait/cmb-ws-clients/src/main/resources/wsdls/ResourceOrderReferenceService/ResourceOrderReferenceService_v1_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/RMO/OrderMgmt/ResourceOrderReferenceService_1"
                  xmlns:ror="http://xmlschema.tmi.telus.com/srv/RMO/OrderMgmt/ResourceOrderReferenceServiceRequestResponse_1_0"
                  name="ResourceOrderReferenceService_v1_1.wsdl"
                  targetNamespace="http://telus.com/wsdl/RMO/OrderMgmt/ResourceOrderReferenceService_1"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Provides the ability to retrieve Reference Data</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/RMO/OrderMgmt/ResourceOrderReferenceService_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/RMO/OrderMgmt/ResourceOrderReferenceServiceRequestResponse_1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/RMO/OrderMgmt/ResourceOrderReferenceServiceRequestResponse_1_1.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getNumberGroupByPhoneNumberAndProductType">
      <wsdl:part name="parameters" element="ror:getNumberGroupByPhoneNumberAndProductType"/>
   </wsdl:message>
   <wsdl:message name="getNumberGroupByPhoneNumberAndProductTypeResponse">
      <wsdl:part name="result" element="ror:getNumberGroupByPhoneNumberAndProductTypeResponse"/>
   </wsdl:message>
   <wsdl:message name="getNumberGroupByPortedInPhoneNumberProductType">
      <wsdl:part name="parameters" element="ror:getNumberGroupByPortedInPhoneNumberProductType"/>
   </wsdl:message>
   <wsdl:message name="getNumberGroupByPortedInPhoneNumberProductTypeResponse">
      <wsdl:part name="result"
                 element="ror:getNumberGroupByPortedInPhoneNumberProductTypeResponse"/>
   </wsdl:message>
   <wsdl:message name="getAvailableNumberGroups">
      <wsdl:part name="parameters" element="ror:getAvailableNumberGroups"/>
   </wsdl:message>
   <wsdl:message name="getAvailableNumberGroupsResponse">
      <wsdl:part name="result" element="ror:getAvailableNumberGroupsResponse"/>
   </wsdl:message>
   <wsdl:message name="getAvailablePhoneNumberList">
      <wsdl:part name="parameters" element="ror:getAvailablePhoneNumberList"/>
   </wsdl:message>
   <wsdl:message name="getAvailablePhoneNumberListResponse">
      <wsdl:part name="result" element="ror:getAvailablePhoneNumberListResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="ResourceOrderReferenceService_v1_1_PortType">
      <wsdl:operation name="getNumberGroupByPhoneNumberAndProductType">
         <wsdl:input message="iface:getNumberGroupByPhoneNumberAndProductType"/>
         <wsdl:output message="iface:getNumberGroupByPhoneNumberAndProductTypeResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getNumberGroupByPortedInPhoneNumberProductType">
         <wsdl:input message="iface:getNumberGroupByPortedInPhoneNumberProductType"/>
         <wsdl:output message="iface:getNumberGroupByPortedInPhoneNumberProductTypeResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getAvailableNumberGroups">
         <wsdl:input message="iface:getAvailableNumberGroups"/>
         <wsdl:output message="iface:getAvailableNumberGroupsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getAvailablePhoneNumberList">
         <wsdl:input message="iface:getAvailablePhoneNumberList"/>
         <wsdl:output message="iface:getAvailablePhoneNumberListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="ResourceOrderReferenceService_v1_1_SOAP"
                 type="iface:ResourceOrderReferenceService_v1_1_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getNumberGroupByPhoneNumberAndProductType">
         <wsdl:documentation>Retrieves Number Group By Phone Number And Product Type.</wsdl:documentation>
         <soap:operation soapAction="getNumberGroupByPhoneNumberAndProductType"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getNumberGroupByPortedInPhoneNumberProductType">
         <wsdl:documentation>Retrieves Number Group By Ported In Phone Number and Product Type.</wsdl:documentation>
         <soap:operation soapAction="getNumberGroupByPortedInPhoneNumberProductType"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAvailableNumberGroups">
         <wsdl:documentation>Retrieves Available Number Groups.</wsdl:documentation>
         <soap:operation soapAction="getAvailableNumberGroups"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAvailablePhoneNumberList">
         <wsdl:documentation>This operation Retrieves phone numbers available for assignment in the system governed by the PhoneNumberReservation search criteria</wsdl:documentation>
         <soap:operation soapAction="getAvailablePhoneNumberList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="ResourceOrderReferenceService_v1_1">
      <wsdl:port name="ResourceOrderReferenceServicePort"
                 binding="iface:ResourceOrderReferenceService_v1_1_SOAP">
         <soap:address location="http://rmf-resourceordermgmt-dv103.tmi.telus.com/RMO/OrderMgmt/ResourceOrderReference/ResourceOrderReferenceService_v1_1"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>