cmb-ait/cmb-ws-clients/src/main/resources/wsdls/SubscriberManagementService/SubscriberManagementService_v4_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:shttp="http://soa.com/wsdl/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/OrderMgmt/SubscriberManagementService_4"
                  xmlns:slc="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/SubscriberManagementServiceRequestResponse_v4"
                  targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/SubscriberManagementService_4"><!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v3_2.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_1.xsd
			--><wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/SubscriberManagementService_4">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/SubscriberManagementServiceRequestResponse_v4"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/SubscriberManagementServiceRequestResponse_v4_1.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="changeEquipment">
      <wsdl:part name="parameters" element="slc:changeEquipment"/>
   </wsdl:message>
   <wsdl:message name="changeEquipmentResponse">
      <wsdl:part name="result" element="slc:changeEquipmentResponse"/>
   </wsdl:message>
   <wsdl:message name="changePhoneNumber">
      <wsdl:part name="parameters" element="slc:changePhoneNumber"/>
   </wsdl:message>
   <wsdl:message name="changePhoneNumberResponse">
      <wsdl:part name="result" element="slc:changePhoneNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="changeVoipNumber">
      <wsdl:part name="parameters" element="slc:changeVoipNumber"/>
   </wsdl:message>
   <wsdl:message name="changeVoipNumberResponse">
      <wsdl:part name="result" element="slc:changeVoipNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="changeVoipNumberWithCharge">
      <wsdl:part name="parameters" element="slc:changeVoipNumberWithCharge"/>
   </wsdl:message>
   <wsdl:message name="changeVoipNumberWithChargeResponse">
      <wsdl:part name="result" element="slc:changeVoipNumberWithChargeResponse"/>
   </wsdl:message>
   <wsdl:message name="moveVoipNumberBetweenSeats">
      <wsdl:part name="parameters" element="slc:moveVoipNumberBetweenSeats"/>
   </wsdl:message>
   <wsdl:message name="moveVoipNumberBetweenSeatsResponse">
      <wsdl:part name="result" element="slc:moveVoipNumberBetweenSeatsResponse"/>
   </wsdl:message>
   <wsdl:message name="getServiceAgreement">
      <wsdl:part name="parameters" element="slc:getServiceAgreement"/>
   </wsdl:message>
   <wsdl:message name="getServiceAgreementResponse">
      <wsdl:part name="result" element="slc:getServiceAgreementResponse"/>
   </wsdl:message>
   <wsdl:message name="getServiceAgreementForUpdate">
      <wsdl:part name="parameters" element="slc:getServiceAgreementForUpdate"/>
   </wsdl:message>
   <wsdl:message name="getServiceAgreementForUpdateResponse">
      <wsdl:part name="result" element="slc:getServiceAgreementForUpdateResponse"/>
   </wsdl:message>
   <wsdl:message name="validateServiceAgreement">
      <wsdl:part name="parameters" element="slc:validateServiceAgreement"/>
   </wsdl:message>
   <wsdl:message name="validateServiceAgreementResponse">
      <wsdl:part name="result" element="slc:validateServiceAgreementResponse"/>
   </wsdl:message>
   <wsdl:message name="saveServiceAgreement">
      <wsdl:part name="parameters" element="slc:saveServiceAgreement"/>
   </wsdl:message>
   <wsdl:message name="saveServiceAgreementResponse">
      <wsdl:part name="result" element="slc:saveServiceAgreementResponse"/>
   </wsdl:message>
   <wsdl:message name="prepopulateCallingCircleList">
      <wsdl:part name="parameters" element="slc:prepopulateCallingCircleList"/>
   </wsdl:message>
   <wsdl:message name="prepopulateCallingCircleListResponse">
      <wsdl:part name="result" element="slc:prepopulateCallingCircleListResponse"/>
   </wsdl:message>
   <wsdl:message name="validateMigrateSubscriber">
      <wsdl:part name="parameters" element="slc:validateMigrateSubscriber"/>
   </wsdl:message>
   <wsdl:message name="validateMigrateSubscriberResponse">
      <wsdl:part name="result" element="slc:validateMigrateSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="migrateSubscriber">
      <wsdl:part name="parameters" element="slc:migrateSubscriber"/>
   </wsdl:message>
   <wsdl:message name="migrateSubscriberResponse">
      <wsdl:part name="result" element="slc:migrateSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="validateMigrateSeat">
      <wsdl:part name="parameters" element="slc:validateMigrateSeat"/>
   </wsdl:message>
   <wsdl:message name="validateMigrateSeatResponse">
      <wsdl:part name="result" element="slc:validateMigrateSeatResponse"/>
   </wsdl:message>
   <wsdl:message name="migrateSeat">
      <wsdl:part name="parameters" element="slc:migrateSeat"/>
   </wsdl:message>
   <wsdl:message name="migrateSeatResponse">
      <wsdl:part name="result" element="slc:migrateSeatResponse"/>
   </wsdl:message>
   <wsdl:message name="resetCscSubscription">
      <wsdl:part name="parameters" element="slc:resetCscSubscription"/>
   </wsdl:message>
   <wsdl:message name="resetCscSubscriptionResponse">
      <wsdl:part name="result" element="slc:resetCscSubscriptionResponse"/>
   </wsdl:message>
   <wsdl:message name="activateSubscriber">
      <wsdl:part name="parameters" element="slc:activateSubscriber"/>
   </wsdl:message>
   <wsdl:message name="activateSubscriberResponse">
      <wsdl:part name="result" element="slc:activateSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="activatePortInRequest">
      <wsdl:part name="parameters" element="slc:activatePortInRequest"/>
   </wsdl:message>
   <wsdl:message name="activatePortInRequestResponse">
      <wsdl:part name="result" element="slc:activatePortInRequestResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:portType name="SubscriberManagementService_v4_1_PortType">
      <wsdl:operation name="changeEquipment">
         <wsdl:input message="iface:changeEquipment"/>
         <wsdl:output message="iface:changeEquipmentResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="changePhoneNumber">
         <wsdl:input message="iface:changePhoneNumber"/>
         <wsdl:output message="iface:changePhoneNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="changeVoipNumber">
         <wsdl:input message="iface:changeVoipNumber"/>
         <wsdl:output message="iface:changeVoipNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="changeVoipNumberWithCharge">
         <wsdl:input message="iface:changeVoipNumberWithCharge"/>
         <wsdl:output message="iface:changeVoipNumberWithChargeResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="moveVoipNumberBetweenSeats">
         <wsdl:input message="iface:moveVoipNumberBetweenSeats"/>
         <wsdl:output message="iface:moveVoipNumberBetweenSeatsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getServiceAgreement">
         <wsdl:input message="iface:getServiceAgreement"/>
         <wsdl:output message="iface:getServiceAgreementResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getServiceAgreementForUpdate">
         <wsdl:input message="iface:getServiceAgreementForUpdate"/>
         <wsdl:output message="iface:getServiceAgreementForUpdateResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="validateServiceAgreement">
         <wsdl:input message="iface:validateServiceAgreement"/>
         <wsdl:output message="iface:validateServiceAgreementResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="saveServiceAgreement">
         <wsdl:input message="iface:saveServiceAgreement"/>
         <wsdl:output message="iface:saveServiceAgreementResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="prepopulateCallingCircleList">
         <wsdl:input message="iface:prepopulateCallingCircleList"/>
         <wsdl:output message="iface:prepopulateCallingCircleListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="validateMigrateSubscriber">
         <wsdl:input message="iface:validateMigrateSubscriber"/>
         <wsdl:output message="iface:validateMigrateSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="migrateSubscriber">
         <wsdl:input message="iface:migrateSubscriber"/>
         <wsdl:output message="iface:migrateSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="validateMigrateSeat">
         <wsdl:input message="iface:validateMigrateSeat"/>
         <wsdl:output message="iface:validateMigrateSeatResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="migrateSeat">
         <wsdl:input message="iface:migrateSeat"/>
         <wsdl:output message="iface:migrateSeatResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="resetCscSubscription">
         <wsdl:input message="iface:resetCscSubscription"/>
         <wsdl:output message="iface:resetCscSubscriptionResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="activateSubscriber">
         <wsdl:input message="iface:activateSubscriber"/>
         <wsdl:output message="iface:activateSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="activatePortInRequest">
         <wsdl:input message="iface:activatePortInRequest"/>
         <wsdl:output message="iface:activatePortInRequestResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SubscriberManagementService_v4_1_SOAP"
                 type="iface:SubscriberManagementService_v4_1_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="changeEquipment">
         <wsdl:documentation>Changes the subscriber's equipment.</wsdl:documentation>
         <soap:operation soapAction="changeEquipment"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="changePhoneNumber">
         <wsdl:documentation>Changes the subscriber's phone number.</wsdl:documentation>
         <soap:operation soapAction="changePhoneNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="changeVoipNumber">
         <wsdl:documentation>Changes the subscriber's voip phone number.</wsdl:documentation>
         <soap:operation soapAction="changeVoipNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="changeVoipNumberWithCharge">
         <wsdl:documentation>Changes the subscriber's voip phone number with an associated recurring charge .</wsdl:documentation>
         <soap:operation soapAction="changeVoipNumberWithCharge"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="moveVoipNumberBetweenSeats">
         <wsdl:documentation>move voip phone number between seats.</wsdl:documentation>
         <soap:operation soapAction="moveVoipNumberBetweenSeats"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getServiceAgreement">
         <wsdl:documentation>Retrieve subscriber's service agreement</wsdl:documentation>
         <soap:operation soapAction="getServiceAgreement"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getServiceAgreementForUpdate">
         <wsdl:documentation>Retrieve subscriber's service agreement with all required information to perform service agreement changes.</wsdl:documentation>
         <soap:operation soapAction="getServiceAgreementForUpdate"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="validateServiceAgreement">
         <wsdl:documentation>Validate subscriber's service agreement changes and return validated and modified service agreement prior to commit.</wsdl:documentation>
         <soap:operation soapAction="validateServiceAgreement"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="saveServiceAgreement">
         <wsdl:documentation>Save subscriber's service agreement changes.</wsdl:documentation>
         <soap:operation soapAction="saveServiceAgreement"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="prepopulateCallingCircleList">
         <wsdl:documentation>Pre-populates or carries over calling circle list in Service Agreement calling circle feature object.</wsdl:documentation>
         <soap:operation soapAction="prepopulateCallingCircleList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="validateMigrateSubscriber">
         <wsdl:documentation>Validation of the subscriber migrationt.</wsdl:documentation>
         <soap:operation soapAction="validateMigrateSubscriber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="migrateSubscriber">
         <wsdl:documentation>Migrate subscribe.</wsdl:documentation>
         <soap:operation soapAction="migrateSubscriber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="validateMigrateSeat">
         <wsdl:documentation>Validation of the Business Connect subscriber migration.</wsdl:documentation>
         <soap:operation soapAction="validateMigrateSeat"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="migrateSeat">
         <wsdl:documentation>Migrate Business Connect subscriber.</wsdl:documentation>
         <soap:operation soapAction="migrateSeat"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="resetCscSubscription">
         <wsdl:documentation>Reset a Converged Services Client's subscription</wsdl:documentation>
         <soap:operation soapAction="resetCscSubscription"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="activateSubscriber">
         <wsdl:documentation>*** Port In activations have not been implemented.  *** Activate subscribe.</wsdl:documentation>
         <soap:operation soapAction="activateSubscriber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="activatePortInRequest">
         <wsdl:documentation>*** Port in activations Only.  This operation creates a subscriber in KB, create a Port Request in WNP, and submits Port Request to WNP.   </wsdl:documentation>
         <soap:operation soapAction="activatePortInRequest"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="SubscriberManagementService_v4_1">
      <wsdl:port name="SubscriberManagementServicePort"
                 binding="iface:SubscriberManagementService_v4_1_SOAP">
         <soap:address location="http://cmf-ordermgmt-dv103.tmi.telus.com/v4-1/cmo/ordermgmt/subscribermanagement/subscribermanagementservice-v4-1"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>