cmb-common/cmb-ws-clients/equipment-activation-support-1-2-ws-client/src/main/resources/wsdls/EquipmentActivationSupportService_v1_2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/RMO/ResourceMgmt/EquipmentActivationSupportService_1"
                  xmlns:rm="http://xmlschema.tmi.telus.com/srv/RMO/ResourceMgmt/EquipmentActivationSupportServiceRequestResponseTypes_v1"
                  name="EquipmentActivationSupportService_v1_2.wsdl"
                  targetNamespace="http://telus.com/wsdl/RMO/ResourceMgmt/EquipmentActivationSupportService_1"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Product and equipment-level proxy service supporting the activation flow.</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/RMO/ResourceMgmt/EquipmentActivationSupportService_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/RMO/ResourceMgmt/EquipmentActivationSupportServiceRequestResponseTypes_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/RMO/ResourceMgmt/EquipmentActivationSupportServiceRequestResponseTypes_v1_2.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getProductEquipmentDetails">
      <wsdl:part name="parameters" element="rm:getProductEquipmentDetails"/>
   </wsdl:message>
   <wsdl:message name="getProductEquipmentDetailsResponse">
      <wsdl:part name="result" element="rm:getProductEquipmentDetailsResponse"/>
   </wsdl:message>
   <wsdl:message name="getProductEquipmentDetailsList">
      <wsdl:part name="parameters" element="rm:getProductEquipmentDetailsList"/>
   </wsdl:message>
   <wsdl:message name="getProductEquipmentDetailsListResponse">
      <wsdl:part name="result" element="rm:getProductEquipmentDetailsListResponse"/>
   </wsdl:message>
   <wsdl:message name="getValidatedProductEquipmentDetails">
      <wsdl:part name="parameters" element="rm:getValidatedProductEquipmentDetails"/>
   </wsdl:message>
   <wsdl:message name="getValidatedProductEquipmentDetailsResponse">
      <wsdl:part name="result" element="rm:getValidatedProductEquipmentDetailsResponse"/>
   </wsdl:message>
   <wsdl:message name="getValidatedProductEquipmentDetailsList">
      <wsdl:part name="parameters" element="rm:getValidatedProductEquipmentDetailsList"/>
   </wsdl:message>
   <wsdl:message name="getValidatedProductEquipmentDetailsListResponse">
      <wsdl:part name="result" element="rm:getValidatedProductEquipmentDetailsListResponse"/>
   </wsdl:message>
   <wsdl:message name="reserveSimProfile">
      <wsdl:part name="parameters" element="rm:reserveSimProfile"/>
   </wsdl:message>
   <wsdl:message name="reserveSimProfileResponse">
      <wsdl:part name="result" element="rm:reserveSimProfileResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="EquipmentActivationSupportService_v1_2_PortType">
      <wsdl:operation name="getProductEquipmentDetails">
         <wsdl:input message="iface:getProductEquipmentDetails"/>
         <wsdl:output message="iface:getProductEquipmentDetailsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getProductEquipmentDetailsList">
         <wsdl:input message="iface:getProductEquipmentDetailsList"/>
         <wsdl:output message="iface:getProductEquipmentDetailsListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getValidatedProductEquipmentDetails">
         <wsdl:input message="iface:getValidatedProductEquipmentDetails"/>
         <wsdl:output message="iface:getValidatedProductEquipmentDetailsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getValidatedProductEquipmentDetailsList">
         <wsdl:input message="iface:getValidatedProductEquipmentDetailsList"/>
         <wsdl:output message="iface:getValidatedProductEquipmentDetailsListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="reserveSimProfile">
         <wsdl:input message="iface:reserveSimProfile"/>
         <wsdl:output message="iface:reserveSimProfileResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="EquipmentActivationSupportService_v1_2_SOAP"
                 type="iface:EquipmentActivationSupportService_v1_2_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getProductEquipmentDetails">
         <wsdl:documentation>Get product and equipment information details for a handset or a smart card</wsdl:documentation>
         <soap:operation soapAction="getProductEquipmentDetails"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getProductEquipmentDetailsList">
         <wsdl:documentation>Get product and equipment information details for a list of handset/smart card equipment</wsdl:documentation>
         <soap:operation soapAction="getProductEquipmentDetailsList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getValidatedProductEquipmentDetails">
         <wsdl:documentation>Validate the given serial number and get product and equipment information details</wsdl:documentation>
         <soap:operation soapAction="getValidatedProductEquipmentDetails"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getValidatedProductEquipmentDetailsList">
         <wsdl:documentation>Validate the given serial number list and get product and equipment information details</wsdl:documentation>
         <soap:operation soapAction="getValidatedProductEquipmentDetailsList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="reserveSimProfile">
         <wsdl:documentation>Reserves the eSim profile and return the ICCID. Calls EGW to download the order and then validate thru SEMS the ICCID, if success confirm the order and return the ICCID else return the error code.</wsdl:documentation>
         <soap:operation soapAction="reserveSimProfile"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="EquipmentActivationSupportService_v1_2">
      <wsdl:port name="EquipmentActivationSupportServicePort"
                 binding="iface:EquipmentActivationSupportService_v1_2_SOAP">
         <soap:address location="http://rmosr-resrceinvmgmt-dv103.tmi.telus.com/RMO/ResourceMgmt/ResourceMgmt/EquipmentActivationSupportService_v1_2"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>