cmb-ws/cmb-account-info-ws-3-5/wsdl/src/main/resources/wsdls/AccountInformationService_v3_5.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/InformationMgmt/AccountInformationService_3"
                  xmlns:ais="http://xmlschema.tmi.telus.com/srv/CMO/InformationMgmt/AccountInformationServiceRequestResponse_v3"
                  name="AccountInformationService_v3_5.wsdl"
                  targetNamespace="http://telus.com/wsdl/CMO/InformationMgmt/AccountInformationService_3"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Provides the ability to retrieve and update Account Information Data</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/InformationMgmt/AccountInformationService_3">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/InformationMgmt/AccountInformationServiceRequestResponse_v3"
                     schemaLocation="AccountInformationServiceRequestResponse_v3_5.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getAccountByAccountNumber">
      <wsdl:part name="parameters" element="ais:getAccountByAccountNumber"/>
   </wsdl:message>
   <wsdl:message name="getAccountByAccountNumberResponse">
      <wsdl:part name="result" element="ais:getAccountByAccountNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="getAccountByPhoneNumber">
      <wsdl:part name="parameters" element="ais:getAccountByPhoneNumber"/>
   </wsdl:message>
   <wsdl:message name="getAccountByPhoneNumberResponse">
      <wsdl:part name="result" element="ais:getAccountByPhoneNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="getAccountListByAccountNumbers">
      <wsdl:part name="parameters" element="ais:getAccountListByAccountNumbers"/>
   </wsdl:message>
   <wsdl:message name="getAccountListByAccountNumbersResponse">
      <wsdl:part name="result" element="ais:getAccountListByAccountNumbersResponse"/>
   </wsdl:message>
   <wsdl:message name="getAccountListByIMSI">
      <wsdl:part name="parameters" element="ais:getAccountListByIMSI"/>
   </wsdl:message>
   <wsdl:message name="getAccountListByIMSIResponse">
      <wsdl:part name="result" element="ais:getAccountListByIMSIResponse"/>
   </wsdl:message>
   <wsdl:message name="updateEmailAddress">
      <wsdl:part name="parameters" element="ais:updateEmailAddress"/>
   </wsdl:message>
   <wsdl:message name="updateEmailAddressResponse">
      <wsdl:part name="result" element="ais:updateEmailAddressResponse"/>
   </wsdl:message>
   <wsdl:message name="getEmailAddress">
      <wsdl:part name="parameters" element="ais:getEmailAddress"/>
   </wsdl:message>
   <wsdl:message name="getEmailAddressResponse">
      <wsdl:part name="result" element="ais:getEmailAddressResponse"/>
   </wsdl:message>
   <wsdl:message name="updateInvoicePropertyList">
      <wsdl:part name="parameters" element="ais:updateInvoicePropertyList"/>
   </wsdl:message>
   <wsdl:message name="updateInvoicePropertyListResponse">
      <wsdl:part name="result" element="ais:updateInvoicePropertyListResponse"/>
   </wsdl:message>
   <wsdl:message name="getInvoicePropertyList">
      <wsdl:part name="parameters" element="ais:getInvoicePropertyList"/>
   </wsdl:message>
   <wsdl:message name="getInvoicePropertyListResponse">
      <wsdl:part name="result" element="ais:getInvoicePropertyListResponse"/>
   </wsdl:message>
   <wsdl:message name="getBillingInformation">
      <wsdl:part name="parameters" element="ais:getBillingInformation"/>
   </wsdl:message>
   <wsdl:message name="getBillingInformationResponse">
      <wsdl:part name="result" element="ais:getBillingInformationResponse"/>
   </wsdl:message>
   <wsdl:message name="updateContactInformation">
      <wsdl:part name="parameters" element="ais:updateContactInformation"/>
   </wsdl:message>
   <wsdl:message name="updateContactInformationResponse">
      <wsdl:part name="result" element="ais:updateContactInformationResponse"/>
   </wsdl:message>
   <wsdl:message name="getContactInformation">
      <wsdl:part name="parameters" element="ais:getContactInformation"/>
   </wsdl:message>
   <wsdl:message name="getContactInformationResponse">
      <wsdl:part name="result" element="ais:getContactInformationResponse"/>
   </wsdl:message>
   <wsdl:message name="getBillCyclePropertyList">
      <wsdl:part name="parameters" element="ais:getBillCyclePropertyList"/>
   </wsdl:message>
   <wsdl:message name="getBillCyclePropertyListResponse">
      <wsdl:part name="result" element="ais:getBillCyclePropertyList"/>
   </wsdl:message>
   <wsdl:message name="getLastMemo">
      <wsdl:part name="parameters" element="ais:getLastMemo"/>
   </wsdl:message>
   <wsdl:message name="getLastMemoResponse">
      <wsdl:part name="result" element="ais:getLastMemoResponse"/>
   </wsdl:message>
   <wsdl:message name="createMemo">
      <wsdl:part name="parameters" element="ais:createMemo"/>
   </wsdl:message>
   <wsdl:message name="createMemoResponse">
      <wsdl:part name="result" element="ais:createMemoResponse"/>
   </wsdl:message>
   <wsdl:message name="checkInternationalServiceEligibility">
      <wsdl:part name="parameters" element="ais:checkInternationalServiceEligibility"/>
   </wsdl:message>
   <wsdl:message name="checkInternationalServiceEligibilityResponse">
      <wsdl:part name="result" element="ais:checkInternationalServiceEligibilityResponse"/>
   </wsdl:message>
   <wsdl:message name="getPersonalCreditInformation">
      <wsdl:part name="parameters" element="ais:getPersonalCreditInformation"/>
   </wsdl:message>
   <wsdl:message name="getPersonalCreditInformationResponse">
      <wsdl:part name="result" element="ais:getPersonalCreditInformationResponse"/>
   </wsdl:message>
   <wsdl:message name="getBusinessCreditInformation">
      <wsdl:part name="parameters" element="ais:getBusinessCreditInformation"/>
   </wsdl:message>
   <wsdl:message name="getBusinessCreditInformationResponse">
      <wsdl:part name="result" element="ais:getBusinessCreditInformationResponse"/>
   </wsdl:message>
   <wsdl:message name="updatePaymentMethod">
      <wsdl:part name="parameters" element="ais:updatePaymentMethod"/>
      <wsdl:part name="updatePaymentMethodInSoapHdr" element="ais:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="updatePaymentMethodResponse">
      <wsdl:part name="result" element="ais:updatePaymentMethodResponse"/>
   </wsdl:message>
   <wsdl:message name="registerTopUpCreditCard">
      <wsdl:part name="parameters" element="ais:registerTopUpCreditCard"/>
      <wsdl:part name="registerTopUpCreditCardInSoapHdr" element="ais:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="registerTopUpCreditCardResponse">
      <wsdl:part name="result" element="ais:registerTopUpCreditCardResponse"/>
   </wsdl:message>
   <wsdl:message name="removeTopUpCreditCard">
      <wsdl:part name="parameters" element="ais:removeTopUpCreditCard"/>
   </wsdl:message>
   <wsdl:message name="removeTopUpCreditCardResponse">
      <wsdl:part name="result" element="ais:removeTopUpCreditCardResponse"/>
   </wsdl:message>
   <wsdl:message name="createFollowUp">
      <wsdl:part name="parameters" element="ais:createFollowUp"/>
   </wsdl:message>
   <wsdl:message name="createFollowUpResponse">
      <wsdl:part name="result" element="ais:createFollowUpResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberEligibilitySupportingInfo">
      <wsdl:part name="parameters" element="ais:getSubscriberEligibilitySupportingInfo"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberEligibilitySupportingInfoResponse">
      <wsdl:part name="result" element="ais:getSubscriberEligibilitySupportingInfoResponse"/>
   </wsdl:message>
   <wsdl:message name="getCustomerNotificationPreferenceList">
      <wsdl:part name="parameters" element="ais:getCustomerNotificationPreferenceList"/>
   </wsdl:message>
   <wsdl:message name="getCustomerNotificationPreferenceListResponse">
      <wsdl:part name="result" element="ais:getCustomerNotificationPreferenceListResponse"/>
   </wsdl:message>
   <wsdl:message name="updateCustomerNotificationPreferenceList">
      <wsdl:part name="parameters" element="ais:updateCustomerNotificationPreferenceList"/>
   </wsdl:message>
   <wsdl:message name="updateCustomerNotificationPreferenceListResponse">
      <wsdl:part name="result" element="ais:updateCustomerNotificationPreferenceListResponse"/>
   </wsdl:message>
   <wsdl:message name="getNextSeatGroupId">
      <wsdl:part name="parameters" element="ais:getNextSeatGroupId"/>
   </wsdl:message>
   <wsdl:message name="getNextSeatGroupIdResponse">
      <wsdl:part name="result" element="ais:getNextSeatGroupIdResponse"/>
   </wsdl:message>
   <wsdl:message name="getMaxVoipLineList">
      <wsdl:part name="parameters" element="ais:getMaxVoipLineList"/>
   </wsdl:message>
   <wsdl:message name="getMaxVoipLineListResponse">
      <wsdl:part name="result" element="ais:getMaxVoipLineListResponse"/>
   </wsdl:message>
   <wsdl:message name="createMaxVoipLine">
      <wsdl:part name="parameters" element="ais:createMaxVoipLine"/>
   </wsdl:message>
   <wsdl:message name="createMaxVoipLineResponse">
      <wsdl:part name="result" element="ais:createMaxVoipLineResponse"/>
   </wsdl:message>
   <wsdl:message name="updateMaxVoipLineList">
      <wsdl:part name="parameters" element="ais:updateMaxVoipLineList"/>
   </wsdl:message>
   <wsdl:message name="updateMaxVoipLineListResponse">
      <wsdl:part name="result" element="ais:updateMaxVoipLineListResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="AccountInformationService_v3_5_PortType">
      <wsdl:operation name="getAccountByAccountNumber">
         <wsdl:input message="iface:getAccountByAccountNumber"/>
         <wsdl:output message="iface:getAccountByAccountNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getAccountByPhoneNumber">
         <wsdl:input message="iface:getAccountByPhoneNumber"/>
         <wsdl:output message="iface:getAccountByPhoneNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getAccountListByAccountNumbers">
         <wsdl:input message="iface:getAccountListByAccountNumbers"/>
         <wsdl:output message="iface:getAccountListByAccountNumbersResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getAccountListByIMSI">
         <wsdl:input message="iface:getAccountListByIMSI"/>
         <wsdl:output message="iface:getAccountListByIMSIResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="updateEmailAddress">
         <wsdl:input message="iface:updateEmailAddress"/>
         <wsdl:output message="iface:updateEmailAddressResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getEmailAddress">
         <wsdl:input message="iface:getEmailAddress"/>
         <wsdl:output message="iface:getEmailAddressResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="updateInvoicePropertyList">
         <wsdl:input message="iface:updateInvoicePropertyList"/>
         <wsdl:output message="iface:updateInvoicePropertyListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getInvoicePropertyList">
         <wsdl:input message="iface:getInvoicePropertyList"/>
         <wsdl:output message="iface:getInvoicePropertyListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getBillingInformation">
         <wsdl:input message="iface:getBillingInformation"/>
         <wsdl:output message="iface:getBillingInformationResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="updateContactInformation">
         <wsdl:input message="iface:updateContactInformation"/>
         <wsdl:output message="iface:updateContactInformationResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getContactInformation">
         <wsdl:input message="iface:getContactInformation"/>
         <wsdl:output message="iface:getContactInformationResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getBillCyclePropertyList">
         <wsdl:input message="iface:getBillCyclePropertyList"/>
         <wsdl:output message="iface:getBillCyclePropertyListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getLastMemo">
         <wsdl:input message="iface:getLastMemo"/>
         <wsdl:output message="iface:getLastMemoResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="createMemo">
         <wsdl:input message="iface:createMemo"/>
         <wsdl:output message="iface:createMemoResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="checkInternationalServiceEligibility">
         <wsdl:input message="iface:checkInternationalServiceEligibility"/>
         <wsdl:output message="iface:checkInternationalServiceEligibilityResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getPersonalCreditInformation">
         <wsdl:input message="iface:getPersonalCreditInformation"/>
         <wsdl:output message="iface:getPersonalCreditInformationResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getBusinessCreditInformation">
         <wsdl:input message="iface:getBusinessCreditInformation"/>
         <wsdl:output message="iface:getBusinessCreditInformationResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="updatePaymentMethod">
         <wsdl:input message="iface:updatePaymentMethod"/>
         <wsdl:output message="iface:updatePaymentMethodResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="registerTopUpCreditCard">
         <wsdl:input message="iface:registerTopUpCreditCard"/>
         <wsdl:output message="iface:registerTopUpCreditCardResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="removeTopUpCreditCard">
         <wsdl:input message="iface:removeTopUpCreditCard"/>
         <wsdl:output message="iface:removeTopUpCreditCardResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="createFollowUp">
         <wsdl:input message="iface:createFollowUp"/>
         <wsdl:output message="iface:createFollowUpResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberEligibilitySupportingInfo">
         <wsdl:input message="iface:getSubscriberEligibilitySupportingInfo"/>
         <wsdl:output message="iface:getSubscriberEligibilitySupportingInfoResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getCustomerNotificationPreferenceList">
         <wsdl:input message="iface:getCustomerNotificationPreferenceList"/>
         <wsdl:output message="iface:getCustomerNotificationPreferenceListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="updateCustomerNotificationPreferenceList">
         <wsdl:input message="iface:updateCustomerNotificationPreferenceList"/>
         <wsdl:output message="iface:updateCustomerNotificationPreferenceListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getNextSeatGroupId">
         <wsdl:input message="iface:getNextSeatGroupId"/>
         <wsdl:output message="iface:getNextSeatGroupIdResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getMaxVoipLineList">
         <wsdl:input message="iface:getMaxVoipLineList"/>
         <wsdl:output message="iface:getMaxVoipLineListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="createMaxVoipLine">
         <wsdl:input message="iface:createMaxVoipLine"/>
         <wsdl:output message="iface:createMaxVoipLineResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="updateMaxVoipLineList">
         <wsdl:input message="iface:updateMaxVoipLineList"/>
         <wsdl:output message="iface:updateMaxVoipLineListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="AccountInformationService_v3_5_SOAP"
                 type="iface:AccountInformationService_v3_5_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getAccountByAccountNumber">
         <wsdl:documentation>Retrieves Account By Account Number.</wsdl:documentation>
         <soap:operation soapAction="getAccountByAccountNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAccountByPhoneNumber">
         <wsdl:documentation>Retrieves Account By Phone Number.</wsdl:documentation>
         <soap:operation soapAction="getAccountByPhoneNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAccountListByAccountNumbers">
         <wsdl:documentation>Retrieves Accounts By Account Numbers.</wsdl:documentation>
         <soap:operation soapAction="getAccountListByAccountNumbers"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAccountListByIMSI">
         <wsdl:documentation>Retrieves an account list for a given IMSI value</wsdl:documentation>
         <soap:operation soapAction="getAccountListByIMSI"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateEmailAddress">
         <wsdl:documentation>Updates Email Address on the Account</wsdl:documentation>
         <soap:operation soapAction="updateEmailAddress"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getEmailAddress">
         <wsdl:documentation>Return Email Address on the Account</wsdl:documentation>
         <soap:operation soapAction="getEmailAddress"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateInvoicePropertyList">
         <wsdl:documentation>Updates Invoice Properties on Postpaid Account</wsdl:documentation>
         <soap:operation soapAction="updateInvoicePropertyList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getInvoicePropertyList">
         <wsdl:documentation>Return Invoice Properties for Postpaid account</wsdl:documentation>
         <soap:operation soapAction="getInvoicePropertyList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getBillingInformation">
         <wsdl:documentation>Retrieve account billing information</wsdl:documentation>
         <soap:operation soapAction="getBillingInformation"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateContactInformation">
         <wsdl:documentation>Updates personal contact information</wsdl:documentation>
         <soap:operation soapAction="updateContactInformation"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getContactInformation">
         <wsdl:documentation>Retrieve personal contact information</wsdl:documentation>
         <soap:operation soapAction="getContactInformation"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getBillCyclePropertyList">
         <wsdl:documentation>Retrieve bill cycle propertly list</wsdl:documentation>
         <soap:operation soapAction="getBillCyclePropertyList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getLastMemo">
         <wsdl:documentation>Return last memo on the Account for given memoType</wsdl:documentation>
         <soap:operation soapAction="getLastMemo"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="createMemo">
         <wsdl:documentation>Create account level memo</wsdl:documentation>
         <soap:operation soapAction="createMemo"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="checkInternationalServiceEligibility">
         <wsdl:documentation>Determines the international dialing and roaming eligibility and the deposit amount needed to fund it</wsdl:documentation>
         <soap:operation soapAction="checkInternationalServiceEligibility"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getPersonalCreditInformation">
         <wsdl:documentation>retrieve personal credit profile</wsdl:documentation>
         <soap:operation soapAction="getPersonalCreditInformation"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getBusinessCreditInformation">
         <wsdl:documentation>retrieve business credit profile</wsdl:documentation>
         <soap:operation soapAction="getBusinessCreditInformation"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updatePaymentMethod">
         <wsdl:documentation>Updates payment method.</wsdl:documentation>
         <soap:operation soapAction="updatePaymentMethod"/>
         <wsdl:input>
            <wsdl:documentation>User Header allows input of customer ID and list of consuming application IDs</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:updatePaymentMethod"
                         part="updatePaymentMethodInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="registerTopUpCreditCard">
         <wsdl:documentation>Registers Top Up Credit Card.</wsdl:documentation>
         <soap:operation soapAction="registerTopUpCreditCard"/>
         <wsdl:input>
            <wsdl:documentation>User Header allows input of customer ID and list of consuming application IDs</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:registerTopUpCreditCard"
                         part="registerTopUpCreditCardInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="removeTopUpCreditCard">
         <wsdl:documentation>Remove Top Up Credit Card.</wsdl:documentation>
         <soap:operation soapAction="removeTopUpCreditCard"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="createFollowUp">
         <wsdl:documentation>Create account level follow up, sync or async</wsdl:documentation>
         <soap:operation soapAction="createFollowUp"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberEligibilitySupportingInfo">
         <wsdl:documentation>This operation provides ability to retrieve supporting data required by add-on subscriber eligibility check. Expected consumer is Risk Management team. Will return the last memo for each given memo type, the sum of actual amounts in customer payment history for given period, the sum of actual Deposit Paid Amount in customer deposit history for given period.</wsdl:documentation>
         <soap:operation soapAction="getSubscriberEligibilitySupportingInfo"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getCustomerNotificationPreferenceList">
         <wsdl:documentation>This operation provides ability to retrieve preferred contact type(s) for a given subscriber.</wsdl:documentation>
         <soap:operation soapAction="getCustomerNotificationPreferenceList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateCustomerNotificationPreferenceList">
         <wsdl:documentation>This operation provides ability to update preferred contact type(s) for a given subscriber.</wsdl:documentation>
         <soap:operation soapAction="updateCustomerNotificationPreferenceList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getNextSeatGroupId">
         <wsdl:documentation>This operation retrieves the next generated seat group id. This is internally to CODS DB to retrieve uniquely generated oracle sequence </wsdl:documentation>
         <soap:operation soapAction="getNextSeatGroupId"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getMaxVoipLineList">
         <wsdl:documentation>This operation retrieves the max voip line capacity info fcorresponding to the account, and subscription id if any. </wsdl:documentation>
         <soap:operation soapAction="getMaxVoipLineList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="createMaxVoipLine">
         <wsdl:documentation>This operation creates the max voip line capacity info for the corresponding account and subscription id. </wsdl:documentation>
         <soap:operation soapAction="createMaxVoipLine"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateMaxVoipLineList">
         <wsdl:documentation>This operation updates the max voip line capacity info for the corresponding account and subscription id. </wsdl:documentation>
         <soap:operation soapAction="updateMaxVoipLineList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="AccountInformationService_v3_5">
      <wsdl:port name="AccountInformationServicePort"
                 binding="iface:AccountInformationService_v3_5_SOAP">
         <soap:address location="http://cmosr-custinfomgmt-dv103.tmi.telus.com/CMO/InformationMgmt/AccountInformation/AccountInformationService_v3_5"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>