cmb-common/cmb-ws-clients/order-service-ws-client-2-0/src/main/resources/wsdls/OrderService_v2_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/OrderMgmt/OrderService_2"
                  xmlns:sm="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/OrderService_v2"
                  name="OrderService_v2_0.wsdl"
                  targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/OrderService_2"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_6.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Service supports creation of product/offer for customer subscription</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/OrderService_2">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/OrderService_v2"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/OrderService_v2_0_RequestResponse.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="createSubscriptionProductOrder">
      <wsdl:part name="parameters" element="sm:createSubscriptionProductOrder"/>
   </wsdl:message>
   <wsdl:message name="createSubscriptionProductOrderResponse">
      <wsdl:part name="result" element="sm:createSubscriptionProductOrderResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="OrderServicePortType">
      <wsdl:operation name="createSubscriptionProductOrder">
         <wsdl:input message="iface:createSubscriptionProductOrder"/>
         <wsdl:output message="iface:createSubscriptionProductOrderResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="OrderServiceSOAP" type="iface:OrderServicePortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="createSubscriptionProductOrder">
         <wsdl:documentation>Create product order to be applied to customer subscription</wsdl:documentation>
         <soap:operation soapAction="createSubscriptionProductOrder"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="OrderService_v2_0">
      <wsdl:port name="OrderServicePort" binding="iface:OrderServiceSOAP">
         <soap:address location="http://prepaidmgmtesb-dv103.tsl.telus.com/CMO/OrderMgmt/OrderService_v2_0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>