cmb-common/cmb-ws-clients/penalty-calculation-ws-client-3-1/src/main/resources/wsdls/PenaltyCalculationService_v3_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:shttp="http://soa.com/wsdl/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/ContactMgmt/PenaltyCalculationService_3"
                  xmlns:pc="http://xmlschema.tmi.telus.com/srv/CMO/ContactMgmt/PenaltyCalculationServiceRequestResponse_v3"
                  targetNamespace="http://telus.com/wsdl/CMO/ContactMgmt/PenaltyCalculationService_3"><!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v4_0.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_2.xsd
				--><wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/ContactMgmt/PenaltyCalculationService_3">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/ContactMgmt/PenaltyCalculationServiceRequestResponse_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/ContactMgmt/PenaltyCalculationServiceRequestResponse_v3_1.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getTerminationPenalty">
      <wsdl:part name="parameters" element="pc:getTerminationPenalty"/>
   </wsdl:message>
   <wsdl:message name="getTerminationPenaltyResponse">
      <wsdl:part name="result" element="pc:getTerminationPenaltyResponse"/>
   </wsdl:message>
   <wsdl:message name="getEarlyRenewalPenalty">
      <wsdl:part name="parameters" element="pc:getEarlyRenewalPenalty"/>
   </wsdl:message>
   <wsdl:message name="getEarlyRenewalPenaltyResponse">
      <wsdl:part name="result" element="pc:getEarlyRenewalPenaltyResponse"/>
   </wsdl:message>
   <wsdl:message name="getChangeServiceCommitmentPenalty">
      <wsdl:part name="parameters" element="pc:getChangeServiceCommitmentPenalty"/>
   </wsdl:message>
   <wsdl:message name="getChangeServiceCommitmentPenaltyResponse">
      <wsdl:part name="result" element="pc:getChangeServiceCommitmentPenaltyResponse"/>
   </wsdl:message>
   <wsdl:message name="getMigrationPenalty">
      <wsdl:part name="parameters" element="pc:getMigrationPenalty"/>
   </wsdl:message>
   <wsdl:message name="getMigrationPenaltyResponse">
      <wsdl:part name="result" element="pc:getMigrationPenaltyResponse"/>
   </wsdl:message>
   <wsdl:message name="getBillingAccountTerminationPenalty">
      <wsdl:part name="parameters" element="pc:getBillingAccountTerminationPenalty"/>
   </wsdl:message>
   <wsdl:message name="getBillingAccountTerminationPenaltyResponse">
      <wsdl:part name="result" element="pc:getBillingAccountTerminationPenaltyResponse"/>
   </wsdl:message>
   <wsdl:message name="getResumePenaltyAdjustmentList">
      <wsdl:part name="parameters" element="pc:getResumePenaltyAdjustmentList"/>
   </wsdl:message>
   <wsdl:message name="getResumePenaltyAdjustmentListResponse">
      <wsdl:part name="result" element="pc:getResumePenaltyAdjustmentListResponse"/>
   </wsdl:message>
   <wsdl:message name="getReturnPenaltyAdjustmentList">
      <wsdl:part name="parameters" element="pc:getReturnPenaltyAdjustmentList"/>
   </wsdl:message>
   <wsdl:message name="getReturnPenaltyAdjustmentListResponse">
      <wsdl:part name="result" element="pc:getReturnPenaltyAdjustmentListResponse"/>
   </wsdl:message>
   <wsdl:message name="validateSubscriptionMscList">
      <wsdl:part name="parameters" element="pc:validateSubscriptionMscList"/>
   </wsdl:message>
   <wsdl:message name="validateSubscriptionMscListResponse">
      <wsdl:part name="result" element="pc:validateSubscriptionMscListResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:portType name="PenaltyCalculationService_v3_1_PortType">
      <wsdl:operation name="getTerminationPenalty">
         <wsdl:input message="iface:getTerminationPenalty"/>
         <wsdl:output message="iface:getTerminationPenaltyResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getEarlyRenewalPenalty">
         <wsdl:input message="iface:getEarlyRenewalPenalty"/>
         <wsdl:output message="iface:getEarlyRenewalPenaltyResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getChangeServiceCommitmentPenalty">
         <wsdl:input message="iface:getChangeServiceCommitmentPenalty"/>
         <wsdl:output message="iface:getChangeServiceCommitmentPenaltyResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getMigrationPenalty">
         <wsdl:input message="iface:getMigrationPenalty"/>
         <wsdl:output message="iface:getMigrationPenaltyResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getBillingAccountTerminationPenalty">
         <wsdl:input message="iface:getBillingAccountTerminationPenalty"/>
         <wsdl:output message="iface:getBillingAccountTerminationPenaltyResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getResumePenaltyAdjustmentList">
         <wsdl:input message="iface:getResumePenaltyAdjustmentList"/>
         <wsdl:output message="iface:getResumePenaltyAdjustmentListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getReturnPenaltyAdjustmentList">
         <wsdl:input message="iface:getReturnPenaltyAdjustmentList"/>
         <wsdl:output message="iface:getReturnPenaltyAdjustmentListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="validateSubscriptionMscList">
         <wsdl:input message="iface:validateSubscriptionMscList"/>
         <wsdl:output message="iface:validateSubscriptionMscListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="PenaltyCalculationService_v3_1_SOAP"
                 type="iface:PenaltyCalculationService_v3_1_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getTerminationPenalty">
         <wsdl:documentation>Retrieves the termination and liability charge for subscribers to apply at the time of cancellation.</wsdl:documentation>
         <soap:operation soapAction="getTerminationPenalty"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getEarlyRenewalPenalty">
         <wsdl:documentation>Retrieves the early upgrade fee for a subscriber to apply at the time of early renewal.</wsdl:documentation>
         <soap:operation soapAction="getEarlyRenewalPenalty"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getChangeServiceCommitmentPenalty">
         <wsdl:documentation>Retrieves the penalties associated with a change of Service, 
NOTE: If ServicePlan is not provided, this operation will always return the MSC penalty.</wsdl:documentation>
         <soap:operation soapAction="getChangeServiceCommitmentPenalty"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getMigrationPenalty">
         <wsdl:documentation>Retrieves the penalties associated with a migration between POSTPAID and PREPAID.</wsdl:documentation>
         <soap:operation soapAction="getMigrationPenalty"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getBillingAccountTerminationPenalty">
         <wsdl:documentation>Retrieve the termination and liability charge for all the subscribers on a BAN.</wsdl:documentation>
         <soap:operation soapAction="getBillingAccountTerminationPenalty"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getResumePenaltyAdjustmentList">
         <wsdl:documentation>Retrieve a list of charge and adjustment codes that were previously applied for adjustment purposes during subscriber resume.</wsdl:documentation>
         <soap:operation soapAction="getResumePenaltyAdjustmentList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getReturnPenaltyAdjustmentList">
         <wsdl:documentation>Retrieve a list of charge and adjustment codes that were previously applied for adjustment purposes during offer return.</wsdl:documentation>
         <soap:operation soapAction="getReturnPenaltyAdjustmentList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="validateSubscriptionMscList">
         <wsdl:documentation>Return success(0) if Minimum Service Commitment(MSC) is not broken for any of the subscribers belonging to the BAN. 
         Return false(1) if MSC is broken for any of subscriber. In case of false, return each and every subscriber with subscriber level success or false</wsdl:documentation>
         <soap:operation soapAction="validateSubscriptionMscList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="PenaltyCalculationService_v3_1">
      <wsdl:port name="PenaltyCalculationServicePort"
                 binding="iface:PenaltyCalculationService_v3_1_SOAP">
         <soap:address location="http://cmosr-custinfomgmt-dv103.tmi.telus.com/CMO/ContactMgmt/PenaltyCalculationService_v3_0/PenaltyCalculationService_v3_1"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>