cmb-common/cmb-ws-clients/prepaid-wrls-customer-order-ws-client-1-1/src/main/resources/wsdls/PrepaidWirelessCustomerOrderService_v1_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/OrderMgmt/PrepaidWirelessCustomerOrderService_1"
                  xmlns:pwco="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/PrepaidWirelessCustomerOrderServiceRequestResponse_v1"
                  name="PrepaidWirelessCustomerOrderService_v1_1.wsdl"
                  targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/PrepaidWirelessCustomerOrderService_1"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>
Support for capture and maintenance of prepaid wireless order details for use in service fulfillment post provisioning. Details include the following, credits, vouchers, subscription information, payment information, registered credit card information, equipment information, product order.
</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/PrepaidWirelessCustomerOrderService_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/PrepaidWirelessCustomerOrderServiceRequestResponse_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/PrepaidWirelessCustomerOrderServiceRequestResponse_v1_1.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="create">
      <wsdl:part name="parameters" element="pwco:create"/>
      <wsdl:part name="createInSoapHdr" element="pwco:UserSecurityHeader"/>
   </wsdl:message>
   <wsdl:message name="createResponse">
      <wsdl:part name="result" element="pwco:createResponse"/>
   </wsdl:message>
   <wsdl:message name="get">
      <wsdl:part name="parameters" element="pwco:get"/>
   </wsdl:message>
   <wsdl:message name="getResponse">
      <wsdl:part name="result" element="pwco:getResponse"/>
   </wsdl:message>
   <wsdl:message name="update">
      <wsdl:part name="parameters" element="pwco:update"/>
   </wsdl:message>
   <wsdl:message name="updateResponse">
      <wsdl:part name="result" element="pwco:updateResponse"/>
   </wsdl:message>
   <wsdl:message name="complete">
      <wsdl:part name="parameters" element="pwco:complete"/>
   </wsdl:message>
   <wsdl:message name="completeResponse">
      <wsdl:part name="result" element="pwco:completeResponse"/>
   </wsdl:message>
   <wsdl:message name="updateStatus">
      <wsdl:part name="parameters" element="pwco:updateStatus"/>
   </wsdl:message>
   <wsdl:message name="updateStatusResponse">
      <wsdl:part name="result" element="pwco:updateStatusResponse"/>
   </wsdl:message>
   <wsdl:message name="addProductOrder">
      <wsdl:part name="parameters" element="pwco:addProductOrder"/>
   </wsdl:message>
   <wsdl:message name="addProductOrderResponse">
      <wsdl:part name="result" element="pwco:addProductOrderResponse"/>
   </wsdl:message>
   <wsdl:message name="getProductOrder">
      <wsdl:part name="parameters" element="pwco:getProductOrder"/>
   </wsdl:message>
   <wsdl:message name="getProductOrderResponse">
      <wsdl:part name="result" element="pwco:getProductOrderResponse"/>
   </wsdl:message>
   <wsdl:message name="removeProductOrder">
      <wsdl:part name="parameters" element="pwco:removeProductOrder"/>
   </wsdl:message>
   <wsdl:message name="removeProductOrderResponse">
      <wsdl:part name="result" element="pwco:removeProductOrderResponse"/>
   </wsdl:message>
   <wsdl:message name="updateProductOrder">
      <wsdl:part name="parameters" element="pwco:updateProductOrder"/>
   </wsdl:message>
   <wsdl:message name="updateProductOrderResponse">
      <wsdl:part name="result" element="pwco:updateProductOrderResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberEquipment">
      <wsdl:part name="parameters" element="pwco:getSubscriberEquipment"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberEquipmentResponse">
      <wsdl:part name="result" element="pwco:getSubscriberEquipmentResponse"/>
   </wsdl:message>
   <wsdl:message name="addAssociatedSubscriberEquipment">
      <wsdl:part name="parameters" element="pwco:addAssociatedSubscriberEquipment"/>
   </wsdl:message>
   <wsdl:message name="addAssociatedSubscriberEquipmentResponse">
      <wsdl:part name="result" element="pwco:addAssociatedSubscriberEquipmentResponse"/>
   </wsdl:message>
   <wsdl:message name="removeAssociatedSubscriberEquipment">
      <wsdl:part name="parameters" element="pwco:removeAssociatedSubscriberEquipment"/>
   </wsdl:message>
   <wsdl:message name="removeAssociatedSubscriberEquipmentResponse">
      <wsdl:part name="result" element="pwco:removeAssociatedSubscriberEquipmentResponse"/>
   </wsdl:message>
   <wsdl:message name="addVoucherList">
      <wsdl:part name="parameters" element="pwco:addVoucherList"/>
   </wsdl:message>
   <wsdl:message name="addVoucherListResponse">
      <wsdl:part name="result" element="pwco:addVoucherListResponse"/>
   </wsdl:message>
   <wsdl:message name="getVoucherList">
      <wsdl:part name="parameters" element="pwco:getVoucherList"/>
   </wsdl:message>
   <wsdl:message name="getVoucherListResponse">
      <wsdl:part name="result" element="pwco:getVoucherListResponse"/>
   </wsdl:message>
   <wsdl:message name="removeVoucherList">
      <wsdl:part name="parameters" element="pwco:removeVoucherList"/>
   </wsdl:message>
   <wsdl:message name="removeVoucherListResponse">
      <wsdl:part name="result" element="pwco:removeVoucherListResponse"/>
   </wsdl:message>
   <wsdl:message name="addCreditList">
      <wsdl:part name="parameters" element="pwco:addCreditList"/>
   </wsdl:message>
   <wsdl:message name="addCreditListResponse">
      <wsdl:part name="result" element="pwco:addCreditListResponse"/>
   </wsdl:message>
   <wsdl:message name="removeCredit">
      <wsdl:part name="parameters" element="pwco:removeCredit"/>
   </wsdl:message>
   <wsdl:message name="removeCreditResponse">
      <wsdl:part name="result" element="pwco:removeCreditResponse"/>
   </wsdl:message>
   <wsdl:message name="getCreditList">
      <wsdl:part name="parameters" element="pwco:getCreditList"/>
   </wsdl:message>
   <wsdl:message name="getCreditListResponse">
      <wsdl:part name="result" element="pwco:getCreditListResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriptionProfile">
      <wsdl:part name="parameters" element="pwco:getSubscriptionProfile"/>
   </wsdl:message>
   <wsdl:message name="getSubscriptionProfileResponse">
      <wsdl:part name="result" element="pwco:getSubscriptionProfileResponse"/>
   </wsdl:message>
   <wsdl:message name="addSubscriptionProfile">
      <wsdl:part name="parameters" element="pwco:addSubscriptionProfile"/>
   </wsdl:message>
   <wsdl:message name="addSubscriptionProfileResponse">
      <wsdl:part name="result" element="pwco:addSubscriptionProfileResponse"/>
   </wsdl:message>
   <wsdl:message name="updateSubscriptionProfile">
      <wsdl:part name="parameters" element="pwco:updateSubscriptionProfile"/>
   </wsdl:message>
   <wsdl:message name="updateSubscriptionProfileResponse">
      <wsdl:part name="result" element="pwco:updateSubscriptionProfileResponse"/>
   </wsdl:message>
   <wsdl:message name="getAutomaticRechargeProfileList">
      <wsdl:part name="parameters" element="pwco:getAutomaticRechargeProfileList"/>
   </wsdl:message>
   <wsdl:message name="getAutomaticRechargeProfileListResponse">
      <wsdl:part name="result" element="pwco:getAutomaticRechargeProfileListResponse"/>
   </wsdl:message>
   <wsdl:message name="addAutomaticRechargeProfileList">
      <wsdl:part name="parameters" element="pwco:addAutomaticRechargeProfileList"/>
   </wsdl:message>
   <wsdl:message name="addAutomaticRechargeProfileListResponse">
      <wsdl:part name="result" element="pwco:addAutomaticRechargeProfileListResponse"/>
   </wsdl:message>
   <wsdl:message name="removeAutomaticRechargeProfileList">
      <wsdl:part name="parameters" element="pwco:removeAutomaticRechargeProfileList"/>
   </wsdl:message>
   <wsdl:message name="removeAutomaticRechargeProfileListResponse">
      <wsdl:part name="result" element="pwco:removeAutomaticRechargeProfileListResponse"/>
   </wsdl:message>
   <wsdl:message name="addRegisteredPaymentInstrument">
      <wsdl:part name="parameters" element="pwco:addRegisteredPaymentInstrument"/>
   </wsdl:message>
   <wsdl:message name="addRegisteredPaymentInstrumentResponse">
      <wsdl:part name="result" element="pwco:addRegisteredPaymentInstrumentResponse"/>
   </wsdl:message>
   <wsdl:message name="getRegisteredPaymentInstrument">
      <wsdl:part name="parameters" element="pwco:getRegisteredPaymentInstrument"/>
   </wsdl:message>
   <wsdl:message name="getRegisteredPaymentInstrumentResponse">
      <wsdl:part name="result" element="pwco:getRegisteredPaymentInstrumentResponse"/>
   </wsdl:message>
   <wsdl:message name="removeRegisteredPaymentInstrument">
      <wsdl:part name="parameters" element="pwco:removeRegisteredPaymentInstrument"/>
   </wsdl:message>
   <wsdl:message name="removeRegisteredPaymentInstrumentResponse">
      <wsdl:part name="result" element="pwco:removeRegisteredPaymentInstrumentResponse"/>
   </wsdl:message>
   <wsdl:message name="addRechargePayment">
      <wsdl:part name="parameters" element="pwco:addRechargePayment"/>
   </wsdl:message>
   <wsdl:message name="addRechargePaymentResponse">
      <wsdl:part name="result" element="pwco:addRechargePaymentResponse"/>
   </wsdl:message>
   <wsdl:message name="removeRechargePayment">
      <wsdl:part name="parameters" element="pwco:removeRechargePayment"/>
   </wsdl:message>
   <wsdl:message name="removeRechargePaymentResponse">
      <wsdl:part name="result" element="pwco:removeRechargePaymentResponse"/>
   </wsdl:message>
   <wsdl:message name="getRechargePaymentList">
      <wsdl:part name="parameters" element="pwco:getRechargePaymentList"/>
   </wsdl:message>
   <wsdl:message name="getRechargePaymentListResponse">
      <wsdl:part name="result" element="pwco:getRechargePaymentListResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="PrepaidWirelessCustomerOrderService_v1_1_PortType">
      <wsdl:operation name="create">
         <wsdl:input message="iface:create"/>
         <wsdl:output message="iface:createResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="get">
         <wsdl:input message="iface:get"/>
         <wsdl:output message="iface:getResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="update">
         <wsdl:input message="iface:update"/>
         <wsdl:output message="iface:updateResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="complete">
         <wsdl:input message="iface:complete"/>
         <wsdl:output message="iface:completeResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="updateStatus">
         <wsdl:input message="iface:updateStatus"/>
         <wsdl:output message="iface:updateStatusResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="addProductOrder">
         <wsdl:input message="iface:addProductOrder"/>
         <wsdl:output message="iface:addProductOrderResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getProductOrder">
         <wsdl:input message="iface:getProductOrder"/>
         <wsdl:output message="iface:getProductOrderResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="removeProductOrder">
         <wsdl:input message="iface:removeProductOrder"/>
         <wsdl:output message="iface:removeProductOrderResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="updateProductOrder">
         <wsdl:input message="iface:updateProductOrder"/>
         <wsdl:output message="iface:updateProductOrderResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberEquipment">
         <wsdl:input message="iface:getSubscriberEquipment"/>
         <wsdl:output message="iface:getSubscriberEquipmentResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="addAssociatedSubscriberEquipment">
         <wsdl:input message="iface:addAssociatedSubscriberEquipment"/>
         <wsdl:output message="iface:addAssociatedSubscriberEquipmentResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="removeAssociatedSubscriberEquipment">
         <wsdl:input message="iface:removeAssociatedSubscriberEquipment"/>
         <wsdl:output message="iface:removeAssociatedSubscriberEquipmentResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="addVoucherList">
         <wsdl:input message="iface:addVoucherList"/>
         <wsdl:output message="iface:addVoucherListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getVoucherList">
         <wsdl:input message="iface:getVoucherList"/>
         <wsdl:output message="iface:getVoucherListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="removeVoucherList">
         <wsdl:input message="iface:removeVoucherList"/>
         <wsdl:output message="iface:removeVoucherListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="addCreditList">
         <wsdl:input message="iface:addCreditList"/>
         <wsdl:output message="iface:addCreditListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="removeCredit">
         <wsdl:input message="iface:removeCredit"/>
         <wsdl:output message="iface:removeCreditResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getCreditList">
         <wsdl:input message="iface:getCreditList"/>
         <wsdl:output message="iface:getCreditListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriptionProfile">
         <wsdl:input message="iface:getSubscriptionProfile"/>
         <wsdl:output message="iface:getSubscriptionProfileResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="addSubscriptionProfile">
         <wsdl:input message="iface:addSubscriptionProfile"/>
         <wsdl:output message="iface:addSubscriptionProfileResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="updateSubscriptionProfile">
         <wsdl:input message="iface:updateSubscriptionProfile"/>
         <wsdl:output message="iface:updateSubscriptionProfileResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getAutomaticRechargeProfileList">
         <wsdl:input message="iface:getAutomaticRechargeProfileList"/>
         <wsdl:output message="iface:getAutomaticRechargeProfileListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="addAutomaticRechargeProfileList">
         <wsdl:input message="iface:addAutomaticRechargeProfileList"/>
         <wsdl:output message="iface:addAutomaticRechargeProfileListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="removeAutomaticRechargeProfileList">
         <wsdl:input message="iface:removeAutomaticRechargeProfileList"/>
         <wsdl:output message="iface:removeAutomaticRechargeProfileListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="addRegisteredPaymentInstrument">
         <wsdl:input message="iface:addRegisteredPaymentInstrument"/>
         <wsdl:output message="iface:addRegisteredPaymentInstrumentResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getRegisteredPaymentInstrument">
         <wsdl:input message="iface:getRegisteredPaymentInstrument"/>
         <wsdl:output message="iface:getRegisteredPaymentInstrumentResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="removeRegisteredPaymentInstrument">
         <wsdl:input message="iface:removeRegisteredPaymentInstrument"/>
         <wsdl:output message="iface:removeRegisteredPaymentInstrumentResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="addRechargePayment">
         <wsdl:input message="iface:addRechargePayment"/>
         <wsdl:output message="iface:addRechargePaymentResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="removeRechargePayment">
         <wsdl:input message="iface:removeRechargePayment"/>
         <wsdl:output message="iface:removeRechargePaymentResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getRechargePaymentList">
         <wsdl:input message="iface:getRechargePaymentList"/>
         <wsdl:output message="iface:getRechargePaymentListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="PrepaidWirelessCustomerOrderService_v1_1_SOAP"
                 type="iface:PrepaidWirelessCustomerOrderService_v1_1_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="create">
         <wsdl:documentation>
			Used to create a prepaid wireless customer order.
</wsdl:documentation>
         <soap:operation soapAction="create"/>
         <wsdl:input>
            <wsdl:documentation>User Header allows input of customer ID and list of consuming application IDs</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:create" part="createInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="get">
         <wsdl:documentation>
	Used to retrieve the prepaid wireless customer order associated with the customer and subscription identifier and associated device (SIM, non-SIM). Based on the input multiple orders may be found. In the event of multiple orders the latest version will be returned. A refined search would need to be performed to find a specific order.
</wsdl:documentation>
         <soap:operation soapAction="get"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="update">
         <wsdl:documentation>
				Used to update a prepaid wireless customer order.
</wsdl:documentation>
         <soap:operation soapAction="update"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="complete">
         <wsdl:documentation>
				Used to complete a prepaid wireless customer order.
</wsdl:documentation>
         <soap:operation soapAction="complete"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateStatus">
         <wsdl:documentation>
				Used to update the status of a prepaid wireless customer order.
</wsdl:documentation>
         <soap:operation soapAction="updateStatus"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="addProductOrder">
         <wsdl:documentation>
				Used to add a product order to the prepaid wireless customer order. Modelled after the existing prepaid wireless product order.
</wsdl:documentation>
         <soap:operation soapAction="addProductOrder"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getProductOrder">
         <wsdl:documentation>
				Used to retrieve the associated product order.
</wsdl:documentation>
         <soap:operation soapAction="getProductOrder"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="removeProductOrder">
         <wsdl:documentation>
				Used to remove the associated product order.
</wsdl:documentation>
         <soap:operation soapAction="removeProductOrder"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateProductOrder">
         <wsdl:documentation>
				Used to update the associated product order.
</wsdl:documentation>
         <soap:operation soapAction="updateProductOrder"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberEquipment">
         <wsdl:documentation>
				Used to retrieve all associated equipment from the prepaid wireless customer order.
</wsdl:documentation>
         <soap:operation soapAction="getSubscriberEquipment"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="addAssociatedSubscriberEquipment">
         <wsdl:documentation>
				Used to add an associated SIM device to the order.
</wsdl:documentation>
         <soap:operation soapAction="addAssociatedSubscriberEquipment"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="removeAssociatedSubscriberEquipment">
         <wsdl:documentation>
	Used to remove Associated SIM Equipment only. It is not possible to remove the primary equipment tied to the order.
</wsdl:documentation>
         <soap:operation soapAction="removeAssociatedSubscriberEquipment"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="addVoucherList">
         <wsdl:documentation>
				Used to add an airtime or activation voucher to the prepaid wireless customer order.
</wsdl:documentation>
         <soap:operation soapAction="addVoucherList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getVoucherList">
         <wsdl:documentation>
				Used to retrieve the associated voucher (air, activation) fro the prepaid wireless customer order.
</wsdl:documentation>
         <soap:operation soapAction="getVoucherList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="removeVoucherList">
         <wsdl:documentation>
				Used to remove specific vouchers from the prepaid wireless customer order. Vouchers linked to an order can't be removed.
</wsdl:documentation>
         <soap:operation soapAction="removeVoucherList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="addCreditList">
         <wsdl:documentation>
				Used to add a credit to prepaid wireless customer order. If the type of the order is already populated a linked credit will not be allowed to be added.
</wsdl:documentation>
         <soap:operation soapAction="addCreditList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="removeCredit">
         <wsdl:documentation>
			  Credits linked to the order will not be allowed to be removed.
</wsdl:documentation>
         <soap:operation soapAction="removeCredit"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getCreditList">
         <wsdl:documentation>
				Used to retrieve all associated order credits.
</wsdl:documentation>
         <soap:operation soapAction="getCreditList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriptionProfile">
         <wsdl:documentation>
				Used to retrieve the associated subscription profile for the order.			  
</wsdl:documentation>
         <soap:operation soapAction="getSubscriptionProfile"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="addSubscriptionProfile">
         <wsdl:documentation>
			  Add a subscription profile.
</wsdl:documentation>
         <soap:operation soapAction="addSubscriptionProfile"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateSubscriptionProfile">
         <wsdl:documentation>
			  Update to non-subscription ID fields only.
</wsdl:documentation>
         <soap:operation soapAction="updateSubscriptionProfile"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAutomaticRechargeProfileList">
         <wsdl:documentation>
				Used to retrieve automatic recharge profiles for the associated order.
</wsdl:documentation>
         <soap:operation soapAction="getAutomaticRechargeProfileList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="addAutomaticRechargeProfileList">
         <wsdl:documentation>
				Used to add interval and threshold automatic recharge profiles to the prepaid wireless customer order.
</wsdl:documentation>
         <soap:operation soapAction="addAutomaticRechargeProfileList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="removeAutomaticRechargeProfileList">
         <wsdl:documentation>
				Used to remove all associated recharge profiles for the order.
</wsdl:documentation>
         <soap:operation soapAction="removeAutomaticRechargeProfileList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="addRegisteredPaymentInstrument">
         <wsdl:documentation>
				Used to add a registered payment instrument to the order. Absent the details for the payment instrument other than the type then the sytem will retrieve the associated registered card from the billing system profile on order completion.
</wsdl:documentation>
         <soap:operation soapAction="addRegisteredPaymentInstrument"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getRegisteredPaymentInstrument">
         <wsdl:documentation>
				Used to retrieve the registered payment instrument from the order.
</wsdl:documentation>
         <soap:operation soapAction="getRegisteredPaymentInstrument"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="removeRegisteredPaymentInstrument">
         <wsdl:documentation>
				Used to remove the associated registered payment instrument.
</wsdl:documentation>
         <soap:operation soapAction="removeRegisteredPaymentInstrument"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="addRechargePayment">
         <wsdl:documentation>
				Used to add a recharge payment (credit card (CC) or debit card (BC)) to the order.The payment can contain the associated credit card information. Absent the credit card information it will be assumed that the registered credit card will be used during order fulfillment.
</wsdl:documentation>
         <soap:operation soapAction="addRechargePayment"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="removeRechargePayment">
         <wsdl:documentation>
				Used to remove a specific recharge payment.
</wsdl:documentation>
         <soap:operation soapAction="removeRechargePayment"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getRechargePaymentList">
         <wsdl:documentation>
				Used to retrieve all associated recharge payments.
</wsdl:documentation>
         <soap:operation soapAction="getRechargePaymentList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="PrepaidWirelessCustomerOrderService_v1_1">
      <wsdl:port name="PrepaidWirelessCustomerOrderServicePort"
                 binding="iface:PrepaidWirelessCustomerOrderService_v1_1_SOAP">
         <soap:address location="http://em-securitymgmt-dv03.tsl.telus.com/CMO/OrderMgmt/PrepaidWirelessCustomerOrder/PrepaidWirelessCustomerOrderService_v1_1"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>