cmb-common/cmb-ws-clients/wsois-ws-client-2-10/src/main/resources/wsdls/WirelessSubscriberOfferInformationService_v2_10.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:shttp="http://soa.com/wsdl/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/OrderMgmt/WirelessSubscriberOfferInformationService_2"
                  xmlns:wsois="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WirelessSubscriberOfferInformationServiceRequestResponse_v2"
                  targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/WirelessSubscriberOfferInformationService_2"><!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v3_2.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_1.xsd
			--><wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/WirelessSubscriberOfferInformationService_2">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WirelessSubscriberOfferInformationServiceRequestResponse_v2"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WirelessSubscriberOfferInformationServiceRequestResponse_v2_10.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getCatalogueOfferListByProgramID">
      <wsdl:part name="parameters" element="wsois:getCatalogueOfferListByProgramID"/>
   </wsdl:message>
   <wsdl:message name="getCatalogueOfferListByProgramIDResponse">
      <wsdl:part name="result" element="wsois:getCatalogueOfferListByProgramIDResponse"/>
   </wsdl:message>
   <wsdl:message name="getCatalogueOfferListByProgramCode">
      <wsdl:part name="parameters" element="wsois:getCatalogueOfferListByProgramCode"/>
   </wsdl:message>
   <wsdl:message name="getCatalogueOfferListByProgramCodeResponse">
      <wsdl:part name="result" element="wsois:getCatalogueOfferListByProgramCodeResponse"/>
   </wsdl:message>
   <wsdl:message name="getCatalogueOffer">
      <wsdl:part name="parameters" element="wsois:getCatalogueOffer"/>
   </wsdl:message>
   <wsdl:message name="getCatalogueOfferResponse">
      <wsdl:part name="result" element="wsois:getCatalogueOfferResponse"/>
   </wsdl:message>
   <wsdl:message name="getAssignedOffer">
      <wsdl:part name="parameters" element="wsois:getAssignedOffer"/>
   </wsdl:message>
   <wsdl:message name="getAssignedOfferResponse">
      <wsdl:part name="result" element="wsois:getAssignedOfferResponse"/>
   </wsdl:message>
   <wsdl:message name="getAssignedOfferListByCustomerOfferID">
      <wsdl:part name="parameters" element="wsois:getAssignedOfferListByCustomerOfferID"/>
   </wsdl:message>
   <wsdl:message name="getAssignedOfferListByCustomerOfferIDResponse">
      <wsdl:part name="result" element="wsois:getAssignedOfferListByCustomerOfferIDResponse"/>
   </wsdl:message>
   <wsdl:message name="getAvailableOfferSummaryListForSubscriber">
      <wsdl:part name="parameters" element="wsois:getAvailableOfferSummaryListForSubscriber"/>
   </wsdl:message>
   <wsdl:message name="getAvailableOfferSummaryListForSubscriberResponse">
      <wsdl:part name="result" element="wsois:getAvailableOfferSummaryListForSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="getAvailableOfferListForSubscriber">
      <wsdl:part name="parameters" element="wsois:getAvailableOfferListForSubscriber"/>
   </wsdl:message>
   <wsdl:message name="getAvailableOfferListForSubscriberResponse">
      <wsdl:part name="result" element="wsois:getAvailableOfferListForSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="getProgramByPromotionCodeForSubscriber">
      <wsdl:part name="parameters" element="wsois:getProgramByPromotionCodeForSubscriber"/>
   </wsdl:message>
   <wsdl:message name="getProgramByPromotionCodeForSubscriberResponse">
      <wsdl:part name="result" element="wsois:getProgramByPromotionCodeForSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="validatePromotionCodeProgram">
      <wsdl:part name="parameters" element="wsois:validatePromotionCodeProgram"/>
   </wsdl:message>
   <wsdl:message name="validatePromotionCodeProgramResponse">
      <wsdl:part name="result" element="wsois:validatePromotionCodeProgramResponse"/>
   </wsdl:message>
   <wsdl:message name="getOfferRedemptionHistoryListForSubscriber">
      <wsdl:part name="parameters" element="wsois:getOfferRedemptionHistoryListForSubscriber"/>
   </wsdl:message>
   <wsdl:message name="getOfferRedemptionHistoryListForSubscriberResponse">
      <wsdl:part name="result"
                 element="wsois:getOfferRedemptionHistoryListForSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="getIncompleteRedemptionListForSubscriber">
      <wsdl:part name="parameters" element="wsois:getIncompleteRedemptionListForSubscriber"/>
   </wsdl:message>
   <wsdl:message name="getIncompleteRedemptionListForSubscriberResponse">
      <wsdl:part name="result" element="wsois:getIncompleteRedemptionListForSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="getLastRedemptionForSubscriber">
      <wsdl:part name="parameters" element="wsois:getLastRedemptionForSubscriber"/>
   </wsdl:message>
   <wsdl:message name="getLastRedemptionForSubscriberResponse">
      <wsdl:part name="result" element="wsois:getLastRedemptionForSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubmittedOfferDetail">
      <wsdl:part name="parameters" element="wsois:getSubmittedOfferDetail"/>
   </wsdl:message>
   <wsdl:message name="getSubmittedOfferDetailResponse">
      <wsdl:part name="result" element="wsois:getSubmittedOfferDetailResponse"/>
   </wsdl:message>
   <wsdl:message name="getAvailableOfferListForExchanges">
      <wsdl:part name="parameters" element="wsois:getAvailableOfferListForExchanges"/>
   </wsdl:message>
   <wsdl:message name="getAvailableOfferListForExchangesResponse">
      <wsdl:part name="result" element="wsois:getAvailableOfferListForExchangesResponse"/>
   </wsdl:message>
   <wsdl:message name="getCatalogueProgramListForAssignment">
      <wsdl:part name="parameters" element="wsois:getCatalogueProgramListForAssignment"/>
   </wsdl:message>
   <wsdl:message name="getCatalogueProgramListForAssignmentResponse">
      <wsdl:part name="result" element="wsois:getCatalogueProgramListForAssignmentResponse"/>
   </wsdl:message>
   <wsdl:message name="getAvailableOfferListBySkuList">
      <wsdl:part name="parameters" element="wsois:getAvailableOfferListBySkuList"/>
   </wsdl:message>
   <wsdl:message name="getAvailableOfferListBySkuListResponse">
      <wsdl:part name="result" element="wsois:getAvailableOfferListBySkuListResponse"/>
   </wsdl:message>
   <wsdl:message name="getOfferPricePlanSet">
      <wsdl:part name="parameters" element="wsois:getOfferPricePlanSet"/>
   </wsdl:message>
   <wsdl:message name="getOfferPricePlanSetResponse">
      <wsdl:part name="result" element="wsois:getOfferPricePlanSetResponse"/>
   </wsdl:message>
   <wsdl:message name="getOfferPricePlanAndServiceSetsByCustomerHierarchyList">
      <wsdl:part name="parameters"
                 element="wsois:getOfferPricePlanAndServiceSetsByCustomerHierarchyList"/>
   </wsdl:message>
   <wsdl:message name="getOfferPricePlanAndServiceSetsByCustomerHierarchyListResponse">
      <wsdl:part name="result"
                 element="wsois:getOfferPricePlanAndServiceSetsByCustomerHierarchyListResponse"/>
   </wsdl:message>
   <wsdl:message name="getOfferPricePlanAndServiceSets">
      <wsdl:part name="parameters" element="wsois:getOfferPricePlanAndServiceSets"/>
   </wsdl:message>
   <wsdl:message name="getOfferPricePlanAndServiceSetsResponse">
      <wsdl:part name="result" element="wsois:getOfferPricePlanAndServiceSetsResponse"/>
   </wsdl:message>
   <wsdl:message name="getCorporateHardwareAllotment">
      <wsdl:part name="parameters" element="wsois:getCorporateHardwareAllotment"/>
   </wsdl:message>
   <wsdl:message name="getCorporateHardwareAllotmentResponse">
      <wsdl:part name="result" element="wsois:getCorporateHardwareAllotmentResponse"/>
   </wsdl:message>
   <wsdl:message name="validateOfferForSubscriber">
      <wsdl:part name="parameters" element="wsois:validateOfferForSubscriber"/>
   </wsdl:message>
   <wsdl:message name="validateOfferForSubscriberResponse">
      <wsdl:part name="result" element="wsois:validateOfferForSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="getDefaultOfferList">
      <wsdl:part name="parameters" element="wsois:getDefaultOfferList"/>
   </wsdl:message>
   <wsdl:message name="getDefaultOfferListResponse">
      <wsdl:part name="result" element="wsois:getDefaultOfferListResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:portType name="WirelessSubscriberOfferInformationService_v2_10_PortType">
      <wsdl:operation name="getCatalogueOfferListByProgramID">
         <wsdl:input message="iface:getCatalogueOfferListByProgramID"/>
         <wsdl:output message="iface:getCatalogueOfferListByProgramIDResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getCatalogueOfferListByProgramCode">
         <wsdl:input message="iface:getCatalogueOfferListByProgramCode"/>
         <wsdl:output message="iface:getCatalogueOfferListByProgramCodeResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getCatalogueOffer">
         <wsdl:input message="iface:getCatalogueOffer"/>
         <wsdl:output message="iface:getCatalogueOfferResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAssignedOffer">
         <wsdl:input message="iface:getAssignedOffer"/>
         <wsdl:output message="iface:getAssignedOfferResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAssignedOfferListByCustomerOfferID">
         <wsdl:input message="iface:getAssignedOfferListByCustomerOfferID"/>
         <wsdl:output message="iface:getAssignedOfferListByCustomerOfferIDResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAvailableOfferSummaryListForSubscriber">
         <wsdl:input message="iface:getAvailableOfferSummaryListForSubscriber"/>
         <wsdl:output message="iface:getAvailableOfferSummaryListForSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAvailableOfferListForSubscriber">
         <wsdl:input message="iface:getAvailableOfferListForSubscriber"/>
         <wsdl:output message="iface:getAvailableOfferListForSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getProgramByPromotionCodeForSubscriber">
         <wsdl:input message="iface:getProgramByPromotionCodeForSubscriber"/>
         <wsdl:output message="iface:getProgramByPromotionCodeForSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="validatePromotionCodeProgram">
         <wsdl:input message="iface:validatePromotionCodeProgram"/>
         <wsdl:output message="iface:validatePromotionCodeProgramResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getOfferRedemptionHistoryListForSubscriber">
         <wsdl:input message="iface:getOfferRedemptionHistoryListForSubscriber"/>
         <wsdl:output message="iface:getOfferRedemptionHistoryListForSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getIncompleteRedemptionListForSubscriber">
         <wsdl:input message="iface:getIncompleteRedemptionListForSubscriber"/>
         <wsdl:output message="iface:getIncompleteRedemptionListForSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getLastRedemptionForSubscriber">
         <wsdl:input message="iface:getLastRedemptionForSubscriber"/>
         <wsdl:output message="iface:getLastRedemptionForSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubmittedOfferDetail">
         <wsdl:input message="iface:getSubmittedOfferDetail"/>
         <wsdl:output message="iface:getSubmittedOfferDetailResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAvailableOfferListForExchanges">
         <wsdl:input message="iface:getAvailableOfferListForExchanges"/>
         <wsdl:output message="iface:getAvailableOfferListForExchangesResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getCatalogueProgramListForAssignment">
         <wsdl:input message="iface:getCatalogueProgramListForAssignment"/>
         <wsdl:output message="iface:getCatalogueProgramListForAssignmentResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAvailableOfferListBySkuList">
         <wsdl:input message="iface:getAvailableOfferListBySkuList"/>
         <wsdl:output message="iface:getAvailableOfferListBySkuListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getOfferPricePlanSet">
         <wsdl:input message="iface:getOfferPricePlanSet"/>
         <wsdl:output message="iface:getOfferPricePlanSetResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getOfferPricePlanAndServiceSetsByCustomerHierarchyList">
         <wsdl:input message="iface:getOfferPricePlanAndServiceSetsByCustomerHierarchyList"/>
         <wsdl:output message="iface:getOfferPricePlanAndServiceSetsByCustomerHierarchyListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getOfferPricePlanAndServiceSets">
         <wsdl:input message="iface:getOfferPricePlanAndServiceSets"/>
         <wsdl:output message="iface:getOfferPricePlanAndServiceSetsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getCorporateHardwareAllotment">
         <wsdl:input message="iface:getCorporateHardwareAllotment"/>
         <wsdl:output message="iface:getCorporateHardwareAllotmentResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="validateOfferForSubscriber">
         <wsdl:input message="iface:validateOfferForSubscriber"/>
         <wsdl:output message="iface:validateOfferForSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getDefaultOfferList">
         <wsdl:input message="iface:getDefaultOfferList"/>
         <wsdl:output message="iface:getDefaultOfferListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="WirelessSubscriberOfferInformationService_v2_10_SOAP"
                 type="iface:WirelessSubscriberOfferInformationService_v2_10_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getCatalogueOfferListByProgramID">
         <wsdl:documentation>Retrieves all Catalogue Offers for specified offer program ID. One program can have multiple offers</wsdl:documentation>
         <soap:operation soapAction="getCatalogueOfferListByProgramID"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getCatalogueOfferListByProgramCode">
         <wsdl:documentation>Retrieves all Catalogue Offers for specified offer program code. One program can have multiple offers</wsdl:documentation>
         <soap:operation soapAction="getCatalogueOfferListByProgramCode"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getCatalogueOffer">
         <wsdl:documentation>
			Retrieves a Catalogue offer by search criteria consisting of offerId, systemId, 
			account, subscriber, and optionally perspectiveDate and rewardBalance information.
		</wsdl:documentation>
         <soap:operation soapAction="getCatalogueOffer"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAssignedOffer">
         <wsdl:documentation>Retrieves Offer from program that was specifically assigned to customer. The Assigned Program includes Catalogue Offers – but it also includes some specific assignment items (like customization). 					
		</wsdl:documentation>
         <soap:operation soapAction="getAssignedOffer"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAssignedOfferListByCustomerOfferID">
         <wsdl:documentation>Retrieves Offers that were specifically assigned to customer. 
		</wsdl:documentation>
         <soap:operation soapAction="getAssignedOfferListByCustomerOfferID"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAvailableOfferSummaryListForSubscriber">
         <wsdl:documentation>Retrieves all available offers for given subscriber which includes Catalogue Offer not specifically assigned or Catalogue Offers that are specifically assigned 
						and optionally customized. 
		</wsdl:documentation>
         <soap:operation soapAction="getAvailableOfferSummaryListForSubscriber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAvailableOfferListForSubscriber">
         <wsdl:documentation>Retrieves all available offers, including all offer details, for given subscriber which includes Catalogue Offers not specifically assigned or Catalogue Offers that are specifically assigned 
						and optionally customized. 
		</wsdl:documentation>
         <soap:operation soapAction="getAvailableOfferListForSubscriber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getProgramByPromotionCodeForSubscriber">
         <wsdl:documentation>Retrieves Promo Code Programs for given subscriber, channel and promotion code. Includes validations in case that promo code program is not applicable for that subscriber 
						(like Mike Offers for PCS customer).
						Promo Code Programs are never assigned or retrieved as available offers – they can only be redeemed if the promotion code (and optionally validation code) are known.
						The response from this method will indicate what type of validation code (if any) is required to redeem this offer.
		</wsdl:documentation>
         <soap:operation soapAction="getProgramByPromotionCodeForSubscriber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="validatePromotionCodeProgram">
         <wsdl:documentation>Some promo code programs will require validation code to be specified. This operation is used to check the validation code and indicate if it is valid and can be used for redeeming 
						this promo code program.
		</wsdl:documentation>
         <soap:operation soapAction="validatePromotionCodeProgram"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getOfferRedemptionHistoryListForSubscriber">
         <wsdl:documentation>Used to retrieve history of retention offer redemptions for given subscriber.
		</wsdl:documentation>
         <soap:operation soapAction="getOfferRedemptionHistoryListForSubscriber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getIncompleteRedemptionListForSubscriber">
         <wsdl:documentation>In some cases offer can be partially redeemed (like reserved or ship and swap or future dated). This operation should be used to determine if given subscriber has 
						any uncompleted/partially redeemed offers. 
		</wsdl:documentation>
         <soap:operation soapAction="getIncompleteRedemptionListForSubscriber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getLastRedemptionForSubscriber">
         <wsdl:documentation>Retrieves last completed redemption for subscriber.
		</wsdl:documentation>
         <soap:operation soapAction="getLastRedemptionForSubscriber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubmittedOfferDetail">
         <wsdl:documentation>This method will return detail of submitted offer from NCR database
		</wsdl:documentation>
         <soap:operation soapAction="getSubmittedOfferDetail"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAvailableOfferListForExchanges">
         <wsdl:documentation>Retrieves all available offers for client during exchange period.
		</wsdl:documentation>
         <soap:operation soapAction="getAvailableOfferListForExchanges"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getCatalogueProgramListForAssignment">
         <wsdl:documentation>Retrieves list of catalogue offer programs available for agent to assign to customer.
		</wsdl:documentation>
         <soap:operation soapAction="getCatalogueProgramListForAssignment"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAvailableOfferListBySkuList">
         <wsdl:documentation>Retrieves list of subscriber offers for given SKU (one or more SKUs)
		</wsdl:documentation>
         <soap:operation soapAction="getAvailableOfferListBySkuList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getOfferPricePlanSet">
         <wsdl:documentation>
			Retrieves price plan information for a given offer
		</wsdl:documentation>
         <soap:operation soapAction="getOfferPricePlanSet"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getOfferPricePlanAndServiceSetsByCustomerHierarchyList">
         <wsdl:documentation>
			Retrieves price plan and services details for each offer that matches the
			provided Customer Hierarchy search criteria.
		</wsdl:documentation>
         <soap:operation soapAction="getOfferPricePlanAndServiceSetsByCustomerHierarchyList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getOfferPricePlanAndServiceSets">
         <wsdl:documentation>
			Retrieves price plan and services details for the provided offer search criteria.
		</wsdl:documentation>
         <soap:operation soapAction="getOfferPricePlanAndServiceSets"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getCorporateHardwareAllotment">
         <wsdl:documentation>Retrieves corporate renewal hardware allotment for given CBUCID/RCID
		</wsdl:documentation>
         <soap:operation soapAction="getCorporateHardwareAllotment"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="validateOfferForSubscriber">
         <wsdl:documentation>validate if offer matching to subscriber profile. Mostly used by Change Tool and HRT application.
		</wsdl:documentation>
         <soap:operation soapAction="validateOfferForSubscriber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getDefaultOfferList">
         <wsdl:documentation>Retrieves default offer for specified transaction type (upgrade or activations)
		</wsdl:documentation>
         <soap:operation soapAction="getDefaultOfferList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="WirelessSubscriberOfferInformationService_v2_10">
      <wsdl:port name="WirelessSubscriberOfferInformationServicePort"
                 binding="iface:WirelessSubscriberOfferInformationService_v2_10_SOAP">
         <soap:address location="http://cmf-ordermgmt2-dv103.tmi.telus.com/CMO/OrderMgmt/WirelessSubscriberOfferInformationService_v2_10"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>