cmb-common/cmb-ws-clients/logical-resource-ws-client-6-1/src/main/resources/wsdls/LogicalResourcesManagementService_v6_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/RMO/ResourceMgmt/LogicalResourcesManagementService_6"
                  xmlns:rcm="http://xmlschema.tmi.telus.com/srv/RMO/ResourceMgmt/LogicalResourceServiceRequestResponse_v6"
                  name="LogicalResourcesManagementService_v6_1.wsdl"
                  targetNamespace="http://telus.com/wsdl/RMO/ResourceMgmt/LogicalResourcesManagementService_6"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Logical Resource Services Version 6.1</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/RMO/ResourceMgmt/LogicalResourcesManagementService_6">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/RMO/ResourceMgmt/LogicalResourceServiceRequestResponse_v6"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/RMO/ResourceMgmt/LogicalResourcesManagementServiceRequestResponse_v6_1.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="assignIP">
      <wsdl:part name="parameters" element="rcm:assignIP"/>
   </wsdl:message>
   <wsdl:message name="assignIPResponse">
      <wsdl:part name="result" element="rcm:assignIPResponse"/>
   </wsdl:message>
   <wsdl:message name="releaseIP">
      <wsdl:part name="parameters" element="rcm:releaseIP"/>
   </wsdl:message>
   <wsdl:message name="releaseIPResponse">
      <wsdl:part name="result" element="rcm:releaseIPResponse"/>
   </wsdl:message>
   <wsdl:message name="createTN">
      <wsdl:part name="parameters" element="rcm:createTN"/>
   </wsdl:message>
   <wsdl:message name="createTNResponse">
      <wsdl:part name="result" element="rcm:createTNResponse"/>
   </wsdl:message>
   <wsdl:message name="assignTNResources">
      <wsdl:part name="parameters" element="rcm:assignTNResources"/>
   </wsdl:message>
   <wsdl:message name="assignTNResourcesResponse">
      <wsdl:part name="result" element="rcm:assignTNResourcesResponse"/>
   </wsdl:message>
   <wsdl:message name="setTNStatus">
      <wsdl:part name="parameters" element="rcm:setTNStatus"/>
   </wsdl:message>
   <wsdl:message name="setTNStatusResponse">
      <wsdl:part name="result" element="rcm:setTNStatusResponse"/>
   </wsdl:message>
   <wsdl:message name="setIMSIStatus">
      <wsdl:part name="parameters" element="rcm:setIMSIStatus"/>
   </wsdl:message>
   <wsdl:message name="setIMSIStatusResponse">
      <wsdl:part name="result" element="rcm:setIMSIStatusResponse"/>
   </wsdl:message>
   <wsdl:message name="setPreviousActiveNetwork">
      <wsdl:part name="parameters" element="rcm:setPreviousActiveNetwork"/>
   </wsdl:message>
   <wsdl:message name="setPreviousActiveNetworkResponse">
      <wsdl:part name="result" element="rcm:setPreviousActiveNetworkResponse"/>
   </wsdl:message>
   <wsdl:message name="getPortEligibilityAttributes">
      <wsdl:part name="parameters" element="rcm:getPortEligibilityAttributes"/>
   </wsdl:message>
   <wsdl:message name="getPortEligibilityAttributesResponse">
      <wsdl:part name="result" element="rcm:getPortEligibilityAttributesResponse"/>
   </wsdl:message>
   <wsdl:message name="getTNProvisioningAttributes">
      <wsdl:part name="parameters" element="rcm:getTNProvisioningAttributes"/>
   </wsdl:message>
   <wsdl:message name="getTNProvisioningAttributesResponse">
      <wsdl:part name="result" element="rcm:getTNProvisioningAttributesResponse"/>
   </wsdl:message>
   <wsdl:message name="getIMSIAttributes">
      <wsdl:part name="parameters" element="rcm:getIMSIAttributes"/>
   </wsdl:message>
   <wsdl:message name="getIMSIAttributesResponse">
      <wsdl:part name="result" element="rcm:getIMSIAttributesResponse"/>
   </wsdl:message>
   <wsdl:message name="releaseResourcesByTN">
      <wsdl:part name="parameters" element="rcm:releaseResourcesByTN"/>
   </wsdl:message>
   <wsdl:message name="releaseResourcesByTNResponse">
      <wsdl:part name="result" element="rcm:releaseResourcesByTNResponse"/>
   </wsdl:message>
   <wsdl:message name="changeTN">
      <wsdl:part name="parameters" element="rcm:changeTN"/>
   </wsdl:message>
   <wsdl:message name="changeTNResponse">
      <wsdl:part name="result" element="rcm:changeTNResponse"/>
   </wsdl:message>
   <wsdl:message name="changeIMSI">
      <wsdl:part name="parameters" element="rcm:changeIMSI"/>
   </wsdl:message>
   <wsdl:message name="changeIMSIResponse">
      <wsdl:part name="result" element="rcm:changeIMSIResponse"/>
   </wsdl:message>
   <wsdl:message name="changeNetwork">
      <wsdl:part name="parameters" element="rcm:changeNetwork"/>
   </wsdl:message>
   <wsdl:message name="changeNetworkResponse">
      <wsdl:part name="result" element="rcm:changeNetworkResponse"/>
   </wsdl:message>
   <wsdl:message name="removeTN">
      <wsdl:part name="parameters" element="rcm:removeTN"/>
   </wsdl:message>
   <wsdl:message name="removeTNResponse">
      <wsdl:part name="result" element="rcm:removeTNResponse"/>
   </wsdl:message>
   <wsdl:message name="removeIMSI">
      <wsdl:part name="parameters" element="rcm:removeIMSI"/>
   </wsdl:message>
   <wsdl:message name="removeIMSIResponse">
      <wsdl:part name="result" element="rcm:removeIMSIResponse"/>
   </wsdl:message>
   <wsdl:message name="snapBackTN">
      <wsdl:part name="parameters" element="rcm:snapBackTN"/>
   </wsdl:message>
   <wsdl:message name="snapBackTNResponse">
      <wsdl:part name="result" element="rcm:snapBackTNResponse"/>
   </wsdl:message>
   <wsdl:message name="createTNProvisioningAttributeList">
      <wsdl:part name="parameters" element="rcm:createTNProvisioningAttributeList"/>
   </wsdl:message>
   <wsdl:message name="createTNProvisioningAttributeListResponse">
      <wsdl:part name="result" element="rcm:createTNProvisioningAttributeListResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="LogicalResourcesManagementService_v6_1_PortType">
      <wsdl:operation name="assignIP">
         <wsdl:input message="iface:assignIP"/>
         <wsdl:output message="iface:assignIPResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="releaseIP">
         <wsdl:input message="iface:releaseIP"/>
         <wsdl:output message="iface:releaseIPResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="createTN">
         <wsdl:input message="iface:createTN"/>
         <wsdl:output message="iface:createTNResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="assignTNResources">
         <wsdl:input message="iface:assignTNResources"/>
         <wsdl:output message="iface:assignTNResourcesResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="setTNStatus">
         <wsdl:input message="iface:setTNStatus"/>
         <wsdl:output message="iface:setTNStatusResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="setIMSIStatus">
         <wsdl:input message="iface:setIMSIStatus"/>
         <wsdl:output message="iface:setIMSIStatusResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="setPreviousActiveNetwork">
         <wsdl:input message="iface:setPreviousActiveNetwork"/>
         <wsdl:output message="iface:setPreviousActiveNetworkResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getPortEligibilityAttributes">
         <wsdl:input message="iface:getPortEligibilityAttributes"/>
         <wsdl:output message="iface:getPortEligibilityAttributesResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getTNProvisioningAttributes">
         <wsdl:input message="iface:getTNProvisioningAttributes"/>
         <wsdl:output message="iface:getTNProvisioningAttributesResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getIMSIAttributes">
         <wsdl:input message="iface:getIMSIAttributes"/>
         <wsdl:output message="iface:getIMSIAttributesResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="releaseResourcesByTN">
         <wsdl:input message="iface:releaseResourcesByTN"/>
         <wsdl:output message="iface:releaseResourcesByTNResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="changeTN">
         <wsdl:input message="iface:changeTN"/>
         <wsdl:output message="iface:changeTNResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="changeIMSI">
         <wsdl:input message="iface:changeIMSI"/>
         <wsdl:output message="iface:changeIMSIResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="changeNetwork">
         <wsdl:input message="iface:changeNetwork"/>
         <wsdl:output message="iface:changeNetworkResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="removeTN">
         <wsdl:input message="iface:removeTN"/>
         <wsdl:output message="iface:removeTNResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="removeIMSI">
         <wsdl:input message="iface:removeIMSI"/>
         <wsdl:output message="iface:removeIMSIResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="snapBackTN">
         <wsdl:input message="iface:snapBackTN"/>
         <wsdl:output message="iface:snapBackTNResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="createTNProvisioningAttributeList">
         <wsdl:input message="iface:createTNProvisioningAttributeList"/>
         <wsdl:output message="iface:createTNProvisioningAttributeListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="LogicalResourcesManagementService_v6_1_SOAP"
                 type="iface:LogicalResourcesManagementService_v6_1_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="assignIP">
         <wsdl:documentation>Assigns a Dynamic or Static IP to the subscriber </wsdl:documentation>
         <soap:operation soapAction="assignIP"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="releaseIP">
         <wsdl:documentation>Release the Dynamic or Static IP associated to the subscriber </wsdl:documentation>
         <soap:operation soapAction="releaseIP"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="createTN">
         <wsdl:documentation>Creates the inventory for the given TN and Resource Type</wsdl:documentation>
         <soap:operation soapAction="createTN"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="assignTNResources">
         <wsdl:documentation>Does all the necessary assignments to activate the given TN in RCM</wsdl:documentation>
         <soap:operation soapAction="assignTNResources"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="setTNStatus">
         <wsdl:documentation>Sets the status of the given TN. Typically used to temporarily suspend the customer and then resume.</wsdl:documentation>
         <soap:operation soapAction="setTNStatus"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="setIMSIStatus">
         <wsdl:documentation>Sets the status for the provided Local or Remote IMSI</wsdl:documentation>
         <soap:operation soapAction="setIMSIStatus"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="setPreviousActiveNetwork">
         <wsdl:documentation>This operation sets the value of the network where the TN was previously activated</wsdl:documentation>
         <soap:operation soapAction="setPreviousActiveNetwork"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getPortEligibilityAttributes">
         <wsdl:documentation>Returns all the attributes of the TN that are used to decide the eligibility for porting the given TN.</wsdl:documentation>
         <soap:operation soapAction="getPortEligibilityAttributes"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getTNProvisioningAttributes">
         <wsdl:documentation>Gets the provisioning related attributes of the TN.</wsdl:documentation>
         <soap:operation soapAction="getTNProvisioningAttributes"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getIMSIAttributes">
         <wsdl:documentation>Returns the IMSI attributes.</wsdl:documentation>
         <soap:operation soapAction="getIMSIAttributes"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="releaseResourcesByTN">
         <wsdl:documentation>Breaks all the associations of the given TN and moves it to AGING status. Used for cancellations.</wsdl:documentation>
         <soap:operation soapAction="releaseResourcesByTN"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="changeTN">
         <wsdl:documentation>Changes the TN from old to new.</wsdl:documentation>
         <soap:operation soapAction="changeTN"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="changeIMSI">
         <wsdl:documentation>Changes the associated IMSI of the TN from old to new.</wsdl:documentation>
         <soap:operation soapAction="changeIMSI"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="changeNetwork">
         <wsdl:documentation>Migrates the TN from one network to the other.</wsdl:documentation>
         <soap:operation soapAction="changeNetwork"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="removeTN">
         <wsdl:documentation>Removes the TN inventory, i.e. puts it into PR status.</wsdl:documentation>
         <soap:operation soapAction="removeTN"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="removeIMSI">
         <wsdl:documentation>Removes the IMSI inventory, i.e. puts it into PR status.</wsdl:documentation>
         <soap:operation soapAction="removeIMSI"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="snapBackTN">
         <wsdl:documentation>Snapsback the TN to be re-activated.</wsdl:documentation>
         <soap:operation soapAction="snapBackTN"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="createTNProvisioningAttributeList">
         <wsdl:documentation>Creates a TN resource with given attributes and returns assoicated detailed attributes from RCM</wsdl:documentation>
         <soap:operation soapAction="createTNProvisioningAttributeList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="LogicalResourcesManagementService_v6_1">
      <wsdl:port name="LogicalResourcesManagementServicePort"
                 binding="iface:LogicalResourcesManagementService_v6_1_SOAP">
         <soap:address location="http://rmosr-resrceinvmgmt-dv103.tmi.telus.com/RMO/ResourceMgmt/LogicalResources_v6_1/LogicalResourcesManagementService_v6_1"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>