cmb-ws/cmb-subscriber-info-mgmt-ws-1-0/wsdl/src/main/resources/wsdls/SubscriberInformationManagementService_v1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/SelfMgmt/SubscriberInformationManagementService_1"
                  xmlns:csm="http://xmlschema.tmi.telus.com/srv/CMO/SelfMgmt/SubscriberInformationManagementServiceRequestResponse_1_0"
                  name="SubscriberInformationManagementService_v1_0.wsdl"
                  targetNamespace="http://telus.com/wsdl/CMO/SelfMgmt/SubscriberInformationManagementService_1"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_6.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Provides access to customer self management methods</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/SelfMgmt/SubscriberInformationManagementService_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/SelfMgmt/SubscriberInformationManagementServiceRequestResponse_1_0"
                     schemaLocation="SubscriberInformationManagementServiceRequestResponse_1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getPhoneDirectory">
      <wsdl:part name="parameters" element="csm:getPhoneDirectoryRequest"/>
   </wsdl:message>
   <wsdl:message name="getPhoneDirectoryResponse">
      <wsdl:part name="result" element="csm:getPhoneDirectoryResponse"/>
   </wsdl:message>
   <wsdl:message name="updatePhoneDirectory">
      <wsdl:part name="parameters" element="csm:updatePhoneDirectoryRequest"/>
   </wsdl:message>
   <wsdl:message name="updatePhoneDirectoryResponse">
      <wsdl:part name="result" element="csm:updatePhoneDirectoryResponse"/>
   </wsdl:message>
   <wsdl:message name="deletePhoneDirectoryEntries">
      <wsdl:part name="parameters" element="csm:deletePhoneDirectoryEntriesRequest"/>
   </wsdl:message>
   <wsdl:message name="deletePhoneDirectoryEntriesResponse">
      <wsdl:part name="result" element="csm:deletePhoneDirectoryEntriesResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="SubscriberInformationManagementServicePortType">
      <wsdl:operation name="getPhoneDirectory">
         <wsdl:input message="iface:getPhoneDirectory"/>
         <wsdl:output message="iface:getPhoneDirectoryResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="updatePhoneDirectory">
         <wsdl:input message="iface:updatePhoneDirectory"/>
         <wsdl:output message="iface:updatePhoneDirectoryResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="deletePhoneDirectoryEntries">
         <wsdl:input message="iface:deletePhoneDirectoryEntries"/>
         <wsdl:output message="iface:deletePhoneDirectoryEntriesResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SubscriberInformationManagementServiceSOAP"
                 type="iface:SubscriberInformationManagementServicePortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getPhoneDirectory">
         <wsdl:documentation>Retrieves a list of phone directory entries for a subscriber.</wsdl:documentation>
         <soap:operation soapAction="getPhoneDirectory"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updatePhoneDirectory">
         <wsdl:documentation>Updates a list of phone directory entries for a subscriber.</wsdl:documentation>
         <soap:operation soapAction="updatePhoneDirectory"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deletePhoneDirectoryEntries">
         <wsdl:documentation>Removes a list of phone directory entries for a subscriber.</wsdl:documentation>
         <soap:operation soapAction="deletePhoneDirectoryEntries"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="SubscriberInformationManagementService_v1_0">
      <wsdl:port name="SubscriberInformationManagementServicePort"
                 binding="iface:SubscriberInformationManagementServiceSOAP">
         <soap:address location="http://cmf-custselfmgmt-dv103.tmi.telus.com/CMO/SelfMgmt/SubscriberInformationManagementService/SubscriberInformationManagementService_v1_0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>