cmb-common/cmb-ws-clients/voip-license-purchase-ws-client-1-0/src/main/resources/wsdls/VoipLicensePurchaseSvc_v1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:shttp="http://soa.com/wsdl/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/SMO/Activation/VoipLicensePurchaseSvc_1"
                  xmlns:vlp="http://xmlschema.tmi.telus.com/srv/SMO/Activation/VoipLicensePurchaseSvcRequestResponse_v1"
                  targetNamespace="http://telus.com/wsdl/SMO/Activation/VoipLicensePurchaseSvc_1"><!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v4_0.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_2.xsd
				--><wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/SMO/Activation/VoipLicensePurchaseSvc_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/SMO/Activation/VoipLicensePurchaseSvcRequestResponse_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/SMO/Activation/VoipLicensePurchaseSvcRequestResponse_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="deleteLicenseOnAccount">
      <wsdl:part name="parameters" element="vlp:deleteLicenseOnAccount"/>
   </wsdl:message>
   <wsdl:message name="deleteLicenseOnAccountResponse">
      <wsdl:part name="result" element="vlp:deleteLicenseOnAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="getLicenseListOnAccount">
      <wsdl:part name="parameters" element="vlp:getLicenseListOnAccount"/>
   </wsdl:message>
   <wsdl:message name="getLicenseListOnAccountResponse">
      <wsdl:part name="result" element="vlp:getLicenseListOnAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="purchaseLicense">
      <wsdl:part name="parameters" element="vlp:purchaseLicense"/>
   </wsdl:message>
   <wsdl:message name="purchaseLicenseResponse">
      <wsdl:part name="result" element="vlp:purchaseLicenseResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:portType name="VoipLicensePurchaseSvc_v1_0_PortType">
      <wsdl:operation name="deleteLicenseOnAccount">
         <wsdl:input message="iface:deleteLicenseOnAccount"/>
         <wsdl:output message="iface:deleteLicenseOnAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getLicenseListOnAccount">
         <wsdl:input message="iface:getLicenseListOnAccount"/>
         <wsdl:output message="iface:getLicenseListOnAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="purchaseLicense">
         <wsdl:input message="iface:purchaseLicense"/>
         <wsdl:output message="iface:purchaseLicenseResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="VoipLicensePurchaseSvc_v1_0_SOAP"
                 type="iface:VoipLicensePurchaseSvc_v1_0_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="deleteLicenseOnAccount">
         <wsdl:documentation>This method delete license from account. Licenses can be removed only one by one. It should not be allowed to remove assigned licenses</wsdl:documentation>
         <soap:operation soapAction="deleteLicenseOnAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getLicenseListOnAccount">
         <wsdl:documentation>This method returns the information about purchased licenses on account</wsdl:documentation>
         <soap:operation soapAction="getLicenseListOnAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="purchaseLicense">
         <wsdl:documentation>This method is used for purchasing a license for Voip Service</wsdl:documentation>
         <soap:operation soapAction="purchaseLicense"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="VoipLicensePurchaseSvc_v1_0">
      <wsdl:port name="VoipLicensePurchaseSvcPort"
                 binding="iface:VoipLicensePurchaseSvc_v1_0_SOAP">
         <soap:address location="http://wlprov-services-dv103.tmi.telus.com/SMO/Activation/VoipLicensePurchaseSvc/VoipLicensePurchaseSvc_v1_0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>