cmb-common/cmb-ws-clients/subscription-balance-mgmt-ws-client-1-1/src/main/resources/wsdls/SubscriptionBalanceMgmtService_v1_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/ReceivablesMgmt/SubscriptionBalanceMgmtService_1"
                  xmlns:sbm="http://xmlschema.tmi.telus.com/srv/CMO/ReceivablesMgmt/SubscriptionBalanceMgmtServiceRequestResponse_v1"
                  name="SubscriptionBalanceMgmtService_v1_1.wsdl"
                  targetNamespace="http://telus.com/wsdl/CMO/ReceivablesMgmt/SubscriptionBalanceMgmtService_1"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>SubscriptionBalanceMgmtService will support retrieval of balance by prepaid account type, transfer of funds between prepaid accounts, applying credit to prepaid accounts and charging of prepaid accounts.</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/ReceivablesMgmt/SubscriptionBalanceMgmtService_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/ReceivablesMgmt/SubscriptionBalanceMgmtServiceRequestResponse_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/ReceivablesMgmt/SubscriptionBalanceMgmtServiceRequestResponse_v1_1.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getBalance">
      <wsdl:part name="parameters" element="sbm:getBalance"/>
      <wsdl:part name="getBalanceInSoapHdr" element="sbm:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="getBalanceResponse">
      <wsdl:part name="result" element="sbm:getBalanceResponse"/>
   </wsdl:message>
   <wsdl:message name="transfer">
      <wsdl:part name="parameters" element="sbm:transfer"/>
      <wsdl:part name="transferInSoapHdr" element="sbm:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="transferResponse">
      <wsdl:part name="result" element="sbm:transferResponse"/>
   </wsdl:message>
   <wsdl:message name="transferAvailableAmount">
      <wsdl:part name="parameters" element="sbm:transferAvailableAmount"/>
      <wsdl:part name="transferAvailableAmountInSoapHdr" element="sbm:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="transferAvailableAmountResponse">
      <wsdl:part name="result" element="sbm:transferAvailableAmountResponse"/>
   </wsdl:message>
   <wsdl:message name="credit">
      <wsdl:part name="parameters" element="sbm:credit"/>
      <wsdl:part name="creditInSoapHdr" element="sbm:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="creditResponse">
      <wsdl:part name="result" element="sbm:creditResponse"/>
   </wsdl:message>
   <wsdl:message name="charge">
      <wsdl:part name="parameters" element="sbm:charge"/>
      <wsdl:part name="chargeInSoapHdr" element="sbm:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="chargeResponse">
      <wsdl:part name="result" element="sbm:chargeResponse"/>
   </wsdl:message>
   <wsdl:message name="chargeAvailableAmount">
      <wsdl:part name="parameters" element="sbm:chargeAvailableAmount"/>
      <wsdl:part name="chargeAvailableAmountInSoapHdr" element="sbm:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="chargeAvailableAmountResponse">
      <wsdl:part name="result" element="sbm:chargeAvailableAmountResponse"/>
   </wsdl:message>
   <wsdl:message name="batchAdjustment">
      <wsdl:part name="parameters" element="sbm:batchAdjustment"/>
      <wsdl:part name="batchAdjustmentInSoapHdr" element="sbm:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="batchAdjustmentResponse">
      <wsdl:part name="result" element="sbm:batchAdjustmentResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="SubscriptionBalanceMgmtService_v1_1_PortType">
      <wsdl:operation name="getBalance">
         <wsdl:input message="iface:getBalance"/>
         <wsdl:output message="iface:getBalanceResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="transfer">
         <wsdl:input message="iface:transfer"/>
         <wsdl:output message="iface:transferResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="transferAvailableAmount">
         <wsdl:input message="iface:transferAvailableAmount"/>
         <wsdl:output message="iface:transferAvailableAmountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="credit">
         <wsdl:input message="iface:credit"/>
         <wsdl:output message="iface:creditResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="charge">
         <wsdl:input message="iface:charge"/>
         <wsdl:output message="iface:chargeResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="chargeAvailableAmount">
         <wsdl:input message="iface:chargeAvailableAmount"/>
         <wsdl:output message="iface:chargeAvailableAmountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="batchAdjustment">
         <wsdl:input message="iface:batchAdjustment"/>
         <wsdl:output message="iface:batchAdjustmentResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SubscriptionBalanceMgmtService_v1_1_SOAP"
                 type="iface:SubscriptionBalanceMgmtService_v1_1_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getBalance">
         <wsdl:documentation>getBalance operation will retrieve prepaid account balance for primary, secondary and reserved accounts</wsdl:documentation>
         <soap:operation soapAction="getBalance"/>
         <wsdl:input>
            <wsdl:documentation>User Header allows input of customer ID and list of consuming application IDs</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:getBalance" part="getBalanceInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="transfer">
         <wsdl:documentation>Operation will transfer a given amount from a source account to a target account.</wsdl:documentation>
         <soap:operation soapAction="transfer"/>
         <wsdl:input>
            <wsdl:documentation>User Header allows input of customer ID and list of consuming application IDs</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:transfer" part="transferInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="transferAvailableAmount">
         <wsdl:documentation>Operation allows complete transfer of available balance from source account to destination account.</wsdl:documentation>
         <soap:operation soapAction="transferAvailableAmount"/>
         <wsdl:input>
            <wsdl:documentation>User Header allows input of customer ID and list of consuming application IDs</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:transferAvailableAmount"
                         part="transferAvailableAmountInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="credit">
         <wsdl:documentation>Operation allows a credit amount to be applied to a specified account.</wsdl:documentation>
         <soap:operation soapAction="credit"/>
         <wsdl:input>
            <wsdl:documentation>User Header allows input of customer ID and list of consuming application IDs</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:credit" part="creditInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="charge">
         <wsdl:documentation>Operation will allow a given amount to be charged to a specified account type.</wsdl:documentation>
         <soap:operation soapAction="charge"/>
         <wsdl:input>
            <wsdl:documentation>User Header allows input of customer ID and list of consuming application IDs</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:charge" part="chargeInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="chargeAvailableAmount">
         <wsdl:documentation>Operation will allow a service to attempt to charge a given amount to a specified account type.  If the account does not have enough funds to accomodate the requested charge, a partial charge of all available funds will be applied.</wsdl:documentation>
         <soap:operation soapAction="chargeAvailableAmount"/>
         <wsdl:input>
            <wsdl:documentation>User Header allows input of customer ID and list of consuming application IDs</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:chargeAvailableAmount"
                         part="chargeAvailableAmountInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="batchAdjustment">
         <wsdl:documentation>Operation will allow a service to attempt to charge or credit a given amount to a specified account type.  If the account does not have enough funds to accomodate the requested charge, a partial charge of all available funds will be applied.</wsdl:documentation>
         <soap:operation soapAction="batchAdjustment"/>
         <wsdl:input>
            <wsdl:documentation>User Header allows input of customer ID and list of consuming application IDs</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:batchAdjustment" part="batchAdjustmentInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="SubscriptionBalanceMgmtService_v1_1">
      <wsdl:port name="SubscriptionBalanceMgmtServicePort"
                 binding="iface:SubscriptionBalanceMgmtService_v1_1_SOAP">
         <soap:address location="http://prepaidmgmtesb2-dv103.tmi.telus.com/CMO/ReceivablesMgmt/SubscriptionBalanceMgmtService_v1_1"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>