cmb-common/cmb-ws-clients/ent-cust-notif-mgmt-ws-client-1-3/src/main/resources/wsdls/EnterpriseCustomerNotificationManagementService_v1_3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/ContactMgmt/EnterpriseCustomerNotificationManagementService_1"
                  xmlns:ecn="http://xmlschema.tmi.telus.com/srv/CMO/ContactMgmt/EnterpriseCustomerNotificationManagementServiceRequestResponse_v1"
                  name="EnterpriseCustomerNotificationManagementService_v1_3.wsdl"
                  targetNamespace="http://telus.com/wsdl/CMO/ContactMgmt/EnterpriseCustomerNotificationManagementService_1"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Provides an Enterprise capability to invoke notifications and update customer preferences</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/ContactMgmt/EnterpriseCustomerNotificationManagementService_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/ContactMgmt/EnterpriseCustomerNotificationManagementServiceRequestResponse_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/ContactMgmt/EnterpriseCustomerNotificationMgmtSvcRequestResponse_v1_3.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="submitNotification">
      <wsdl:part name="parameters" element="ecn:submitNotification"/>
   </wsdl:message>
   <wsdl:message name="submitNotificationResponse">
      <wsdl:part name="result" element="ecn:submitNotificationResponse"/>
   </wsdl:message>
   <wsdl:message name="submitNotificationList">
      <wsdl:part name="parameters" element="ecn:submitNotificationList"/>
   </wsdl:message>
   <wsdl:message name="submitNotificationListResponse">
      <wsdl:part name="result" element="ecn:submitNotificationListResponse"/>
   </wsdl:message>
   <wsdl:message name="unsubscribeEmailNotification">
      <wsdl:part name="parameters" element="ecn:unsubscribeEmailNotification"/>
   </wsdl:message>
   <wsdl:message name="unsubscribeEmailNotificationResponse">
      <wsdl:part name="result" element="ecn:unsubscribeEmailNotificationResponse"/>
   </wsdl:message>
   <wsdl:message name="processShortCodeEvent">
      <wsdl:part name="parameters" element="ecn:processShortCodeEvent"/>
   </wsdl:message>
   <wsdl:message name="processShortCodeEventResponse">
      <wsdl:part name="result" element="ecn:processShortCodeEventResponse"/>
   </wsdl:message>
   <wsdl:message name="cancelScheduledNotification">
      <wsdl:part name="parameters" element="ecn:cancelScheduledNotification"/>
   </wsdl:message>
   <wsdl:message name="cancelScheduledNotificationResponse">
      <wsdl:part name="result" element="ecn:cancelScheduledNotificationResponse"/>
   </wsdl:message>
   <wsdl:message name="updateScheduledNotification">
      <wsdl:part name="parameters" element="ecn:updateScheduledNotification"/>
   </wsdl:message>
   <wsdl:message name="updateScheduledNotificationResponse">
      <wsdl:part name="result" element="ecn:updateScheduledNotificationResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="EnterpriseCustomerNotificationManagementService_v1_3_PortType">
      <wsdl:operation name="submitNotification">
         <wsdl:input message="iface:submitNotification"/>
         <wsdl:output message="iface:submitNotificationResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="submitNotificationList">
         <wsdl:input message="iface:submitNotificationList"/>
         <wsdl:output message="iface:submitNotificationListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="unsubscribeEmailNotification">
         <wsdl:input message="iface:unsubscribeEmailNotification"/>
         <wsdl:output message="iface:unsubscribeEmailNotificationResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="processShortCodeEvent">
         <wsdl:input message="iface:processShortCodeEvent"/>
         <wsdl:output message="iface:processShortCodeEventResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="cancelScheduledNotification">
         <wsdl:input message="iface:cancelScheduledNotification"/>
         <wsdl:output message="iface:cancelScheduledNotificationResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="updateScheduledNotification">
         <wsdl:input message="iface:updateScheduledNotification"/>
         <wsdl:output message="iface:updateScheduledNotificationResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="EnterpriseCustomerNotificationManagementService_v1_3_SOAP"
                 type="iface:EnterpriseCustomerNotificationManagementService_v1_3_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="submitNotification">
         <wsdl:documentation>Triggers a notification request. Operation is asynchronous. Message may not be delivered depending on business policies and customer preferences.</wsdl:documentation>
         <soap:operation soapAction="submitNotification"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="submitNotificationList">
         <wsdl:documentation>Triggers a notification request. Operation is asynchronous. Message may not be delivered depending on business policies and customer preferences.</wsdl:documentation>
         <soap:operation soapAction="submitNotificationList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="unsubscribeEmailNotification">
         <wsdl:documentation>Unsubscribe from all email notifications.  Operation is asynchronous.</wsdl:documentation>
         <soap:operation soapAction="unsubscribeEmailNotification"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="processShortCodeEvent">
         <wsdl:documentation>Invokes service to process the SMS reply initiated by the subscriber.  The service that handles the processing of the message is determined by the short-code in destinationAddress.  This operation is asynchronous.</wsdl:documentation>
         <soap:operation soapAction="processShortCodeEvent"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="cancelScheduledNotification">
         <wsdl:documentation>Invokes service to cancel scheduled notification request. Operation is asynchronous.</wsdl:documentation>
         <soap:operation soapAction="cancelScheduledNotification"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateScheduledNotification">
         <wsdl:documentation>Invokes service to update scheduled notification request (e.g. scheduledDateTime). Operation is asynchronous.</wsdl:documentation>
         <soap:operation soapAction="updateScheduledNotification"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="EnterpriseCustomerNotificationManagementService_v1_3">
      <wsdl:port name="EnterpriseCustomerNotificationManagementServicePort"
                 binding="iface:EnterpriseCustomerNotificationManagementService_v1_3_SOAP">
         <soap:address location="http://customermanagementesb-west-dv01.tsl.telus.com/CMO/ContactMgmt/EnterpriseCustomerNotificationManagement/EnterpriseCustomerNotificationManagementService_v1_3"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>