cmb-ws/cmb-subscriber-lifecycle-mgmt-ws-1-0/wsdl/src/main/resources/wsdls/SubscriberLifeCycleManagementService_v1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/OrderMgmt/SubscriberLifeCycleManagementService_1"
                  xmlns:slc="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/SubscriberLifeCycleManagementServiceRequestResponse_v1"
                  name="SubscriberLifeCycleManagementService_v1_0.wsdl"
                  targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/SubscriberLifeCycleManagementService_1"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_6.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Manages subscriber lifecycle for activating, cancelling and resuming a subscriber</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/SubscriberLifeCycleManagementService_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/SubscriberLifeCycleManagementServiceRequestResponse_v1"
                     schemaLocation="SubscriberLifeCycleManagementServiceRequestResponse_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="cancelSubscriber">
      <wsdl:part name="parameters" element="slc:cancelSubscriber"/>
   </wsdl:message>
   <wsdl:message name="cancelSubscriberResponse">
      <wsdl:part name="result" element="slc:cancelSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="resumeCancelledSubscriber">
      <wsdl:part name="parameters" element="slc:resumeCancelledSubscriber"/>
   </wsdl:message>
   <wsdl:message name="resumeCancelledSubscriberResponse">
      <wsdl:part name="result" element="slc:resumeCancelledSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="restoreSuspendedSubscriber">
      <wsdl:part name="parameters" element="slc:restoreSuspendedSubscriber"/>
   </wsdl:message>
   <wsdl:message name="restoreSuspendedSubscriberResponse">
      <wsdl:part name="result" element="slc:restoreSuspendedSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="SubscriberLifeCycleManagementServicePortType">
      <wsdl:operation name="cancelSubscriber">
         <wsdl:input message="iface:cancelSubscriber"/>
         <wsdl:output message="iface:cancelSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="resumeCancelledSubscriber">
         <wsdl:input message="iface:resumeCancelledSubscriber"/>
         <wsdl:output message="iface:resumeCancelledSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="restoreSuspendedSubscriber">
         <wsdl:input message="iface:restoreSuspendedSubscriber"/>
         <wsdl:output message="iface:restoreSuspendedSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SubscriberLifeCycleManagementServiceSOAP"
                 type="iface:SubscriberLifeCycleManagementServicePortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="cancelSubscriber">
         <wsdl:documentation>Cancel a subscriber.</wsdl:documentation>
         <soap:operation soapAction="cancelSubscriber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="resumeCancelledSubscriber">
         <wsdl:documentation>Resume a subscriber from cancel state.</wsdl:documentation>
         <soap:operation soapAction="resumeCancelledSubscriber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="restoreSuspendedSubscriber">
         <wsdl:documentation>Resume a subscriber from cancel state.</wsdl:documentation>
         <soap:operation soapAction="restoreSuspendedSubscriber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="SubscriberLifeCycleManagementService_v1_0">
      <wsdl:port name="SubscriberLifeCycleManagementServicePort"
                 binding="iface:SubscriberLifeCycleManagementServiceSOAP">
         <soap:address location="http://cmf-ordermgmt-dv103.tmi.telus.com/CMO/OrderMgmt/SubscriberLifeCycleManagement/SubscriberLifeCycleManagementService_v1_0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>