cmb-common/cmb-ws-clients/equipment-lifecycle-ws-client-2-1/src/main/resources/wsdls/EquipmentLifeCycleManagementService_v2_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/RMO/ResourceMgmt/EquipmentLifeCycleManagementService_2"
                  xmlns:elc="http://xmlschema.tmi.telus.com/srv/RMO/ResourceMgmt/EquipmentLifeCycleManagementServiceRequestResponse_v2"
                  name="EquipmentLifeCycleManagementService_v2_1.wsdl"
                  targetNamespace="http://telus.com/wsdl/RMO/ResourceMgmt/EquipmentLifeCycleManagementService_2"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Equipment life cycle management service to provide equipment life cycle event.</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/RMO/ResourceMgmt/EquipmentLifeCycleManagementService_2">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/RMO/ResourceMgmt/EquipmentLifeCycleManagementServiceRequestResponse_v2"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/RMO/ResourceMgmt/EquipmentLifeCycleManagementServiceRequestResponse_v2_1.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="assignEquipmentToPhoneNumber">
      <wsdl:part name="parameters" element="elc:assignEquipmentToPhoneNumber"/>
   </wsdl:message>
   <wsdl:message name="assignEquipmentToPhoneNumberResponse">
      <wsdl:part name="result" element="elc:assignEquipmentToPhoneNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="disassociateEquipmentFromPhoneNumber">
      <wsdl:part name="parameters" element="elc:disassociateEquipmentFromPhoneNumber"/>
   </wsdl:message>
   <wsdl:message name="disassociateEquipmentFromPhoneNumberResponse">
      <wsdl:part name="result" element="elc:disassociateEquipmentFromPhoneNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="releaseReservedEquipmentForPhoneNumber">
      <wsdl:part name="parameters" element="elc:releaseReservedEquipmentForPhoneNumber"/>
   </wsdl:message>
   <wsdl:message name="releaseReservedEquipmentForPhoneNumberResponse">
      <wsdl:part name="result" element="elc:releaseReservedEquipmentForPhoneNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="approveReservedEquipmentForPhoneNumber">
      <wsdl:part name="parameters" element="elc:approveReservedEquipmentForPhoneNumber"/>
   </wsdl:message>
   <wsdl:message name="approveReservedEquipmentForPhoneNumberResponse">
      <wsdl:part name="result" element="elc:approveReservedEquipmentForPhoneNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="changePhoneNumber">
      <wsdl:part name="parameters" element="elc:changePhoneNumber"/>
   </wsdl:message>
   <wsdl:message name="changePhoneNumberResponse">
      <wsdl:part name="result" element="elc:changePhoneNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="swapEquipmentForPhoneNumber">
      <wsdl:part name="parameters" element="elc:swapEquipmentForPhoneNumber"/>
   </wsdl:message>
   <wsdl:message name="swapEquipmentForPhoneNumberResponse">
      <wsdl:part name="result" element="elc:swapEquipmentForPhoneNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="expireUsimSmartCardList">
      <wsdl:part name="parameters" element="elc:expireUsimSmartCardList"/>
   </wsdl:message>
   <wsdl:message name="expireUsimSmartCardListResponse">
      <wsdl:part name="result" element="elc:expireUsimSmartCardListResponse"/>
   </wsdl:message>
   <wsdl:message name="updateEquipmentClientStatus">
      <wsdl:part name="parameters" element="elc:updateEquipmentClientStatus"/>
   </wsdl:message>
   <wsdl:message name="updateEquipmentClientStatusResponse">
      <wsdl:part name="result" element="elc:updateEquipmentClientStatusResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="EquipmentLifeCycleManagementService_v2_1_PortType">
      <wsdl:operation name="assignEquipmentToPhoneNumber">
         <wsdl:input message="iface:assignEquipmentToPhoneNumber"/>
         <wsdl:output message="iface:assignEquipmentToPhoneNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="disassociateEquipmentFromPhoneNumber">
         <wsdl:input message="iface:disassociateEquipmentFromPhoneNumber"/>
         <wsdl:output message="iface:disassociateEquipmentFromPhoneNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="releaseReservedEquipmentForPhoneNumber">
         <wsdl:input message="iface:releaseReservedEquipmentForPhoneNumber"/>
         <wsdl:output message="iface:releaseReservedEquipmentForPhoneNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="approveReservedEquipmentForPhoneNumber">
         <wsdl:input message="iface:approveReservedEquipmentForPhoneNumber"/>
         <wsdl:output message="iface:approveReservedEquipmentForPhoneNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="changePhoneNumber">
         <wsdl:input message="iface:changePhoneNumber"/>
         <wsdl:output message="iface:changePhoneNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="swapEquipmentForPhoneNumber">
         <wsdl:input message="iface:swapEquipmentForPhoneNumber"/>
         <wsdl:output message="iface:swapEquipmentForPhoneNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="expireUsimSmartCardList">
         <wsdl:input message="iface:expireUsimSmartCardList"/>
         <wsdl:output message="iface:expireUsimSmartCardListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="updateEquipmentClientStatus">
         <wsdl:input message="iface:updateEquipmentClientStatus"/>
         <wsdl:output message="iface:updateEquipmentClientStatusResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="EquipmentLifeCycleManagementService_v2_1_SOAP"
                 type="iface:EquipmentLifeCycleManagementService_v2_1_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="assignEquipmentToPhoneNumber">
         <wsdl:documentation/>
         <soap:operation soapAction="assignEquipmentToPhoneNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="disassociateEquipmentFromPhoneNumber">
         <wsdl:documentation/>
         <soap:operation soapAction="disassociateEquipmentFromPhoneNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="releaseReservedEquipmentForPhoneNumber">
         <wsdl:documentation/>
         <soap:operation soapAction="releaseReservedEquipmentForPhoneNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="approveReservedEquipmentForPhoneNumber">
         <wsdl:documentation/>
         <soap:operation soapAction="approveReservedEquipmentForPhoneNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="changePhoneNumber">
         <wsdl:documentation/>
         <soap:operation soapAction="changePhoneNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="swapEquipmentForPhoneNumber">
         <wsdl:documentation/>
         <soap:operation soapAction="swapEquipmentForPhoneNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="expireUsimSmartCardList">
         <wsdl:documentation/>
         <soap:operation soapAction="expireUsimSmartCardList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateEquipmentClientStatus">
         <wsdl:documentation>
			Description:
				To mark and un-mark equipment in SEMS. For all technical types (HSPA/LTE, CDMA, IDEN, PAGER, SIM, UIM, USIM). 
			Input:
				1. serial number
				2. equipment type
				3. reason code
				4. police agency 
				5. police agency city
				6. police report no. 
				7. fraud text / comments
				8. user id
				9. flagging user party code (EMPLOYEE, CUSTOMER And PARTNER)
				10. flagging application
				11. flagging user group
				12. forcing marking as non Telus owned device indicator 
					if it is true, and equipment type is HSPA, and no device can be found for the given serial number, 
					a new record will be inserted into NON_TELUS_PCS_EQUIP table with the given serial number, 
					and then deal with it as a non Telus owned device. 
				13.subscriberBrandId Telus brand code applicable for the equipment viz. codes for KOODO, ROCKHOPPER, REDKNEE,PHOENIX etc. 
				14.channelOutletId store location 
				15. subscriberPhoneNumber  Subscriber’s Phone Number
			Output: 
				1. status (success, failure)
				2. message (extending Enterprise Common Type's Response Message type)
			Process:
				1. do validation check - marking / unmarking permission control, whether an equipment record can be found with serial number and equipment type.   
				2. for non HSPA technical type, insert a new record into equipment status table, fraud info table, and equipment register table. 
				3. for Telus owned HSPA device, insert a new record into PCS_EQUIP_STATUS, PCS_FRAUD_INFO table, and equipment register table.   
				4. for non Telus owned HSPA device, insert a new record into NON_TELUS_PCS_EQUIP_STATUS, NON_TELUS_PCS_FRAUD_INFO table, and equipment register table.
		</wsdl:documentation>
         <soap:operation soapAction="updateEquipmentClientStatus"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="EquipmentLifeCycleManagementService_v2_1">
      <wsdl:port name="EquipmentLifeCycleManagementServicePort"
                 binding="iface:EquipmentLifeCycleManagementService_v2_1_SOAP">
         <soap:address location="http://rmosr-resrceinvmgmt-dv103.tmi.telus.com/RMO/ResourceMgmt/EquipmentLifeCycleManagementService_v2_1"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>