cmb-common/cmb-ws-clients/hardware-purchase-accnt-ws-client-1-4/src/main/resources/wsdls/HardwarePurchaseAccountService_v1_4.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/BillingAccountMgmt/HardwarePurchaseAccountService_1"
                  xmlns:hpa="http://xmlschema.tmi.telus.com/srv/CMO/BillingAccountMgmt/HardwarePurchaseAccountServiceRequestResponse_v1"
                  name="HardwarePurchaseAccountService_v1_4.wsdl"
                  targetNamespace="http://telus.com/wsdl/CMO/BillingAccountMgmt/HardwarePurchaseAccountService_1"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Service exposing the functionality related to Koodo TAB</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/BillingAccountMgmt/HardwarePurchaseAccountService_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/BillingAccountMgmt/HardwarePurchaseAccountServiceRequestResponse_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/BillingAccountMgmt/HardwarePurchaseAccountServiceRequestResponse_v1_4.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getEligibleOfferList">
      <wsdl:part name="parameters" element="hpa:getEligibleOfferList"/>
   </wsdl:message>
   <wsdl:message name="getEligibleOfferListResponse">
      <wsdl:part name="result" element="hpa:getEligibleOfferListResponse"/>
   </wsdl:message>
   <wsdl:message name="getCSAEligibleOfferList">
      <wsdl:part name="parameters" element="hpa:getCSAEligibleOfferList"/>
   </wsdl:message>
   <wsdl:message name="getCSAEligibleOfferListResponse">
      <wsdl:part name="result" element="hpa:getCSAEligibleOfferListResponse"/>
   </wsdl:message>
   <wsdl:message name="getOfferDetail">
      <wsdl:part name="parameters" element="hpa:getOfferDetail"/>
   </wsdl:message>
   <wsdl:message name="getOfferDetailResponse">
      <wsdl:part name="result" element="hpa:getOfferDetailResponse"/>
   </wsdl:message>
   <wsdl:message name="getOfferEligibilityIndicator">
      <wsdl:part name="parameters" element="hpa:getOfferEligibilityIndicator"/>
   </wsdl:message>
   <wsdl:message name="getOfferEligibilityIndicatorResponse">
      <wsdl:part name="result" element="hpa:getOfferEligibilityIndicatorResponse"/>
   </wsdl:message>
   <wsdl:message name="createRewardAccount">
      <wsdl:part name="parameters" element="hpa:createRewardAccount"/>
   </wsdl:message>
   <wsdl:message name="createRewardAccountResponse">
      <wsdl:part name="result" element="hpa:createRewardAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="fetchRewardAccount">
      <wsdl:part name="parameters" element="hpa:fetchRewardAccount"/>
   </wsdl:message>
   <wsdl:message name="fetchRewardAccountResponse">
      <wsdl:part name="result" element="hpa:fetchRewardAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="fetchRewardAccountAfterReturn">
      <wsdl:part name="parameters" element="hpa:fetchRewardAccountAfterReturn"/>
   </wsdl:message>
   <wsdl:message name="fetchRewardAccountAfterReturnResponse">
      <wsdl:part name="result" element="hpa:fetchRewardAccountAfterReturnResponse"/>
   </wsdl:message>
   <wsdl:message name="fetchRewardAccountTransaction">
      <wsdl:part name="parameters" element="hpa:fetchRewardAccountTransaction"/>
   </wsdl:message>
   <wsdl:message name="fetchRewardAccountTransactionResponse">
      <wsdl:part name="result" element="hpa:fetchRewardAccountTransactionResponse"/>
   </wsdl:message>
   <wsdl:message name="getOfferTypeList">
      <wsdl:part name="parameters" element="hpa:getOfferTypeList"/>
   </wsdl:message>
   <wsdl:message name="getOfferTypeListResponse">
      <wsdl:part name="result" element="hpa:getOfferTypeListResponse"/>
   </wsdl:message>
   <wsdl:message name="getPricePlanGroupList">
      <wsdl:part name="parameters" element="hpa:getPricePlanGroupList"/>
   </wsdl:message>
   <wsdl:message name="getPricePlanGroupListResponse">
      <wsdl:part name="result" element="hpa:getPricePlanGroupListResponse"/>
   </wsdl:message>
   <wsdl:message name="getRewardTransactionTypeList">
      <wsdl:part name="parameters" element="hpa:getRewardTransactionTypeList"/>
   </wsdl:message>
   <wsdl:message name="getRewardTransactionTypeListResponse">
      <wsdl:part name="result" element="hpa:getRewardTransactionTypeListResponse"/>
   </wsdl:message>
   <wsdl:message name="getRewardReasonCodeList">
      <wsdl:part name="parameters" element="hpa:getRewardReasonCodeList"/>
   </wsdl:message>
   <wsdl:message name="getRewardReasonCodeListResponse">
      <wsdl:part name="result" element="hpa:getRewardReasonCodeListResponse"/>
   </wsdl:message>
   <wsdl:message name="addRewardAccountTransaction">
      <wsdl:part name="parameters" element="hpa:addRewardAccountTransaction"/>
   </wsdl:message>
   <wsdl:message name="addRewardAccountTransactionResponse">
      <wsdl:part name="result" element="hpa:addRewardAccountTransactionResponse"/>
   </wsdl:message>
   <wsdl:message name="updateRewardAccountProfile">
      <wsdl:part name="parameters" element="hpa:updateRewardAccountProfile"/>
   </wsdl:message>
   <wsdl:message name="updateRewardAccountProfileResponse">
      <wsdl:part name="result" element="hpa:updateRewardAccountProfileResponse"/>
   </wsdl:message>
   <wsdl:message name="closeRewardAccount">
      <wsdl:part name="parameters" element="hpa:closeRewardAccount"/>
   </wsdl:message>
   <wsdl:message name="closeRewardAccountResponse">
      <wsdl:part name="result" element="hpa:closeRewardAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="restoreRewardAccount">
      <wsdl:part name="parameters" element="hpa:restoreRewardAccount"/>
   </wsdl:message>
   <wsdl:message name="restoreRewardAccountResponse">
      <wsdl:part name="result" element="hpa:restoreRewardAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="createSAPEntry">
      <wsdl:part name="parameters" element="hpa:createSAPEntry"/>
   </wsdl:message>
   <wsdl:message name="createSAPEntryResponse">
      <wsdl:part name="result" element="hpa:createSAPEntryResponse"/>
   </wsdl:message>
   <wsdl:message name="getMessageDescriptionList">
      <wsdl:part name="parameters" element="hpa:getMessageDescriptionList"/>
   </wsdl:message>
   <wsdl:message name="getMessageDescriptionListResponse">
      <wsdl:part name="result" element="hpa:getMessageDescriptionListResponse"/>
   </wsdl:message>
   <wsdl:message name="getBalancePaymentEligibility">
      <wsdl:part name="parameters" element="hpa:getBalancePaymentEligibility"/>
   </wsdl:message>
   <wsdl:message name="getBalancePaymentEligibilityResponse">
      <wsdl:part name="result" element="hpa:getBalancePaymentEligibilityResponse"/>
   </wsdl:message>
   <wsdl:message name="getTransactionPenalty">
      <wsdl:part name="parameters" element="hpa:getTransactionPenalty"/>
   </wsdl:message>
   <wsdl:message name="getTransactionPenaltyResponse">
      <wsdl:part name="result" element="hpa:getTransactionPenaltyResponse"/>
   </wsdl:message>
   <wsdl:message name="fetchRewardAccountList">
      <wsdl:part name="parameters" element="hpa:fetchRewardAccountList"/>
   </wsdl:message>
   <wsdl:message name="fetchRewardAccountListResponse">
      <wsdl:part name="result" element="hpa:fetchRewardAccountListResponse"/>
   </wsdl:message>
   <wsdl:message name="fetchRewardAccountTlcDetail">
      <wsdl:part name="parameters" element="hpa:fetchRewardAccountTlcDetail"/>
   </wsdl:message>
   <wsdl:message name="fetchRewardAccountTlcDetailResponse">
      <wsdl:part name="result" element="hpa:fetchRewardAccountTlcDetailResponse"/>
   </wsdl:message>
   <wsdl:message name="closeRewardAccountList">
      <wsdl:part name="parameters" element="hpa:closeRewardAccountList"/>
   </wsdl:message>
   <wsdl:message name="closeRewardAccountListResponse">
      <wsdl:part name="result" element="hpa:closeRewardAccountListResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="HardwarePurchaseAccountService_v1_4_PortType">
      <wsdl:operation name="getEligibleOfferList">
         <wsdl:input message="iface:getEligibleOfferList"/>
         <wsdl:output message="iface:getEligibleOfferListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getCSAEligibleOfferList">
         <wsdl:input message="iface:getCSAEligibleOfferList"/>
         <wsdl:output message="iface:getCSAEligibleOfferListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getOfferDetail">
         <wsdl:input message="iface:getOfferDetail"/>
         <wsdl:output message="iface:getOfferDetailResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getOfferEligibilityIndicator">
         <wsdl:input message="iface:getOfferEligibilityIndicator"/>
         <wsdl:output message="iface:getOfferEligibilityIndicatorResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="createRewardAccount">
         <wsdl:input message="iface:createRewardAccount"/>
         <wsdl:output message="iface:createRewardAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="fetchRewardAccount">
         <wsdl:input message="iface:fetchRewardAccount"/>
         <wsdl:output message="iface:fetchRewardAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="fetchRewardAccountAfterReturn">
         <wsdl:input message="iface:fetchRewardAccountAfterReturn"/>
         <wsdl:output message="iface:fetchRewardAccountAfterReturnResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="fetchRewardAccountTransaction">
         <wsdl:input message="iface:fetchRewardAccountTransaction"/>
         <wsdl:output message="iface:fetchRewardAccountTransactionResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getOfferTypeList">
         <wsdl:input message="iface:getOfferTypeList"/>
         <wsdl:output message="iface:getOfferTypeListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getPricePlanGroupList">
         <wsdl:input message="iface:getPricePlanGroupList"/>
         <wsdl:output message="iface:getPricePlanGroupListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getRewardTransactionTypeList">
         <wsdl:input message="iface:getRewardTransactionTypeList"/>
         <wsdl:output message="iface:getRewardTransactionTypeListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getRewardReasonCodeList">
         <wsdl:input message="iface:getRewardReasonCodeList"/>
         <wsdl:output message="iface:getRewardReasonCodeListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="addRewardAccountTransaction">
         <wsdl:input message="iface:addRewardAccountTransaction"/>
         <wsdl:output message="iface:addRewardAccountTransactionResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="updateRewardAccountProfile">
         <wsdl:input message="iface:updateRewardAccountProfile"/>
         <wsdl:output message="iface:updateRewardAccountProfileResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="closeRewardAccount">
         <wsdl:input message="iface:closeRewardAccount"/>
         <wsdl:output message="iface:closeRewardAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="restoreRewardAccount">
         <wsdl:input message="iface:restoreRewardAccount"/>
         <wsdl:output message="iface:restoreRewardAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="createSAPEntry">
         <wsdl:input message="iface:createSAPEntry"/>
         <wsdl:output message="iface:createSAPEntryResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getMessageDescriptionList">
         <wsdl:input message="iface:getMessageDescriptionList"/>
         <wsdl:output message="iface:getMessageDescriptionListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getBalancePaymentEligibility">
         <wsdl:input message="iface:getBalancePaymentEligibility"/>
         <wsdl:output message="iface:getBalancePaymentEligibilityResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getTransactionPenalty">
         <wsdl:input message="iface:getTransactionPenalty"/>
         <wsdl:output message="iface:getTransactionPenaltyResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="fetchRewardAccountList">
         <wsdl:input message="iface:fetchRewardAccountList"/>
         <wsdl:output message="iface:fetchRewardAccountListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="fetchRewardAccountTlcDetail">
         <wsdl:input message="iface:fetchRewardAccountTlcDetail"/>
         <wsdl:output message="iface:fetchRewardAccountTlcDetailResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="closeRewardAccountList">
         <wsdl:input message="iface:closeRewardAccountList"/>
         <wsdl:output message="iface:closeRewardAccountListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="HardwarePurchaseAccountService_v1_4_SOAP"
                 type="iface:HardwarePurchaseAccountService_v1_4_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getEligibleOfferList">
         <wsdl:documentation>This operation will return the offers (account types) that are available based on credit class, device price, etc
		The details of the offers will be returned as well.</wsdl:documentation>
         <soap:operation soapAction="getEligibleOfferList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getCSAEligibleOfferList">
         <wsdl:documentation>This operation will return the offers (account types) to be displayed on the customer service agreement.</wsdl:documentation>
         <soap:operation soapAction="getCSAEligibleOfferList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getOfferDetail">
         <wsdl:documentation>Returns the offer details about a given offer</wsdl:documentation>
         <soap:operation soapAction="getOfferDetail"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getOfferEligibilityIndicator">
         <wsdl:documentation>Returns a boolean indicating if the offer is available for this subscriber</wsdl:documentation>
         <soap:operation soapAction="getOfferEligibilityIndicator"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="createRewardAccount">
         <wsdl:documentation>creates a reward account for this subscriber in CODS</wsdl:documentation>
         <soap:operation soapAction="createRewardAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="fetchRewardAccount">
         <wsdl:documentation>This method returns the reward account information for a given subscriber, account details and transaction history can also be returned by setting the right boolean indicator in the parameters list</wsdl:documentation>
         <soap:operation soapAction="fetchRewardAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="fetchRewardAccountAfterReturn">
         <wsdl:documentation>Returns a reward account with transactions after return only for this subscriber</wsdl:documentation>
         <soap:operation soapAction="fetchRewardAccountAfterReturn"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="fetchRewardAccountTransaction">
         <wsdl:documentation>Returns a reward account including all associated transactions for this subscriber</wsdl:documentation>
         <soap:operation soapAction="fetchRewardAccountTransaction"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getOfferTypeList">
         <wsdl:documentation>Returns a list of available offer types for HPA</wsdl:documentation>
         <soap:operation soapAction="getOfferTypeList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getPricePlanGroupList">
         <wsdl:documentation>Returns a list of Price Plan Group for HPA</wsdl:documentation>
         <soap:operation soapAction="getPricePlanGroupList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getRewardTransactionTypeList">
         <wsdl:documentation>Returns a list of Reward Transaction Types available for HPA</wsdl:documentation>
         <soap:operation soapAction="getRewardTransactionTypeList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getRewardReasonCodeList">
         <wsdl:documentation>Returns a list of Reward Reason Codes available for HPA</wsdl:documentation>
         <soap:operation soapAction="getRewardReasonCodeList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="addRewardAccountTransaction">
         <wsdl:documentation>saves any reward account transaction including but not limited to Redemption, Return, Accrual, exchange, etc.</wsdl:documentation>
         <soap:operation soapAction="addRewardAccountTransaction"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateRewardAccountProfile">
         <wsdl:documentation>updates any information in the subscriber profile such as limits, accrual rate, discount rate, reward program type, etc</wsdl:documentation>
         <soap:operation soapAction="updateRewardAccountProfile"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="closeRewardAccount">
         <wsdl:documentation>changes the state of the reward account to closed and charge any negative balance to his last bill</wsdl:documentation>
         <soap:operation soapAction="closeRewardAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="restoreRewardAccount">
         <wsdl:documentation>restores the reward account after if has been closed</wsdl:documentation>
         <soap:operation soapAction="restoreRewardAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="createSAPEntry">
         <wsdl:documentation>creates SAP Entry for this subscriber</wsdl:documentation>
         <soap:operation soapAction="createSAPEntry"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getMessageDescriptionList">
         <wsdl:documentation>Returns a list of message descriptions available for this subscriber</wsdl:documentation>
         <soap:operation soapAction="getMessageDescriptionList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getBalancePaymentEligibility">
         <wsdl:documentation>Returns the max amount that the subscriber can pay as lump sum</wsdl:documentation>
         <soap:operation soapAction="getBalancePaymentEligibility"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getTransactionPenalty">
         <wsdl:documentation>Returns the penality amount if the subscriber moves from TAB L (charge of 10$/moth) to TAB M (charge of 5$/month)</wsdl:documentation>
         <soap:operation soapAction="getTransactionPenalty"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="fetchRewardAccountList">
         <wsdl:documentation>Returns a list of reward account for all subscribers under this BAN</wsdl:documentation>
         <soap:operation soapAction="fetchRewardAccountList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="fetchRewardAccountTlcDetail">
         <wsdl:documentation>Returns a TLC Reward Account Details, if any, for this subscriber</wsdl:documentation>
         <soap:operation soapAction="fetchRewardAccountTlcDetail"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="closeRewardAccountList">
         <wsdl:documentation>closes a list of reward accounts</wsdl:documentation>
         <soap:operation soapAction="closeRewardAccountList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="HardwarePurchaseAccountService_v1_4">
      <wsdl:port name="HardwarePurchaseAccountServicePort"
                 binding="iface:HardwarePurchaseAccountService_v1_4_SOAP">
         <soap:address location="http://cmassurance-ccmgmt-dv103.tmi.telus.com/CMO/BillingAccountMgmt/HardwarePurchaseAccountService_v1_4/HardwarePurchaseAccountService_v1_4"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>