cmb-common/cmb-ws-clients/voip-supplementary-ws-client-1-1/src/main/resources/wsdls/VoipSupplementaryService_v1_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:shttp="http://soa.com/wsdl/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/SMO/Activation/VoipSupplementaryService_1"
                  xmlns:vss="http://xmlschema.tmi.telus.com/srv/SMO/Activation/VoipSupplementaryServiceRequestResponse_v1"
                  targetNamespace="http://telus.com/wsdl/SMO/Activation/VoipSupplementaryService_1"><!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v3_2.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_1.xsd
			--><wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/SMO/Activation/VoipSupplementaryService_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/SMO/Activation/VoipSupplementaryServiceRequestResponse_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/SMO/Activation/VoipSupplementaryServiceRequestResponse_v1_1.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getTimezoneList">
      <wsdl:part name="parameters" element="vss:getTimezoneList"/>
   </wsdl:message>
   <wsdl:message name="getTimezoneListResponse">
      <wsdl:part name="result" element="vss:getTimezoneListResponse"/>
   </wsdl:message>
   <wsdl:message name="getCountryList">
      <wsdl:part name="parameters" element="vss:getCountryList"/>
   </wsdl:message>
   <wsdl:message name="getCountryListResponse">
      <wsdl:part name="result" element="vss:getCountryListResponse"/>
   </wsdl:message>
   <wsdl:message name="getProvinceList">
      <wsdl:part name="parameters" element="vss:getProvinceList"/>
   </wsdl:message>
   <wsdl:message name="getProvinceListResponse">
      <wsdl:part name="result" element="vss:getProvinceListResponse"/>
   </wsdl:message>
   <wsdl:message name="getTollFreeNpaList">
      <wsdl:part name="parameters" element="vss:getTollFreeNpaList"/>
   </wsdl:message>
   <wsdl:message name="getTollFreeNpaListResponse">
      <wsdl:part name="result" element="vss:getTollFreeNpaListResponse"/>
   </wsdl:message>
   <wsdl:message name="getLocationList">
      <wsdl:part name="parameters" element="vss:getLocationList"/>
   </wsdl:message>
   <wsdl:message name="getLocationListResponse">
      <wsdl:part name="result" element="vss:getLocationListResponse"/>
   </wsdl:message>
   <wsdl:message name="lookupNumberByNpa">
      <wsdl:part name="parameters" element="vss:lookupNumberByNpa"/>
   </wsdl:message>
   <wsdl:message name="lookupNumberByNpaResponse">
      <wsdl:part name="result" element="vss:lookupNumberByNpaResponse"/>
   </wsdl:message>
   <wsdl:message name="lookupLocalNumberByNpaNxx">
      <wsdl:part name="parameters" element="vss:lookupLocalNumberByNpaNxx"/>
   </wsdl:message>
   <wsdl:message name="lookupLocalNumberByNpaNxxResponse">
      <wsdl:part name="result" element="vss:lookupLocalNumberByNpaNxxResponse"/>
   </wsdl:message>
   <wsdl:message name="lookupTollFreeVanityNumberByNpaNxxLine">
      <wsdl:part name="parameters" element="vss:lookupTollFreeVanityNumberByNpaNxxLine"/>
   </wsdl:message>
   <wsdl:message name="lookupTollFreeVanityNumberByNpaNxxLineResponse">
      <wsdl:part name="result" element="vss:lookupTollFreeVanityNumberByNpaNxxLineResponse"/>
   </wsdl:message>
   <wsdl:message name="reserveTelephoneNumber">
      <wsdl:part name="parameters" element="vss:reserveTelephoneNumber"/>
   </wsdl:message>
   <wsdl:message name="reserveTelephoneNumberResponse">
      <wsdl:part name="result" element="vss:reserveTelephoneNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="returnTelephoneNumberReservation">
      <wsdl:part name="parameters" element="vss:returnTelephoneNumberReservation"/>
   </wsdl:message>
   <wsdl:message name="returnTelephoneNumberReservationResponse">
      <wsdl:part name="result" element="vss:returnTelephoneNumberReservationResponse"/>
   </wsdl:message>
   <wsdl:message name="getPhoneNumberInfo">
      <wsdl:part name="parameters" element="vss:getPhoneNumberInfo"/>
   </wsdl:message>
   <wsdl:message name="getPhoneNumberInfoResponse">
      <wsdl:part name="result" element="vss:getPhoneNumberInfoResponse"/>
   </wsdl:message>
   <wsdl:message name="getAccountInfo">
      <wsdl:part name="parameters" element="vss:getAccountInfo"/>
   </wsdl:message>
   <wsdl:message name="getAccountInfoResponse">
      <wsdl:part name="result" element="vss:getAccountInfoResponse"/>
   </wsdl:message>
   <wsdl:message name="getAccountSeatList">
      <wsdl:part name="parameters" element="vss:getAccountSeatList"/>
   </wsdl:message>
   <wsdl:message name="getAccountSeatListResponse">
      <wsdl:part name="result" element="vss:getAccountSeatListResponse"/>
   </wsdl:message>
   <wsdl:message name="getSeatInfo">
      <wsdl:part name="parameters" element="vss:getSeatInfo"/>
   </wsdl:message>
   <wsdl:message name="getSeatInfoResponse">
      <wsdl:part name="result" element="vss:getSeatInfoResponse"/>
   </wsdl:message>
   <wsdl:message name="getSeatPhoneNumberList">
      <wsdl:part name="parameters" element="vss:getSeatPhoneNumberList"/>
   </wsdl:message>
   <wsdl:message name="getSeatPhoneNumberListResponse">
      <wsdl:part name="result" element="vss:getSeatPhoneNumberListResponse"/>
   </wsdl:message>
   <wsdl:message name="getOperatorSubscriptionId">
      <wsdl:part name="parameters" element="vss:getOperatorSubscriptionId"/>
   </wsdl:message>
   <wsdl:message name="getOperatorSubscriptionIdResponse">
      <wsdl:part name="result" element="vss:getOperatorSubscriptionIdResponse"/>
   </wsdl:message>
   <wsdl:message name="changeSeatUserRole">
      <wsdl:part name="parameters" element="vss:changeSeatUserRole"/>
   </wsdl:message>
   <wsdl:message name="changeSeatUserRoleResponse">
      <wsdl:part name="result" element="vss:changeSeatUserRoleResponse"/>
   </wsdl:message>
   <wsdl:message name="purchaseDevice">
      <wsdl:part name="parameters" element="vss:purchaseDevice"/>
   </wsdl:message>
   <wsdl:message name="purchaseDeviceResponse">
      <wsdl:part name="result" element="vss:purchaseDeviceResponse"/>
   </wsdl:message>
   <wsdl:message name="getDevicePurchaseOrderInfoByOrderId">
      <wsdl:part name="parameters" element="vss:getDevicePurchaseOrderInfoByOrderId"/>
   </wsdl:message>
   <wsdl:message name="getDevicePurchaseOrderInfoByOrderIdResponse">
      <wsdl:part name="result" element="vss:getDevicePurchaseOrderInfoByOrderIdResponse"/>
   </wsdl:message>
   <wsdl:message name="getDeviceInfoByDeviceId">
      <wsdl:part name="parameters" element="vss:getDeviceInfoByDeviceId"/>
   </wsdl:message>
   <wsdl:message name="getDeviceInfoByDeviceIdResponse">
      <wsdl:part name="result" element="vss:getDeviceInfoByDeviceIdResponse"/>
   </wsdl:message>
   <wsdl:message name="getAllExtensionDeviceList">
      <wsdl:part name="parameters" element="vss:getAllExtensionDeviceList"/>
   </wsdl:message>
   <wsdl:message name="getAllExtensionDeviceListResponse">
      <wsdl:part name="result" element="vss:getAllExtensionDeviceListResponse"/>
   </wsdl:message>
   <wsdl:message name="getAccountDeviceList">
      <wsdl:part name="parameters" element="vss:getAccountDeviceList"/>
   </wsdl:message>
   <wsdl:message name="getAccountDeviceListResponse">
      <wsdl:part name="result" element="vss:getAccountDeviceListResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:portType name="VoipSupplementaryService_v1_1_PortType">
      <wsdl:operation name="getTimezoneList">
         <wsdl:input message="iface:getTimezoneList"/>
         <wsdl:output message="iface:getTimezoneListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getCountryList">
         <wsdl:input message="iface:getCountryList"/>
         <wsdl:output message="iface:getCountryListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getProvinceList">
         <wsdl:input message="iface:getProvinceList"/>
         <wsdl:output message="iface:getProvinceListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getTollFreeNpaList">
         <wsdl:input message="iface:getTollFreeNpaList"/>
         <wsdl:output message="iface:getTollFreeNpaListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getLocationList">
         <wsdl:input message="iface:getLocationList"/>
         <wsdl:output message="iface:getLocationListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="lookupNumberByNpa">
         <wsdl:input message="iface:lookupNumberByNpa"/>
         <wsdl:output message="iface:lookupNumberByNpaResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="lookupLocalNumberByNpaNxx">
         <wsdl:input message="iface:lookupLocalNumberByNpaNxx"/>
         <wsdl:output message="iface:lookupLocalNumberByNpaNxxResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="lookupTollFreeVanityNumberByNpaNxxLine">
         <wsdl:input message="iface:lookupTollFreeVanityNumberByNpaNxxLine"/>
         <wsdl:output message="iface:lookupTollFreeVanityNumberByNpaNxxLineResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="reserveTelephoneNumber">
         <wsdl:input message="iface:reserveTelephoneNumber"/>
         <wsdl:output message="iface:reserveTelephoneNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="returnTelephoneNumberReservation">
         <wsdl:input message="iface:returnTelephoneNumberReservation"/>
         <wsdl:output message="iface:returnTelephoneNumberReservationResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getPhoneNumberInfo">
         <wsdl:input message="iface:getPhoneNumberInfo"/>
         <wsdl:output message="iface:getPhoneNumberInfoResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAccountInfo">
         <wsdl:input message="iface:getAccountInfo"/>
         <wsdl:output message="iface:getAccountInfoResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAccountSeatList">
         <wsdl:input message="iface:getAccountSeatList"/>
         <wsdl:output message="iface:getAccountSeatListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSeatInfo">
         <wsdl:input message="iface:getSeatInfo"/>
         <wsdl:output message="iface:getSeatInfoResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSeatPhoneNumberList">
         <wsdl:input message="iface:getSeatPhoneNumberList"/>
         <wsdl:output message="iface:getSeatPhoneNumberListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getOperatorSubscriptionId">
         <wsdl:input message="iface:getOperatorSubscriptionId"/>
         <wsdl:output message="iface:getOperatorSubscriptionIdResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="changeSeatUserRole">
         <wsdl:input message="iface:changeSeatUserRole"/>
         <wsdl:output message="iface:changeSeatUserRoleResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="purchaseDevice">
         <wsdl:input message="iface:purchaseDevice"/>
         <wsdl:output message="iface:purchaseDeviceResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getDevicePurchaseOrderInfoByOrderId">
         <wsdl:input message="iface:getDevicePurchaseOrderInfoByOrderId"/>
         <wsdl:output message="iface:getDevicePurchaseOrderInfoByOrderIdResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getDeviceInfoByDeviceId">
         <wsdl:input message="iface:getDeviceInfoByDeviceId"/>
         <wsdl:output message="iface:getDeviceInfoByDeviceIdResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAllExtensionDeviceList">
         <wsdl:input message="iface:getAllExtensionDeviceList"/>
         <wsdl:output message="iface:getAllExtensionDeviceListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAccountDeviceList">
         <wsdl:input message="iface:getAccountDeviceList"/>
         <wsdl:output message="iface:getAccountDeviceListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="VoipSupplementaryService_v1_1_SOAP"
                 type="iface:VoipSupplementaryService_v1_1_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getTimezoneList">
         <wsdl:documentation>get timezone list</wsdl:documentation>
         <soap:operation soapAction="getTimezoneList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getCountryList">
         <wsdl:documentation>get country list</wsdl:documentation>
         <soap:operation soapAction="getCountryList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getProvinceList">
         <wsdl:documentation>get province list</wsdl:documentation>
         <soap:operation soapAction="getProvinceList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getTollFreeNpaList">
         <wsdl:documentation>get Toll Free Npa list</wsdl:documentation>
         <soap:operation soapAction="getTollFreeNpaList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getLocationList">
         <wsdl:documentation>get city location list</wsdl:documentation>
         <soap:operation soapAction="getLocationList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="lookupNumberByNpa">
         <wsdl:documentation>lookup telephone number by NPA</wsdl:documentation>
         <soap:operation soapAction="lookupNumberByNpa"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="lookupLocalNumberByNpaNxx">
         <wsdl:documentation>lookup local telephone number by NPA NXX and LINE where LINE can contain wildcard characters</wsdl:documentation>
         <soap:operation soapAction="lookupLocalNumberByNpaNxx"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="lookupTollFreeVanityNumberByNpaNxxLine">
         <wsdl:documentation>lookup Toll Free Vanity telephone number by NPA NXX and LINE where NXX and LINE can contain wildcard characters</wsdl:documentation>
         <soap:operation soapAction="lookupTollFreeVanityNumberByNpaNxxLine"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="reserveTelephoneNumber">
         <wsdl:documentation>reserve one of more telephone numbers</wsdl:documentation>
         <soap:operation soapAction="reserveTelephoneNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="returnTelephoneNumberReservation">
         <wsdl:documentation>return one or more reserved telephone numbers</wsdl:documentation>
         <soap:operation soapAction="returnTelephoneNumberReservation"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getPhoneNumberInfo">
         <wsdl:documentation>get phone number info</wsdl:documentation>
         <soap:operation soapAction="getPhoneNumberInfo"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAccountInfo">
         <wsdl:documentation>get account info</wsdl:documentation>
         <soap:operation soapAction="getAccountInfo"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAccountSeatList">
         <wsdl:documentation>get account info</wsdl:documentation>
         <soap:operation soapAction="getAccountSeatList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSeatInfo">
         <wsdl:documentation>get seat info</wsdl:documentation>
         <soap:operation soapAction="getSeatInfo"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSeatPhoneNumberList">
         <wsdl:documentation>get seat phone number info</wsdl:documentation>
         <soap:operation soapAction="getSeatPhoneNumberList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getOperatorSubscriptionId">
         <wsdl:documentation>get operator subscription Id</wsdl:documentation>
         <soap:operation soapAction="getOperatorSubscriptionId"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="changeSeatUserRole">
         <wsdl:documentation>get seat user role</wsdl:documentation>
         <soap:operation soapAction="changeSeatUserRole"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="purchaseDevice">
         <wsdl:documentation>purchase devices</wsdl:documentation>
         <soap:operation soapAction="purchaseDevice"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getDevicePurchaseOrderInfoByOrderId">
         <wsdl:documentation>get device purchase order info</wsdl:documentation>
         <soap:operation soapAction="getDevicePurchaseOrderInfoByOrderId"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getDeviceInfoByDeviceId">
         <wsdl:documentation>get device info by device Id</wsdl:documentation>
         <soap:operation soapAction="getDeviceInfoByDeviceId"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAllExtensionDeviceList">
         <wsdl:documentation>get all extension device list</wsdl:documentation>
         <soap:operation soapAction="getAllExtensionDeviceList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAccountDeviceList">
         <wsdl:documentation>get account device list</wsdl:documentation>
         <soap:operation soapAction="getAccountDeviceList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="VoipSupplementaryService_v1_1">
      <wsdl:port name="VoipSupplementaryServicePort"
                 binding="iface:VoipSupplementaryService_v1_1_SOAP">
         <soap:address location="https://wlprov-services-dv103.tmi.telus.com/v1/smo/activation/serviceactivationmgmt/voipsupplementaryservice-v1-1"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>