cmb-ws/cmb-account-info-ws-3-2/wsdl/src/main/resources/wsdls/AccountInformationServiceRequestResponse_v3_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by TELUS COMMUNICATIONS (TELUS COMMUNICATIONS) -->
<xsd:schema xmlns:tns="http://xmlschema.tmi.telus.com/srv/CMO/InformationMgmt/AccountInformationServiceRequestResponse_v3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:acc="http://xmlschema.tmi.telus.com/xsd/Customer/BaseTypes/AccountInformationTypes_v2" xmlns:ect="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/EnterpriseCommonTypes_v8" xmlns:common="http://xmlschema.tmi.telus.com/xsd/Customer/Customer/CustomerManagementCommonTypes_v3" xmlns:avalon="http://schemas.telus.com/avalon/common/v1_0" targetNamespace="http://xmlschema.tmi.telus.com/srv/CMO/InformationMgmt/AccountInformationServiceRequestResponse_v3" elementFormDefault="qualified">
	<xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Customer/BaseTypes/AccountInformationTypes_v2" schemaLocation="http://xmlschema.tmi.telus.com/xsd/Customer/BaseTypes/AccountInformationTypes_v2_0.xsd"/>
	<xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Customer/Customer/CustomerManagementCommonTypes_v3" schemaLocation="http://xmlschema.tmi.telus.com/xsd/Customer/Customer/CustomerManagementCommonTypes_v3_0.xsd"/>
	<xsd:import namespace="http://schemas.telus.com/avalon/common/v1_0" schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/AvalonCommonSchema_v1_0.xsd"/>
	<xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/EnterpriseCommonTypes_v8" schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/EnterpriseCommonTypes_v8_0.xsd"/>
	<xsd:element name="getAccountByAccountNumber">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getAccountByAccountNumberResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="account" type="acc:Account"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getAccountByPhoneNumber">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="phoneNumber" type="common:PhoneNumber"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getAccountByPhoneNumberResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="account" type="acc:Account"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getAccountListByAccountNumbers">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="billingAccountNumber" type="common:AccountNumber" maxOccurs="1000"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getAccountListByAccountNumbersResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="account" type="acc:Account" minOccurs="0" maxOccurs="1000"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getAccountListByIMSI">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IMSI" type="common:IMSIType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getAccountListByIMSIResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="account" type="acc:Account" minOccurs="0" maxOccurs="1000"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getEmailAddress">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getEmailAddressResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="emailAddress" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="updateEmailAddress">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
				<xsd:element name="emailAddress" type="xsd:string"/>
				<xsd:element name="notificationSuppressionInd" type="xsd:boolean" default="false" minOccurs="0"/>
				<xsd:element name="auditInfo" type="ect:AuditInfo" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="updateEmailAddressResponse">
		<xsd:complexType>
			<xsd:sequence/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getInvoicePropertyList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getInvoicePropertyListResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="invoicePropertyList" type="acc:InvoicePropertyListType" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="updateInvoicePropertyList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
				<xsd:element name="invoicePropertyList" type="acc:InvoicePropertyListType"/>
				<xsd:element name="notificationSuppressionInd" type="xsd:boolean" default="false" minOccurs="0"/>
				<xsd:element name="auditInfo" type="ect:AuditInfo" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="updateInvoicePropertyListResponse">
		<xsd:complexType>
			<xsd:sequence/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getBillingInformation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getBillingInformationResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="billingPropertyList" type="acc:BillingPropertyListType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="updateContactInformation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
				<xsd:element name="contactPropertyList" type="acc:ContactPropertyListType"/>
				<xsd:element name="notificationSuppressionInd" type="xsd:boolean" default="false" minOccurs="0"/>
				<xsd:element name="auditInfo" type="ect:AuditInfo" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="updateContactInformationResponse">
		<xsd:complexType>
			<xsd:sequence/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getContactInformation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getContactInformationResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="contactPropertyList" type="acc:ContactPropertyListType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getBillCyclePropertyList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getBillCyclePropertyListResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="billCyclePropertyList" type="acc:BillCyclePropertyListType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="createMemo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
				<xsd:element name="memo" type="acc:AccountMemo"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="createMemoResponse">
		<xsd:complexType>
			<xsd:sequence/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getLastMemo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
				<xsd:element name="memoType" type="common:MemoType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getLastMemoResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="lastMemo" type="common:Memo" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="checkInternationalServiceEligibility">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="checkInternationalServiceEligibilityResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="checkInternationalServiceEligibilityResponse" type="acc:InternationalServiceEligibilityCheckResult"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPersonalCreditInformation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getPersonalCreditInformationResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="personalCreditInformation" type="common:PersonalCreditInformation"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getBusinessCreditInformation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getBusinessCreditInformationResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="businessCreditInformation" type="common:BusinessCreditInformation"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CreditCardValidationType">
		<xsd:sequence>
			<xsd:element name="validateCreditCardInd" type="xsd:boolean"/>
			<xsd:element name="businessRole" type="common:BusinessRole" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="updatePaymentMethod">
		<xsd:annotation>
			<xsd:documentation>Only applies to postpaid subscribers.  For prepaid subscribers use equivalent prepaid operations: registerTopUpCreditCard, removeTopUpCreditCard</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
				<xsd:element name="paymentMethod" type="common:PaymentMethod"/>
				<xsd:element name="paymentMethodValidation" type="tns:CreditCardValidationType"/>
				<xsd:element name="notificationSuppressionInd" type="xsd:boolean" default="false" minOccurs="0"/>
				<xsd:element name="auditInfo" type="ect:AuditInfo" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="updatePaymentMethodResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="authorization" type="common:PaymentMethodAuthorizationType" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="registerTopUpCreditCard">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
				<xsd:element name="creditCard" type="common:CreditCard"/>
				<xsd:element name="creditCardValidation" type="tns:CreditCardValidationType"/>
				<xsd:element name="notificationSuppressionInd" type="xsd:boolean" default="false" minOccurs="0"/>
				<xsd:element name="auditInfo" type="ect:AuditInfo" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="registerTopUpCreditCardResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="authorization" type="common:PaymentMethodAuthorizationType" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="removeTopUpCreditCard">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="removeTopUpCreditCardResponse">
		<xsd:complexType>
			<xsd:sequence/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FollowUpRequest">
		<xsd:sequence>
			<xsd:element name="followUpType" type="common:MemoType"/>
			<xsd:element name="dueDate" type="xsd:date"/>
			<xsd:element name="followUpText" type="xsd:string" nillable="true"/>
			<xsd:element name="assignedToWorkPositionId" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="createFollowUp">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
				<xsd:element name="followUp" type="tns:FollowUpRequest"/>
				<xsd:element name="asyncInd" type="xsd:boolean" default="false"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="createFollowUpResponse">
		<xsd:complexType>
			<xsd:sequence/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getSubscriberEligibilitySupportingInfo">
		<xsd:annotation>
			<xsd:documentation>This operation provides ability to retrieve supporting data required by add-on subscriber eligibility check. Expected consumer is Risk Management team.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="billingAccountNumber" type="common:AccountNumber"/>
				<xsd:element name="memoTypeList" type="common:MemoType" minOccurs="0" maxOccurs="1000"/>
				<xsd:element name="dateFrom" type="xsd:date"/>
				<xsd:element name="dateTo" type="xsd:date"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getSubscriberEligibilitySupportingInfoResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="memoList" type="common:Memo" minOccurs="0" maxOccurs="1000">
					<xsd:annotation>
						<xsd:documentation>Will return the last memo for each given memo type.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="totalPaymentAmount" type="common:PaymentAmount">
					<xsd:annotation>
						<xsd:documentation>Will return sum of actual amounts in customer payment history from account creation time to present.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="totalDepositHeld" type="common:PaymentAmount">
					<xsd:annotation>
						<xsd:documentation>Will return sum of actual deposit paid amount in customer deposit history from account creation time to present (Excluding any returned deposit).</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UserHeader" type="avalon:OriginatingUserType"/>
</xsd:schema>
