cmb-common/cmb-ws-clients/subscription-ws-client-2-1/src/main/resources/wsdls/SubscriptionService_v2_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/SelfMgmt/SubscriptionService_2"
                  xmlns:ss="http://xmlschema.tmi.telus.com/srv/CMO/SelfMgmt/SubscriptionService_v2"
                  name="SubscriptionService_v2_1.wsdl"
                  targetNamespace="http://telus.com/wsdl/CMO/SelfMgmt/SubscriptionService_2"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_6.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Service supports management of customer subscription</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/SelfMgmt/SubscriptionService_2">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/SelfMgmt/SubscriptionService_v2"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/SelfMgmt/SubscriptionService_v2_1_RequestResponse.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getBalance">
      <wsdl:part name="parameters" element="ss:getBalance"/>
   </wsdl:message>
   <wsdl:message name="getBalanceResponse">
      <wsdl:part name="result" element="ss:getBalanceResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscribedProducts">
      <wsdl:part name="parameters" element="ss:getSubscribedProducts"/>
   </wsdl:message>
   <wsdl:message name="getSubscribedProductsResponse">
      <wsdl:part name="result" element="ss:getSubscribedProductsResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscribedProductsByType">
      <wsdl:part name="parameters" element="ss:getSubscribedProductsByType"/>
   </wsdl:message>
   <wsdl:message name="getSubscribedProductsByTypeResponse">
      <wsdl:part name="result" element="ss:getSubscribedProductsByTypeResponse"/>
   </wsdl:message>
   <wsdl:message name="removeSubscribedProduct">
      <wsdl:part name="parameters" element="ss:removeSubscribedProduct"/>
   </wsdl:message>
   <wsdl:message name="removeSubscribedProductResponse">
      <wsdl:part name="result" element="ss:removeSubscribedProductResponse"/>
   </wsdl:message>
   <wsdl:message name="changeProductCharacteristicValue">
      <wsdl:part name="parameters" element="ss:changeProductCharacteristicValue"/>
   </wsdl:message>
   <wsdl:message name="changeProductCharacteristicValueResponse">
      <wsdl:part name="result" element="ss:changeProductCharacteristicValueResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="SubscriptionServicePortType">
      <wsdl:operation name="getBalance">
         <wsdl:input message="iface:getBalance"/>
         <wsdl:output message="iface:getBalanceResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscribedProducts">
         <wsdl:input message="iface:getSubscribedProducts"/>
         <wsdl:output message="iface:getSubscribedProductsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscribedProductsByType">
         <wsdl:input message="iface:getSubscribedProductsByType"/>
         <wsdl:output message="iface:getSubscribedProductsByTypeResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="removeSubscribedProduct">
         <wsdl:input message="iface:removeSubscribedProduct"/>
         <wsdl:output message="iface:removeSubscribedProductResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="changeProductCharacteristicValue">
         <wsdl:input message="iface:changeProductCharacteristicValue"/>
         <wsdl:output message="iface:changeProductCharacteristicValueResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SubscriptionServiceSOAP" type="iface:SubscriptionServicePortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getBalance">
         <wsdl:documentation>Retrieval of subscription balances.</wsdl:documentation>
         <soap:operation soapAction="getBalance"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscribedProducts">
         <wsdl:documentation>Retrieval of subscription product offers and characteristics.</wsdl:documentation>
         <soap:operation soapAction="getSubscribedProducts"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscribedProductsByType">
         <wsdl:documentation>Retrieval of subscription product offers and characteristics with different product type.</wsdl:documentation>
         <soap:operation soapAction="getSubscribedProductsByType"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="removeSubscribedProduct">
         <wsdl:documentation>Remove subscribed product from customer subscription.</wsdl:documentation>
         <soap:operation soapAction="removeSubscribedProduct"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="changeProductCharacteristicValue">
         <wsdl:documentation>Modify subscribed product characteristic.</wsdl:documentation>
         <soap:operation soapAction="changeProductCharacteristicValue"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="SubscriptionService_v2_1">
      <wsdl:port name="SubscriptionServicePort" binding="iface:SubscriptionServiceSOAP">
         <soap:address location="http://prepaidmgmtesb2-dv103.tmi.telus.com/CMO/SelfMgmt/SubscriptionService_v2_1"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>