cmb-common/cmb-ws-clients/subscription-mgmt-ws-client-3-1/src/main/resources/wsdls/SubscriptionManagementService_v3_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/BillingAccountMgmt/SubscriptionManagementService_3"
                  xmlns:sm="http://schemas.telus.com/srv/CMO/BillingAccountMgmt/SubscriptionManagementService_v3"
                  name="SubscriptionManagementService_v3_1.wsdl"
                  targetNamespace="http://telus.com/wsdl/CMO/BillingAccountMgmt/SubscriptionManagementService_3"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Support registering for interval and threshold topups, applying credit to prepaid accounts using credit card, voucher and debitcard to a prepaid account.</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/BillingAccountMgmt/SubscriptionManagementService_3">
         <xsd:import namespace="http://schemas.telus.com/srv/CMO/BillingAccountMgmt/SubscriptionManagementService_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/BillingAccountMgmt/SubscriptionManagementServiceRequestResponse_v3_1.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="registerRechargePaymentInstrument">
      <wsdl:part name="parameters" element="sm:registerRechargePaymentInstrument"/>
      <wsdl:part name="registerRechargePaymentInstrumentInSoapHdr" element="sm:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="registerRechargePaymentInstrumentResponse">
      <wsdl:part name="result" element="sm:registerRechargePaymentInstrumentResponse"/>
   </wsdl:message>
   <wsdl:message name="updateRechargePaymentInstrument">
      <wsdl:part name="parameters" element="sm:updateRechargePaymentInstrument"/>
      <wsdl:part name="updateRechargePaymentInstrumentInSoapHdr" element="sm:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="updateRechargePaymentInstrumentResponse">
      <wsdl:part name="result" element="sm:updateRechargePaymentInstrumentResponse"/>
   </wsdl:message>
   <wsdl:message name="registerAutomaticRecharge">
      <wsdl:part name="parameters" element="sm:registerAutomaticRecharge"/>
      <wsdl:part name="registerAutomaticRechargeInSoapHdr" element="sm:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="registerAutomaticRechargeResponse">
      <wsdl:part name="result" element="sm:registerAutomaticRechargeResponse"/>
   </wsdl:message>
   <wsdl:message name="changeAutomaticRecharge">
      <wsdl:part name="parameters" element="sm:changeAutomaticRecharge"/>
      <wsdl:part name="changeAutomaticRechargeInSoapHdr" element="sm:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="changeAutomaticRechargeResponse">
      <wsdl:part name="result" element="sm:changeAutomaticRechargeResponse"/>
   </wsdl:message>
   <wsdl:message name="rechargeBalanceByRegisteredPaymentInstrument">
      <wsdl:part name="parameters" element="sm:rechargeBalanceByRegisteredPaymentInstrument"/>
      <wsdl:part name="rechargeBalanceByRegisteredPaymentInstrumentInSoapHdr"
                 element="sm:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="rechargeBalanceByRegisteredPaymentInstrumentResponse">
      <wsdl:part name="result" element="sm:rechargeBalanceByRegisteredPaymentInstrumentResponse"/>
   </wsdl:message>
   <wsdl:message name="rechargeBalanceByVoucher">
      <wsdl:part name="parameters" element="sm:rechargeBalanceByVoucher"/>
      <wsdl:part name="rechargeBalanceByVoucherInSoapHdr" element="sm:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="rechargeBalanceByVoucherResponse">
      <wsdl:part name="result" element="sm:rechargeBalanceByVoucherResponse"/>
   </wsdl:message>
   <wsdl:message name="rechargeBalanceByPaymentInstrument">
      <wsdl:part name="parameters" element="sm:rechargeBalanceByPaymentInstrument"/>
      <wsdl:part name="rechargeBalanceByPaymentInstrumentInSoapHdr" element="sm:UserHeader"/>
   </wsdl:message>
   <wsdl:message name="rechargeBalanceByPaymentInstrumentResponse">
      <wsdl:part name="result" element="sm:rechargeBalanceByPaymentInstrumentResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="SubscriptionManagementService_v3_1_PortType">
      <wsdl:operation name="registerRechargePaymentInstrument">
         <wsdl:input message="iface:registerRechargePaymentInstrument"/>
         <wsdl:output message="iface:registerRechargePaymentInstrumentResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="updateRechargePaymentInstrument">
         <wsdl:input message="iface:updateRechargePaymentInstrument"/>
         <wsdl:output message="iface:updateRechargePaymentInstrumentResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="registerAutomaticRecharge">
         <wsdl:input message="iface:registerAutomaticRecharge"/>
         <wsdl:output message="iface:registerAutomaticRechargeResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="changeAutomaticRecharge">
         <wsdl:input message="iface:changeAutomaticRecharge"/>
         <wsdl:output message="iface:changeAutomaticRechargeResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="rechargeBalanceByRegisteredPaymentInstrument">
         <wsdl:input message="iface:rechargeBalanceByRegisteredPaymentInstrument"/>
         <wsdl:output message="iface:rechargeBalanceByRegisteredPaymentInstrumentResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="rechargeBalanceByVoucher">
         <wsdl:input message="iface:rechargeBalanceByVoucher"/>
         <wsdl:output message="iface:rechargeBalanceByVoucherResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="rechargeBalanceByPaymentInstrument">
         <wsdl:input message="iface:rechargeBalanceByPaymentInstrument"/>
         <wsdl:output message="iface:rechargeBalanceByPaymentInstrumentResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SubscriptionManagementService_v3_1_SOAP"
                 type="iface:SubscriptionManagementService_v3_1_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="registerRechargePaymentInstrument">
         <wsdl:documentation>Register payment instrument.  Example: registration of a credit card on for prepaid subscription.</wsdl:documentation>
         <soap:operation soapAction="registerRechargePaymentInstrument"/>
         <wsdl:input>
            <wsdl:documentation>User Header allows input of customer ID and list of consuming application IDs</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:registerRechargePaymentInstrument"
                         part="registerRechargePaymentInstrumentInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateRechargePaymentInstrument">
         <wsdl:documentation>Update registered payment instrument. Example: update registered credit card expiry date</wsdl:documentation>
         <soap:operation soapAction="updateRechargePaymentInstrument"/>
         <wsdl:input>
            <wsdl:documentation>User Header allows input of customer ID and list of consuming application IDs</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:updateRechargePaymentInstrument"
                         part="updateRechargePaymentInstrumentInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="registerAutomaticRecharge">
         <wsdl:documentation>Register automatic recharge - prepaid accounts support auto-topup registration and threshold topup registration.</wsdl:documentation>
         <soap:operation soapAction="registerAutomaticRecharge"/>
         <wsdl:input>
            <wsdl:documentation>User Header allows input of customer ID and list of consuming application IDs</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:registerAutomaticRecharge"
                         part="registerAutomaticRechargeInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="changeAutomaticRecharge">
         <wsdl:documentation>Modify automatic recharge profile - prepaid accounts support auto-topup recharge profile and threshold topup profile.</wsdl:documentation>
         <soap:operation soapAction="changeAutomaticRecharge"/>
         <wsdl:input>
            <wsdl:documentation>User Header allows input of customer ID and list of consuming application IDs</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:changeAutomaticRecharge"
                         part="changeAutomaticRechargeInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="rechargeBalanceByRegisteredPaymentInstrument">
         <wsdl:documentation>Recharge balance by registered payment instrument.</wsdl:documentation>
         <soap:operation soapAction="rechargeBalanceByRegisteredPaymentInstrument"/>
         <wsdl:input>
            <wsdl:documentation>User Header allows input of customer ID and list of consuming application IDs</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:rechargeBalanceByRegisteredPaymentInstrument"
                         part="rechargeBalanceByRegisteredPaymentInstrumentInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="rechargeBalanceByVoucher">
         <wsdl:documentation>Recharge balance by voucher or airtime card.</wsdl:documentation>
         <soap:operation soapAction="rechargeBalanceByVoucher"/>
         <wsdl:input>
            <wsdl:documentation>User Header allows input of customer ID and list of consuming application IDs</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:rechargeBalanceByVoucher"
                         part="rechargeBalanceByVoucherInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="rechargeBalanceByPaymentInstrument">
         <wsdl:documentation>Recharge balance by a payment instrument.</wsdl:documentation>
         <soap:operation soapAction="rechargeBalanceByPaymentInstrument"/>
         <wsdl:input>
            <wsdl:documentation>User Header allows input of customer ID and list of consuming application IDs</wsdl:documentation>
            <soap:body use="literal" parts="parameters"/>
            <soap:header use="literal" message="iface:rechargeBalanceByPaymentInstrument"
                         part="rechargeBalanceByPaymentInstrumentInSoapHdr"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="SubscriptionManagementService_v3_1">
      <wsdl:port name="SubscriptionManagementServicePort"
                 binding="iface:SubscriptionManagementService_v3_1_SOAP">
         <soap:address location="http://prepaidmgmtesb2-dv103.tmi.telus.com/CMO/BillingAccountMgmt/SubscriptionManagementService_v3_1"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>