cmb-common/cmb-ws-clients/ocssam-ws-client-3-2/src/main/resources/wsdls/OnlineChargingSubscriberAccountMgmtService_v3_2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:shttp="http://soa.com/wsdl/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/BillingAccountMgmt/OnlineChargingSubscriberAccountMgmtService_3"
                  xmlns:CMOBAcct="http://xmlschema.tmi.telus.com/srv/CMO/BillingAccountMgmt/OnlineChargingSubscriberAccountMgmtServiceRequestResponse_v3"
                  targetNamespace="http://telus.com/wsdl/CMO/BillingAccountMgmt/OnlineChargingSubscriberAccountMgmtService_3"><!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v3_2.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_1.xsd
			--><wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/BillingAccountMgmt/OnlineChargingSubscriberAccountMgmtService_3">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/BillingAccountMgmt/OnlineChargingSubscriberAccountMgmtServiceRequestResponse_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/BillingAccountMgmt/OnlineChargingSubscriberAccountMgmtServiceRequestResponse_v3_2.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="maintainSubscriberAccount">
      <wsdl:part name="parameters" element="CMOBAcct:maintainSubscriberAccount"/>
   </wsdl:message>
   <wsdl:message name="maintainSubscriberAccountResponse">
      <wsdl:part name="result" element="CMOBAcct:maintainSubscriberAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="blockSubscriber">
      <wsdl:part name="parameters" element="CMOBAcct:blockSubscriber"/>
   </wsdl:message>
   <wsdl:message name="blockSubscriberResponse">
      <wsdl:part name="result" element="CMOBAcct:blockSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="unblockSubscriber">
      <wsdl:part name="parameters" element="CMOBAcct:unblockSubscriber"/>
   </wsdl:message>
   <wsdl:message name="unblockSubscriberResponse">
      <wsdl:part name="result" element="CMOBAcct:unblockSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="maintainSubscriberPreference">
      <wsdl:part name="parameters" element="CMOBAcct:maintainSubscriberPreference"/>
   </wsdl:message>
   <wsdl:message name="maintainSubscriberPreferenceResponse">
      <wsdl:part name="result" element="CMOBAcct:maintainSubscriberPreferenceResponse"/>
   </wsdl:message>
   <wsdl:message name="maintainNotificationThreshold">
      <wsdl:part name="parameters" element="CMOBAcct:maintainNotificationThreshold"/>
   </wsdl:message>
   <wsdl:message name="maintainNotificationThresholdResponse">
      <wsdl:part name="result" element="CMOBAcct:maintainNotificationThresholdResponse"/>
   </wsdl:message>
   <wsdl:message name="maintainLargeBAN">
      <wsdl:part name="parameters" element="CMOBAcct:maintainLargeBAN"/>
   </wsdl:message>
   <wsdl:message name="maintainLargeBANResponse">
      <wsdl:part name="result" element="CMOBAcct:maintainLargeBANResponse"/>
   </wsdl:message>
   <wsdl:message name="maintainSharedGroupForBAN">
      <wsdl:part name="parameters" element="CMOBAcct:maintainSharedGroupForBAN"/>
   </wsdl:message>
   <wsdl:message name="maintainSharedGroupForBANResponse">
      <wsdl:part name="result" element="CMOBAcct:maintainSharedGroupForBANResponse"/>
   </wsdl:message>
   <wsdl:message name="unblockAccount">
      <wsdl:part name="parameters" element="CMOBAcct:unblockAccount"/>
   </wsdl:message>
   <wsdl:message name="unblockAccountResponse">
      <wsdl:part name="result" element="CMOBAcct:unblockAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="updateAccountPurchaseAmount">
      <wsdl:part name="parameters" element="CMOBAcct:updateAccountPurchaseAmount"/>
   </wsdl:message>
   <wsdl:message name="updateAccountPurchaseAmountResponse">
      <wsdl:part name="result" element="CMOBAcct:updateAccountPurchaseAmountResponse"/>
   </wsdl:message>
   <wsdl:message name="updateConsent">
      <wsdl:part name="parameters" element="CMOBAcct:updateConsent"/>
   </wsdl:message>
   <wsdl:message name="updateConsentResponse">
      <wsdl:part name="result" element="CMOBAcct:updateConsentResponse"/>
   </wsdl:message>
   <wsdl:message name="maintainAccountNotificationThreshold">
      <wsdl:part name="parameters" element="CMOBAcct:maintainAccountNotificationThreshold"/>
   </wsdl:message>
   <wsdl:message name="maintainAccountNotificationThresholdResponse">
      <wsdl:part name="result" element="CMOBAcct:maintainAccountNotificationThresholdResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:portType name="OnlineChargingSubscriberAccountMgmtService_v3_2_PortType">
      <wsdl:operation name="maintainSubscriberAccount">
         <wsdl:input message="iface:maintainSubscriberAccount"/>
         <wsdl:output message="iface:maintainSubscriberAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="blockSubscriber">
         <wsdl:input message="iface:blockSubscriber"/>
         <wsdl:output message="iface:blockSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="unblockSubscriber">
         <wsdl:input message="iface:unblockSubscriber"/>
         <wsdl:output message="iface:unblockSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="maintainSubscriberPreference">
         <wsdl:input message="iface:maintainSubscriberPreference"/>
         <wsdl:output message="iface:maintainSubscriberPreferenceResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="maintainNotificationThreshold">
         <wsdl:input message="iface:maintainNotificationThreshold"/>
         <wsdl:output message="iface:maintainNotificationThresholdResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="maintainLargeBAN">
         <wsdl:input message="iface:maintainLargeBAN"/>
         <wsdl:output message="iface:maintainLargeBANResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="maintainSharedGroupForBAN">
         <wsdl:input message="iface:maintainSharedGroupForBAN"/>
         <wsdl:output message="iface:maintainSharedGroupForBANResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="unblockAccount">
         <wsdl:input message="iface:unblockAccount"/>
         <wsdl:output message="iface:unblockAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="updateAccountPurchaseAmount">
         <wsdl:input message="iface:updateAccountPurchaseAmount"/>
         <wsdl:output message="iface:updateAccountPurchaseAmountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="updateConsent">
         <wsdl:input message="iface:updateConsent"/>
         <wsdl:output message="iface:updateConsentResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="maintainAccountNotificationThreshold">
         <wsdl:input message="iface:maintainAccountNotificationThreshold"/>
         <wsdl:output message="iface:maintainAccountNotificationThresholdResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="OnlineChargingSubscriberAccountMgmtService_v3_2_SOAP"
                 type="iface:OnlineChargingSubscriberAccountMgmtService_v3_2_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="maintainSubscriberAccount">
         <wsdl:documentation>Update subscriber account information in SAP CC.</wsdl:documentation>
         <soap:operation soapAction="maintainSubscriberAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="blockSubscriber">
         <wsdl:documentation>Block subscriber in SAP CC</wsdl:documentation>
         <soap:operation soapAction="blockSubscriber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="unblockSubscriber">
         <wsdl:documentation>Unblock subscriber in SAP CC</wsdl:documentation>
         <soap:operation soapAction="unblockSubscriber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="maintainSubscriberPreference">
         <wsdl:documentation>Update subscriber preferences in SAP CC</wsdl:documentation>
         <soap:operation soapAction="maintainSubscriberPreference"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="maintainNotificationThreshold">
         <wsdl:documentation>Update subscriber notification thresholds in SAP CC</wsdl:documentation>
         <soap:operation soapAction="maintainNotificationThreshold"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="maintainLargeBAN">
         <wsdl:documentation>Update SAP CC and TS if subscriber is added/removed from a large BAN</wsdl:documentation>
         <soap:operation soapAction="maintainLargeBAN"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="maintainSharedGroupForBAN">
         <wsdl:documentation>Send TS the list of subscribers added/removed from a shared group under a BAN</wsdl:documentation>
         <soap:operation soapAction="maintainSharedGroupForBAN"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="unblockAccount">
         <wsdl:documentation>Send unblock request to SAPCC for account level for particular zone(Dommestic or Roaming), type(PPU only for now) and level(Permanent, Immediate, Optional). Return True for success and False for failue.</wsdl:documentation>
         <soap:operation soapAction="unblockAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateAccountPurchaseAmount">
         <wsdl:documentation>Update account's purchase amount in SAPCC for Dommestic and Roaming. Action can be charge or reimburse. If the purchase amount breach the limit in SAPCC, the charge action will fail. Return True for success and False for failue.</wsdl:documentation>
         <soap:operation soapAction="updateAccountPurchaseAmount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateConsent">
         <wsdl:documentation>Update account consent in SAPCC for domestic and roaming to allow the account to purchase new offers which may breach the original limit. Return True for success and False for failue.</wsdl:documentation>
         <soap:operation soapAction="updateConsent"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="maintainAccountNotificationThreshold">
         <wsdl:documentation>Update notification thresholds configuration in SAP CC for account level. Set Opting Out Of Threshold Indicator to true for Opting Out notification. Return True for success and False for failue.</wsdl:documentation>
         <soap:operation soapAction="maintainAccountNotificationThreshold"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="OnlineChargingSubscriberAccountMgmtService_v3_2">
      <wsdl:port name="OnlineChargingSubscriberAccountMgmtServicePort"
                 binding="iface:OnlineChargingSubscriberAccountMgmtService_v3_2_SOAP">
         <soap:address location="http://rtr-ocsgateway-dv103.tmi.telus.com/v3-2/cmo/billingaccountmgmt/ocssamservice/onlinechargingsubscriberaccountmgmtservice-v3-2"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>